openapi: 3.0.1
info:
  title: freee販売 API
  version: '2026-02-16'
  termsOfService: https://app.secure.freee.co.jp/terms-freee-api.html
  contact:
    name: サポートデスクへのお問い合わせ
    url: https://accounts.secure.freee.co.jp/contacts?from=sales_management
  license:
    name: © Since 2013 freee K.K.
  description: |-
    <h2 id="start_guide">スタートガイド</h2> <p>freee API開発がはじめての方は<a href="https://developer.freee.co.jp/getting-started">freee APIスタートガイド</a>を参照してください。</p>
    <hr />
    <h2 id="specification">仕様</h2>
    <h3 id="api_endpoint">APIエンドポイント</h3> <p>https://api.freee.co.jp/sm (httpsのみ)</p>
    <h3 id="about_authorize">認証について</h3> <p>OAuth2.0を利用します。詳細は<a href="https://developer.freee.co.jp/reference/#%e8%aa%8d%e8%a8%bc"
        target="_blank">リファレンスの認証に関する記載</a>を参照してください。</p>

    <h3 id="data_format">データフォーマット</h3> <p>リクエスト、レスポンスともにJSON形式をサポートしていますが、詳細は、API毎の説明欄（application/jsonなど）を確認してください。</p>
    <h3 id="compatibility">後方互換性ありの変更</h3> <p>freeeでは、APIを改善していくために以下のような変更は後方互換性ありとして通知なく変更を入れることがあります。アプリケーション実装者は以下を踏まえて開発を行ってください。</p> <ul>
      <li>新しいAPIリソース・エンドポイントの追加</li>
      <li>既存のAPIに対して必須ではない新しいリクエストパラメータの追加</li>
      <li>既存のAPIレスポンスに対する新しいプロパティの追加</li>
      <li>既存のAPIレスポンスに対するプロパティの順番の入れ変え</li>
      <li>keyとなっているidやcodeの長さの変更（長くする）</li>
      <li>エラーメッセージの変更</li>
    </ul>
    <h3 id="common_response_header">共通レスポンスヘッダー</h3> <p>すべてのAPIのレスポンスには以下のHTTPヘッダーが含まれます。</p> <ul>
      <li>
        <p>X-Freee-Request-ID</p>
        <ul>
          <li>各リクエスト毎に発行されるID</li>
        </ul>
      </li>
    </ul>
    <h3 id="common_error_response">共通エラーレスポンス</h3>

    <p>APIリクエストでエラーが発生した場合は、エラー原因に応じたステータスコードおよびメッセージを返します。</p> <p>
      一部のエラーレスポンスにはエラーコードが含まれます。<br>
      詳細は、<a href="https://developer.freee.co.jp/tips/faq/40x-checkpoint">HTTPステータスコード400台エラー時のチェックポイント</a>を参照してください
    </p>
    <table border="1">
      <tbody>
        <tr>
          <th style="padding: 10px"><strong>ステータスコード</strong></th>
          <th style="padding: 10px"><strong>原因</strong></th>
        </tr>
        <tr><td style="padding: 10px">400</td><td style="padding: 10px">リクエストパラメータが不正</td></tr>
        <tr><td style="padding: 10px">401</td><td style="padding: 10px">アクセストークンが無効</td></tr>
        <tr><td style="padding: 10px">403</td><td style="padding: 10px">アクセス権限がない</td></tr>
        <tr><td style="padding: 10px">404</td><td style="padding: 10px">リソースが存在しない</td></tr>
        <tr><td style="padding: 10px">429</td><td style="padding: 10px">リクエスト回数制限を超えた</td></tr>
        <tr><td style="padding: 10px">503</td><td style="padding: 10px">システム内で予期しないエラーが発生</td></tr>
      </tbody>
    </table>
    <p>メッセージボディ内の <code>errors.messages</code> <code>message</code> にはエラー内容を説明する文字列が入ります。</p> <pre><code>  {
        &quot;status_code&quot; : 400,
        &quot;errors&quot; : [
          {
            &quot;codes&quot; : [
              &quot;bad_request&quot;
            ],
            &quot;messages&quot; : [
              &quot;リクエストの形式が不正です。&quot;
            ]
          }
        ]
      }  </code></pre>
      <pre><code>  {
        &quot;message&quot; : &quot;ログインをして下さい&quot;,
        &quot;code&quot; : &quot;invalid_access_token&quot;
      }  </code></pre>
    </p>
    <h3 id="api_rate_limit">API使用制限</h3> <p>APIリクエストは1分あたり30回、および1時間あたり1500回を上限としています。<br>API使用ステータスはレスポンスヘッダに付与されます。各ヘッダの意味は次のとおりです。</p>
    <table>
      <thead>
        <tr>
          <th>ヘッダ名</th>
          <th>説明</th>
        </tr>
      </thead>
     <tbody>
       <tr>
         <td>X-RateLimit-Limit</td>
         <td>１時間の使用回数の上限</td>
       </tr>
       <tr>
         <td>X-RateLimit-Remaining</td>
         <td>１時間の残り使用回数</td>
       </tr>
       <tr>
         <td>X-RateLimit-Reset</td>
         <td>１時間の使用回数がリセットされる時刻</td>
       </tr>
       <tr>
         <td>X-RateLimit-Limit-Minute</td>
         <td>１分間の使用回数の上限</td>
       </tr>
       <tr>
         <td>X-RateLimit-Remaining-Minute</td>
         <td>１分間の残り使用回数</td>
       </tr>
       <tr>
         <td>X-RateLimit-Reset-Minute</td>
         <td>１分間の使用回数がリセットされる時刻</td>
       </tr>
     </tbody>
    </table>
    <p>この上限を超えた場合APIアクセスは制限され、http status codeは429となります。制限がかかってから10分程度が過ぎると再度使用することができるようになります。</p>
    <p>また、上記に加えfreeeは一定期間に過度のアクセスを検知した場合、APIアクセスをコントロールする場合があります。<br>
      その際のhttp status codeは403となります。こちらも制限がかかってから10分程度が過ぎると再度使用することができるようになります。</p>

    <h3 id="available_apis_by_plan">プランごとの利用可能API</h3> <p>すべてのエンドポイントはfreee販売スタンダードプランをご契約の事業所でのみ利用可能です。</p>
    <h3 id="accounting_master_items">会計マスタ項目</h3>
    <p>freee請求書APIのリクエストパラメータに、会計マスタ項目があります。会計マスタ項目の詳細は<a
        href="https://developer.freee.co.jp/guideline/master-guideline">会計マスタガイドライン</a>を参照ください。</p>

    <p>会計のマスタ項目はfreee会計APIのエンドポイントにて取得可能です（例：<a
        href="https://developer.freee.co.jp/reference/accounting/reference#operations-tag-Partners">Partners
        取引先</a>）。freee会計APIのエンドポイントの詳細は<a
        href="https://developer.freee.co.jp/reference/accounting/reference">会計APIリファレンス</a>を参照ください。</p>
servers:
  - url: https://api.freee.co.jp/sm
security:
  - oauth2:
      - write
      - read
tags:
  - name: businesses
    description: 案件
  - name: cost_budgets
    description: 原価予算
  - name: purchase_orders
    description: 発注
  - name: quotations
    description: 見積
  - name: sales_orders
    description: 受注
  - name: deliveries
    description: 納品
  - name: sales
    description: 売上
  - name: other_costs
    description: その他原価
  - name: procurements
    description: 仕入
  - name: master
    description: 関連マスタ
paths:
  /businesses:
    get:
      tags:
        - businesses
      summary: 案件一覧
      description: |-
        <h2 id="">概要</h2>
        <p>案件の一覧を取得します。
        登録されている案件情報を一覧形式で取得できます。
        各種フィルタ条件を指定することで、特定の条件に合致する案件のみを取得することが可能です。
        </p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>start_business_date : 案件登録日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_business_date : 案件登録日(絞り込み終了)</p>
        </li>
        <li>
        <p>start_last_updated_date : 案件更新日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_last_updated_date : 案件更新日(絞り込み終了)</p>
        </li>
        <li>
        <p>sales_progression_ids : 受注確度ID(複数指定可)</p>
        </li>
        <li>
        <p>business_phase_ids : 案件フェーズID(複数指定可)</p>
        </li>
        <li>
        <p>charge_employee_ids : 社内担当者の従業員ID(複数指定可)</p>
        </li>
        <li>
        <p>customer_ids : 顧客の取引先ID(複数指定可)</p>
        </li>
        <li>
        <p>code : 案件コード</p>
        </li>
        <li>
        <p>canceled : 取消状態(デフォルト:false)</p>
        </li>
        </ul>
        <p>
        `limit`と`offset`パラメータを使用してページネーションが可能です。
        デフォルトでは20件ずつ取得され、最大100件まで一度に取得できます。
        </p>
      operationId: get_businesses
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/start_business_date'
        - $ref: '#/components/parameters/end_business_date'
        - $ref: '#/components/parameters/start_last_updated_date'
        - $ref: '#/components/parameters/end_last_updated_date'
        - $ref: '#/components/parameters/sales_progression_ids'
        - $ref: '#/components/parameters/business_phase_ids'
        - $ref: '#/components/parameters/charge_employee_ids'
        - $ref: '#/components/parameters/customer_ids'
        - $ref: '#/components/parameters/code'
        - $ref: '#/components/parameters/canceled'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/BusinessIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    post:
      tags:
        - businesses
      summary: 案件登録
      description: |-
        <h2 id="">概要</h2>
        <p>新しい案件を登録します。
        顧客との商談や受注案件を管理するための案件情報を登録できます。
        </p>
        <h2 id="_2">定義</h2>
        <h3>必須項目</h3>
        <ul>
        <li>
        <p>name : 案件名称</p>
        </li>
        <li>
        <p>company_id : 事業所ID</p>
        </li>
        </ul>
        <h3>任意項目</h3>
        <ul>
        <li>
        <p>code : 案件コード</p>
        </li>
        <li>
        <p>business_date : 案件登録日</p>
        </li>
        <li>
        <p>charge_employee_id : 社内担当者の従業員ID</p>
        </li>
        <li>
        <p>customer_id : 顧客の取引先ID</p>
        </li>
        <li>
        <p>prospect_sales_order : 受注見込</p>
        </li>
        <li>
        <p>sales_progression_id : 受注確度ID</p>
        </li>
        <li>
        <p>scheduled_completion_date : 完了予定日</p>
        </li>
        <li>
        <p>completion_date : 完了日</p>
        </li>
        <li>
        <p>business_phase_id : 案件フェーズID</p>
        </li>
        <li>
        <p>reporting_section_id : 担当部門ID</p>
        </li>
        <li>
        <p>internal_memo : 社内メモ</p>
        </li>
        <li>
        <p>custom_fields : カスタム項目</p>
        </li>
        </ul>
      operationId: create_business
      requestBody:
        $ref: '#/components/requestBodies/BusinessCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/BusinessCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /businesses/{id}:
    get:
      tags:
        - businesses
      summary: 案件詳細取得
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの案件の詳細情報を取得します。
        案件の基本情報に加えて、粗利や売上情報などの詳細な集計情報も取得できます。
        </p>
      operationId: get_business
      parameters:
        - $ref: '#/components/parameters/company_id'
        - name: id
          in: path
          required: true
          description: 案件ID
          schema:
            type: string
            minLength: 26
            maxLength: 26
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
      responses:
        '200':
          $ref: '#/components/responses/BusinessShowResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    patch:
      tags:
        - businesses
      summary: 案件更新
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの案件を更新します。
        案件の基本情報、受注見込、完了予定日などを部分的に更新できます。
        送信したフィールドのみが更新され、送信しなかったフィールドは変更されません。
        </p>
        <h2 id="_2">定義</h2>
        <h3>更新可能項目</h3>
        <ul>
        <li><p>name : 案件名称</p></li>
        <li><p>code : 案件コード</p></li>
        <li><p>business_date : 案件登録日</p></li>
        <li><p>charge_employee_id : 社内担当者の従業員ID</p></li>
        <li><p>customer_id : 顧客の取引先ID</p></li>
        <li><p>prospect_sales_order : 受注見込</p></li>
        <li><p>sales_progression_id : 受注確度ID</p></li>
        <li><p>scheduled_completion_date : 完了予定日</p></li>
        <li><p>completion_date : 完了日</p></li>
        <li><p>business_phase_id : 案件フェーズID</p></li>
        <li><p>reporting_section_id : 担当部門ID</p></li>
        <li><p>internal_memo : 社内メモ</p></li>
        <li><p>custom_fields : カスタム項目(指定した場合、既存のカスタム項目は全て削除され、新しいカスタム項目に置き換えられます)</p></li>
        </ul>
        <p>※全ての項目は任意です。更新したい項目のみを送信してください。</p>
        <p>※custom_fieldsを指定した場合、リクエストに含まれないカスタム項目はnullとして扱われます。必須のカスタム項目が指定されていない場合はバリデーションエラーになります。</p>
      operationId: update_business
      parameters:
        - name: id
          in: path
          required: true
          description: 案件ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      requestBody:
        $ref: '#/components/requestBodies/BusinessUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/BusinessUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /businesses/{id}/cancellation:
    post:
      tags:
        - businesses
      summary: 案件取消
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの案件を取消します。
        </p>
      operationId: cancel_business
      parameters:
        - name: id
          in: path
          required: true
          description: 案件ID
          schema:
            type: string
            minLength: 26
            maxLength: 26
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
      requestBody:
        $ref: '#/components/requestBodies/BusinessCancelRequest'
      responses:
        '200':
          $ref: '#/components/responses/BusinessCancelResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /businesses/{id}/close:
    post:
      tags:
        - businesses
      summary: 案件ロック
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの案件をロックします。
        </p>
      operationId: close_business
      parameters:
        - name: id
          in: path
          required: true
          description: 案件ID
          schema:
            type: string
            minLength: 26
            maxLength: 26
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
      requestBody:
        $ref: '#/components/requestBodies/BusinessCloseRequest'
      responses:
        '200':
          $ref: '#/components/responses/BusinessCloseResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /businesses/{id}/reopen:
    post:
      tags:
        - businesses
      summary: 案件ロック解除
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの案件ロックを解除します。
        </p>
      operationId: reopen_business
      parameters:
        - name: id
          in: path
          required: true
          description: 案件ID
          schema:
            type: string
            minLength: 26
            maxLength: 26
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
      requestBody:
        $ref: '#/components/requestBodies/BusinessReopenRequest'
      responses:
        '200':
          $ref: '#/components/responses/BusinessReopenResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /cost_budgets:
    get:
      tags:
        - cost_budgets
      summary: 原価予算一覧
      description: |-
        <h2 id="">概要</h2>
        <p>原価予算の一覧を取得します。
        登録されている原価予算情報を一覧形式で取得できます。
        各種フィルタ条件を指定することで、特定の条件に合致する原価予算のみを取得することが可能です。
        </p>
        <h2 id="_2">定義</h2>
        <ul>
        <li><p>type : 原価種別 (procurement, external_procurement, other_cost)</p></li>
        <li><p>start_amount_excluding_tax : 金額(税抜):下限</p></li>
        <li><p>end_amount_excluding_tax : 金額(税抜):上限</p></li>
        <li><p>start_date_period : 発生予定期間:開始日(yyyy-mm-dd)</p></li>
        <li><p>end_date_period : 発生予定期間:終了日(yyyy-mm-dd)</p></li>
        <li><p>master_item_ids : 商品ID(複数指定可)</p></li>
        <li><p>start_quantity : 数量:下限</p></li>
        <li><p>end_quantity : 数量:上限</p></li>
        <li><p>start_unit_price : 単価:下限</p></li>
        <li><p>end_unit_price : 単価:上限</p></li>
        <li><p>charge_employee_ids : 社内担当者の従業員ID(複数指定可)</p></li>
        <li><p>reporting_section_ids : 担当部門ID(複数指定可)</p></li>
        <li><p>supplier_ids : 仕入先の取引先ID(複数指定可)</p></li>
        <li><p>payment_partner_ids : 支払先の取引先ID(複数指定可)</p></li>
        <li><p>accounting_reporting_section_ids : 会計計上部門ID(複数指定可)</p></li>
        <li><p>item_tag_ids : 会計品目タグID(複数指定可)</p></li>
        <li><p>segment_tag_1_ids : セグメントタグ1 ID(複数指定可)</p></li>
        <li><p>segment_tag_2_ids : セグメントタグ2 ID(複数指定可)</p></li>
        <li><p>segment_tag_3_ids : セグメントタグ3 ID(複数指定可)</p></li>
        <li><p>business_ids : 案件ID(複数指定可)</p></li>
        <li><p>cost_budget_no : 原価予算No.</p></li>
        <li><p>start_last_updated_date : 更新日(絞り込み開始)</p></li>
        <li><p>end_last_updated_date : 更新日(絞り込み終了)</p></li>
        <li><p>canceled : 取消状態(デフォルト:false)</p></li>
        </ul>
        <p>
        `limit`と`offset`パラメータを使用してページネーションが可能です。
        デフォルトでは20件ずつ取得され、最大100件まで一度に取得できます。
        </p>
      operationId: get_cost_budgets
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/start_amount_excluding_tax'
        - $ref: '#/components/parameters/end_amount_excluding_tax'
        - $ref: '#/components/parameters/start_date_period'
        - $ref: '#/components/parameters/end_date_period'
        - $ref: '#/components/parameters/master_item_ids'
        - $ref: '#/components/parameters/start_quantity'
        - $ref: '#/components/parameters/end_quantity'
        - $ref: '#/components/parameters/start_unit_price'
        - $ref: '#/components/parameters/end_unit_price'
        - $ref: '#/components/parameters/charge_employee_ids'
        - $ref: '#/components/parameters/reporting_section_ids'
        - $ref: '#/components/parameters/supplier_ids'
        - $ref: '#/components/parameters/payment_partner_ids'
        - $ref: '#/components/parameters/accounting_reporting_section_ids'
        - $ref: '#/components/parameters/item_tag_ids'
        - $ref: '#/components/parameters/segment_tag_1_ids'
        - $ref: '#/components/parameters/segment_tag_2_ids'
        - $ref: '#/components/parameters/segment_tag_3_ids'
        - $ref: '#/components/parameters/business_ids'
        - $ref: '#/components/parameters/cost_budget_no'
        - $ref: '#/components/parameters/parameters-start_last_updated_date'
        - $ref: '#/components/parameters/parameters-end_last_updated_date'
        - $ref: '#/components/parameters/canceled'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/CostBudgetIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    post:
      tags:
        - cost_budgets
      summary: 原価予算登録
      description: |-
        <h2 id="">概要</h2>
        <p>原価予算を新規登録します。
        <code>type</code> で原価種別を指定してください。<code>procurement</code>（仕入）はリクエストスキーマが異なります。<code>external_procurement</code>（外部仕入）と <code>other_cost</code>（その他原価）は同じリクエストスキーマを使用します。
        </p>
        <h2 id="_2">定義</h2>
        <h3 id="_3">全type共通フィールド</h3>
        <ul>
        <li><p>type (必須) : 原価種別 (procurement: 仕入, external_procurement: 外部仕入, other_cost: その他原価)</p></li>
        <li><p>period_from_date (必須) : 期間開始日</p></li>
        <li><p>period_to_date (必須) : 期間終了日。period_from_date と両方必須。</p></li>
        <li><p>business_id : 案件ID</p></li>
        <li><p>memo : 備考</p></li>
        <li><p>charge_employee_id : 社内担当者ID</p></li>
        <li><p>reporting_section_id : 担当部門ID</p></li>
        </ul>
        <h3 id="_4">type=procurement 固有フィールド</h3>
        <ul>
        <li><p>quantity (必須) : 数量</p></li>
        <li><p>unit_price (必須) : 単価</p></li>
        <li><p>deal_line_type_id (必須) : 明細取引タイプID</p></li>
        <li><p>supplier_id : 仕入先ID</p></li>
        <li><p>payment_partner_id : 支払先ID</p></li>
        <li><p>uom_name : 単位</p></li>
        <li><p>master_item_id : 商品ID</p></li>
        <li><p>accounting_reporting_section_id : 会計計上部門ID</p></li>
        <li><p>item_tag_id : 会計品目タグID</p></li>
        <li><p>memo_tag_ids : メモタグID（複数指定可）</p></li>
        <li><p>segment_tag_1_id : セグメントタグ1ID</p></li>
        <li><p>segment_tag_2_id : セグメントタグ2ID</p></li>
        <li><p>segment_tag_3_id : セグメントタグ3ID</p></li>
        </ul>
        <h3 id="_5">type=external_procurement / type=other_cost 固有フィールド</h3>
        <ul>
        <li><p>amount_excluding_tax (必須) : 金額(税抜)</p></li>
        </ul>
      operationId: create_cost_budget
      requestBody:
        $ref: '#/components/requestBodies/CostBudgetCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/CostBudgetCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /cost_budgets/{id}:
    get:
      tags:
        - cost_budgets
      summary: 原価予算詳細取得
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの原価予算の詳細情報を取得します。
        </p>
      operationId: get_cost_budget
      parameters:
        - $ref: '#/components/parameters/company_id'
        - name: id
          in: path
          required: true
          description: 原価予算ID
          schema:
            type: string
            minLength: 26
            maxLength: 26
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
      responses:
        '200':
          $ref: '#/components/responses/CostBudgetShowResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    patch:
      tags:
        - cost_budgets
      summary: 原価予算更新
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの原価予算を更新します。
        原価種別に応じて使用可能なフィールドが異なります。
        送信したフィールドのみ更新されます。
        なお原価種別を変更することはできません。
        </p>
        <h2 id="_2">定義</h2>
        <h3 id="_3">全type共通フィールド</h3>
        <ul>
        <li><p>period_from_date : 期間開始日。period_to_date と両方同時に送信する必要がある。</p></li>
        <li><p>period_to_date : 期間終了日。period_from_date と両方同時に送信する必要がある。</p></li>
        <li><p>business_id : 案件ID</p></li>
        <li><p>memo : 備考</p></li>
        <li><p>charge_employee_id : 社内担当者ID</p></li>
        <li><p>reporting_section_id : 担当部門ID</p></li>
        </ul>
        <h3 id="_4">type=procurement 固有フィールド（外部仕入・その他原価では送信不可）</h3>
        <ul>
        <li><p>quantity : 数量</p></li>
        <li><p>unit_price : 単価</p></li>
        <li><p>deal_line_type_id : 明細取引タイプID</p></li>
        <li><p>supplier_id : 仕入先ID</p></li>
        <li><p>payment_partner_id : 支払先ID</p></li>
        <li><p>uom_name : 単位</p></li>
        <li><p>master_item_id : 商品ID</p></li>
        <li><p>accounting_reporting_section_id : 会計計上部門ID</p></li>
        <li><p>item_tag_id : 会計品目タグID</p></li>
        <li><p>memo_tag_ids : メモタグID（複数指定可）</p></li>
        <li><p>segment_tag_1_id : セグメントタグ1ID</p></li>
        <li><p>segment_tag_2_id : セグメントタグ2ID</p></li>
        <li><p>segment_tag_3_id : セグメントタグ3ID</p></li>
        </ul>
        <h3 id="_5">type=external_procurement / type=other_cost 固有フィールド（仕入では送信不可）</h3>
        <ul>
        <li><p>amount_excluding_tax : 金額(税抜)</p></li>
        </ul>
      operationId: update_cost_budget
      parameters:
        - name: id
          in: path
          required: true
          description: 原価予算ID
          schema:
            type: string
            minLength: 26
            maxLength: 26
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
      requestBody:
        $ref: '#/components/requestBodies/CostBudgetUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/CostBudgetUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /cost_budgets/{id}/cancellation:
    post:
      tags:
        - cost_budgets
      summary: 原価予算取消
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの原価予算を取り消します。
        </p>
      operationId: cancel_cost_budget
      parameters:
        - name: id
          in: path
          required: true
          description: 原価予算ID
          schema:
            type: string
            minLength: 26
            maxLength: 26
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
      requestBody:
        $ref: '#/components/requestBodies/CostBudgetCancelRequest'
      responses:
        '200':
          $ref: '#/components/responses/CostBudgetCancelResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /master/business_phases:
    get:
      tags:
        - master
      summary: 案件フェーズ一覧
      description: |-
        <h2 id="">概要</h2>
        <p>案件フェーズ一覧を取得します。
        使用可能なもののみを返却します。
        </p>
      operationId: get_master_business_phases
      parameters:
        - $ref: '#/components/parameters/company_id'
      responses:
        '200':
          $ref: '#/components/responses/BusinessPhasesIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /master/sales_progressions:
    get:
      tags:
        - master
      summary: 受注確度一覧
      description: |-
        <h2 id="">概要</h2>
        <p>受注確度情報を取得します。
        使用可能なもののみを返却します。
        </p>
      operationId: get_sales_progressions
      parameters:
        - $ref: '#/components/parameters/company_id'
      responses:
        '200':
          $ref: '#/components/responses/SalesProgressionIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /master/items:
    get:
      tags:
        - master
      summary: 商品一覧
      description: |-
        <h2 id="">概要</h2>
        <p>商品情報を取得します。
        使用可能なもののみを返却します。
        </p>
      operationId: get_master_items
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/offset'
        - name: limit
          description: 取得レコードの件数（デフォルト：100, 最小：1, 最大：500）
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 500
            default: 100
        - name: type
          description: '業務区分 (sales: 販売系, procurement: 調達系)'
          in: query
          required: true
          schema:
            type: string
            enum:
              - sales
              - procurement
      responses:
        '200':
          $ref: '#/components/responses/ItemsIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /master/deal_line_types:
    get:
      tags:
        - master
      summary: 明細取引タイプ一覧
      description: |-
        <h2 id="">概要</h2>
        <p>明細取引タイプ一覧を取得します。
        使用停止中のものはレスポンスに含まれません。
        </p>
      operationId: get_master_deal_line_types
      parameters:
        - $ref: '#/components/parameters/company_id'
        - name: type
          description: '利用区分: 販売系、調達系どちらの明細取引タイプを取得するか'
          in: query
          required: true
          schema:
            type: string
            enum:
              - sales
              - procurement
      responses:
        '200':
          $ref: '#/components/responses/DealLineTypesIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /master/employees:
    get:
      tags:
        - master
      summary: 従業員一覧
      description: |-
        <h2 id="">概要</h2>
        <p>従業員一覧を取得します。
        使用可能なもののみを返却します。
        </p>
      operationId: get_master_employees
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/offset'
        - name: limit
          description: 取得レコードの件数（デフォルト：100, 最小：1, 最大：500）
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          $ref: '#/components/responses/EmployeesIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /master/custom_fields/business/definitions:
    get:
      tags:
        - master
      summary: 案件カスタム項目定義一覧
      description: |-
        <h2 id="">概要</h2>
        <p>
        カスタム項目定義の一覧を取得します。
        使用可能なもののみを返却します。
        </p>

        <h3>入力形式の一覧</h3>
        <ul>
          <li><code>text</code>: 一行テキスト</li>
          <li><code>textarea</code>: 複数行テキスト</li>
          <li><code>amount</code>: 金額</li>
          <li><code>quantity</code>: 数量</li>
          <li><code>number</code>: 数値</li>
          <li><code>date</code>: 日付</li>
          <li><code>enum</code>: プルダウン</li>
          <li><code>partner</code>: 取引先</li>
          <li><code>employee</code>: 従業員</li>
          <li><code>section</code>: 部門</li>
          <li><code>master_item</code>: 商品</li>
        </ul>
      operationId: get_master_custom_fields_business_definitions
      parameters:
        - $ref: '#/components/parameters/company_id'
      responses:
        '200':
          $ref: '#/components/responses/CustomFieldDefinitionsIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /purchase_orders:
    get:
      tags:
        - purchase_orders
      summary: 発注一覧
      description: |-
        <h2 id="">概要</h2>
        <p>発注の一覧を取得します。
        登録されている発注情報を一覧形式で取得できます。
        各種フィルタ条件を指定することで、特定の条件に合致する発注のみを取得することが可能です。
        </p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>start_registered_date : 発注登録日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_registered_date : 発注登録日(絞り込み終了)</p>
        </li>
        <li>
        <p>start_last_updated_date : 発注更新日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_last_updated_date : 発注更新日(絞り込み終了)</p>
        </li>
        <li>
        <p>start_purchase_order_date : 発注日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_purchase_order_date : 発注日(絞り込み終了)</p>
        </li>
        <li>
        <p>charge_employee_ids : 社内担当者の従業員ID(複数指定可)</p>
        </li>
        <li>
        <p>supplier_ids : 仕入先の取引先ID(複数指定可)</p>
        </li>
        <li>
        <p>business_ids : 案件ID(複数指定可)</p>
        </li>
        <li>
        <p>purchase_order_no : 発注No.</p>
        </li>
        <li>
        <p>payment_status : 支払ステータス</p>
        </li>
        <li>
        <p>issued : 送付ステータス</p>
        </li>
        <li>
        <p>procurement_status : 仕入ステータス</p>
        </li>
        <li>
        <p>canceled : 取消状態(デフォルト:false)</p>
        </li>
        </ul>
        <p>
        `limit`と`offset`パラメータを使用してページネーションが可能です。
        デフォルトでは20件ずつ取得され、最大100件まで一度に取得できます。
        </p>
      operationId: get_purchase_orders
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/purchase_order_start_registered_date'
        - $ref: '#/components/parameters/purchase_order_end_registered_date'
        - $ref: '#/components/parameters/purchase_order_start_last_updated_date'
        - $ref: '#/components/parameters/purchase_order_end_last_updated_date'
        - $ref: '#/components/parameters/start_purchase_order_date'
        - $ref: '#/components/parameters/end_purchase_order_date'
        - $ref: '#/components/parameters/charge_employee_ids'
        - $ref: '#/components/parameters/supplier_ids'
        - $ref: '#/components/parameters/business_ids'
        - $ref: '#/components/parameters/purchase_order_no'
        - $ref: '#/components/parameters/payment_status'
        - $ref: '#/components/parameters/issued'
        - $ref: '#/components/parameters/procurement_status'
        - $ref: '#/components/parameters/canceled'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/PurchaseOrderIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    post:
      tags:
        - purchase_orders
      summary: 発注登録
      description: |-
        <h2 id="">概要</h2>
        <p>新しい発注を登録します。
        仕入先への発注情報を登録し、発注書の発行や仕入への引き継ぎに利用できます。
        </p>
        <h2 id="_2">定義</h2>
        <h3>必須項目</h3>
        <ul>
        <li>
        <p>purchase_order_date : 発注日</p>
        </li>
        <li>
        <p>supplier_id : 仕入先の取引先ID</p>
        </li>
        <li>
        <p>payment_method_type : 支払方法</p>
        </li>
        <li>
        <p>payment_partner_id : 支払先の取引先ID</p>
        </li>
        <li>
        <p>lines : 明細リスト</p>
        </li>
        </ul>
        <h3>任意項目</h3>
        <ul>
        <li>
        <p>is_qualified_invoice_issuer : 適格請求書発行事業者該当フラグ</p>
        </li>
        <li>
        <p>business_id : 案件ID</p>
        </li>
        <li>
        <p>internal_subject : 発注タイトル</p>
        </li>
        <li>
        <p>procurements_on : 仕入予定日</p>
        </li>
        <li>
        <p>delivery_deadline : 納品期限日</p>
        </li>
        <li>
        <p>delivery_location : 納品場所</p>
        </li>
        <li>
        <p>purchase_order_note : 発注書の備考欄に記載する内容</p>
        </li>
        <li>
        <p>purchase_order_template_id : 発注書テンプレートID ※指定しない場合はデフォルトのテンプレートが適用されます。</p>
        </li>
        <li>
        <p>purchase_order_subject : 発注書件名</p>
        </li>
        <li>
        <p>recipient_address : 宛先情報 ※Web画面とは異なり、仕入先マスタからの自動補完は行われません。指定しない場合は全ての項目がnullとして登録されます。</p>
        </li>
        <li>
        <p>payments_on : 支払予定日</p>
        </li>
        <li>
        <p>charge_employee_id : 社内担当者の従業員ID</p>
        </li>
        <li>
        <p>reporting_section_id : 担当部門ID</p>
        </li>
        <li>
        <p>internal_memo : 社内メモ</p>
        </li>
        </ul>
        <h2 id="_3">注意点</h2>
        <h3>適格請求書発行事業者該当フラグ(is_qualified_invoice_issuer)について</h3>
        <p>本フラグの登録時の挙動は、freee会計の「税区分の設定 &gt; インボイス制度関連 &gt; 買い手側対応機能」の設定状況によって変わります。リクエストでの指定値がそのまま登録されるとは限りません。</p>
        <p>登録された値は、免税事業者からの仕入れに係る経過措置に対応した税区分を利用するかどうかの判定に使われます。</p>
        <ul>
        <li><p>買い手側対応機能を「使用しない」に設定している場合、経過措置の判定を行わないため、リクエストでの指定値は無視され、常に true が登録されます。</p></li>
        <li>
        <p>買い手側対応機能を「使用する」に設定している場合は、以下の通りです。</p>
        <ul>
        <li><p>リクエストで値を指定した場合は、その値が登録されます。</p></li>
        <li>
        <p>値を指定しなかった場合（null を指定した場合、または項目自体を省略した場合）は、「適格チェックボックスと税区分」の設定に従って値が決まります。</p>
        <ul>
        <li><p>「取引先情報と連携」が「連携する」になっている場合は、仕入先に指定した取引先に設定されている値が登録されます。</p></li>
        <li><p>それ以外の場合は、同設定のデフォルト値が登録されます。</p></li>
        </ul>
        </li>
        </ul>
        </li>
        </ul>
      operationId: create_purchase_order
      requestBody:
        $ref: '#/components/requestBodies/PurchaseOrderCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/PurchaseOrderCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /purchase_orders/{id}:
    get:
      tags:
        - purchase_orders
      summary: 発注詳細取得
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの発注の詳細情報を取得します。
        発注の基本情報に加えて、明細情報や各種ステータスなどの詳細な情報も取得できます。
        </p>
      operationId: get_purchase_order
      parameters:
        - $ref: '#/components/parameters/company_id'
        - name: id
          in: path
          required: true
          description: 発注ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      responses:
        '200':
          description: 発注詳細取得のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrderDetail'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    patch:
      tags:
        - purchase_orders
      summary: 発注更新
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの発注を更新します。
        発注の基本情報を部分的に更新できます。
        送信したフィールドのみが更新され、送信しなかったフィールドは変更されません。
        </p>
        <h2 id="_2">定義</h2>
        <h3>更新可能項目</h3>
        <ul>
        <li>
        <p>branch_no : 枝番</p>
        </li>
        <li>
        <p>business_id : 案件ID</p>
        </li>
        <li>
        <p>internal_subject : 発注タイトル</p>
        </li>
        <li>
        <p>purchase_order_date : 発注日</p>
        </li>
        <li>
        <p>supplier_id : 仕入先の取引先ID</p>
        </li>
        <li>
        <p>is_qualified_invoice_issuer : 適格請求書発行事業者該当フラグ</p>
        </li>
        <li>
        <p>procurements_on : 仕入予定日</p>
        </li>
        <li>
        <p>delivery_deadline : 納品期限日</p>
        </li>
        <li>
        <p>delivery_location : 納品場所</p>
        </li>
        <li>
        <p>purchase_order_note : 発注書の備考欄に記載する内容</p>
        </li>
        <li>
        <p>purchase_order_template_id : 発注書テンプレートID</p>
        </li>
        <li>
        <p>purchase_order_subject : 発注書件名</p>
        </li>
        <li>
        <p>recipient_address : 宛先情報（指定した場合、既存の宛先情報は全て削除され、新しい宛先情報に置き換えられます）</p>
        </li>
        <li>
        <p>payments_on : 支払予定日</p>
        </li>
        <li>
        <p>payment_method_type : 支払方法</p>
        </li>
        <li>
        <p>payment_partner_id : 支払先の取引先ID</p>
        </li>
        <li>
        <p>charge_employee_id : 社内担当者の従業員ID</p>
        </li>
        <li>
        <p>reporting_section_id : 担当部門ID</p>
        </li>
        <li>
        <p>internal_memo : 社内メモ</p>
        </li>
        <li>
        <p>lines : 明細リスト（指定した場合、既存の明細は全て削除され、新しい明細に置き換えられます）</p>
        </li>
        </ul>
        <p>※全ての項目は任意です。更新したい項目のみを送信してください。</p>
        <p>※recipient_addressを指定した場合、リクエストに含まれない項目はnullとして扱われます。</p>
        <h2 id="_3">注意点</h2>
        <h3>適格請求書発行事業者該当フラグ(is_qualified_invoice_issuer)について</h3>
        <p>本フラグの登録時の挙動は、freee会計の「税区分の設定 &gt; インボイス制度関連 &gt; 買い手側対応機能」の設定状況によって変わります。リクエストでの指定値がそのまま登録されるとは限りません。</p>
        <p>登録された値は、免税事業者からの仕入れに係る経過措置に対応した税区分を利用するかどうかの判定に使われます。</p>
        <ul>
        <li><p>買い手側対応機能を「使用しない」に設定している場合、経過措置の判定を行わないため、リクエストでの指定値は無視され、常に true が登録されます。</p></li>
        <li>
        <p>買い手側対応機能を「使用する」に設定している場合は、以下の通りです。</p>
        <ul>
        <li><p>リクエストで値を指定した場合は、その値が登録されます。</p></li>
        <li>
        <p>値を指定しなかった場合（null を指定した場合、または項目自体を省略した場合）は、「適格チェックボックスと税区分」の設定に従って値が決まります。</p>
        <ul>
        <li><p>「取引先情報と連携」が「連携する」になっている場合は、仕入先に指定した取引先に設定されている値が登録されます。</p></li>
        <li><p>それ以外の場合は、同設定のデフォルト値が登録されます。</p></li>
        </ul>
        </li>
        </ul>
        </li>
        </ul>
      operationId: update_purchase_order
      parameters:
        - name: id
          in: path
          required: true
          description: 発注ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      requestBody:
        $ref: '#/components/requestBodies/PurchaseOrderUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/PurchaseOrderUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /purchase_orders/{id}/cancellation:
    post:
      tags:
        - purchase_orders
      summary: 発注取消
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの発注を取り消します。</p>
        <h2 id="_2">定義</h2>
        <h3>必須項目</h3>
        <ul>
        <li>
        <p>company_id : 事業所ID</p>
        </li>
        </ul>
      operationId: cancel_purchase_order
      parameters:
        - name: id
          in: path
          required: true
          description: 発注ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      requestBody:
        $ref: '#/components/requestBodies/PurchaseOrderCancellationRequest'
      responses:
        '200':
          $ref: '#/components/responses/PurchaseOrderCancellationResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /quotations:
    get:
      tags:
        - quotations
      summary: 見積一覧
      description: |-
        <h2 id="">概要</h2>
        <p>見積の一覧を取得します。
        登録されている見積情報を一覧形式で取得できます。
        各種フィルタ条件を指定することで、特定の条件に合致する見積のみを取得することが可能です。
        </p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>start_registered_date : 見積登録日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_registered_date : 見積登録日(絞り込み終了)</p>
        </li>
        <li>
        <p>start_last_updated_date : 見積更新日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_last_updated_date : 見積更新日(絞り込み終了)</p>
        </li>
        <li>
        <p>start_quotation_date : 見積日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_quotation_date : 見積日(絞り込み終了)</p>
        </li>
        <li>
        <p>charge_employee_ids : 社内担当者の従業員ID(複数指定可)</p>
        </li>
        <li>
        <p>customer_ids : 顧客の取引先ID(複数指定可)</p>
        </li>
        <li>
        <p>business_ids : 案件ID(複数指定可)</p>
        </li>
        <li>
        <p>quotation_no : 見積No.</p>
        </li>
        <li>
        <p>quotation_status : 見積ステータス</p>
        </li>
        <li>
        <p>billing_status : 請求書送付ステータス</p>
        </li>
        <li>
        <p>canceled : 取消状態(デフォルト:false)</p>
        </li>
        </ul>
        <p>
        `limit`と`offset`パラメータを使用してページネーションが可能です。
        デフォルトでは20件ずつ取得され、最大100件まで一度に取得できます。
        </p>
      operationId: get_quotations
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/start_registered_date'
        - $ref: '#/components/parameters/end_registered_date'
        - $ref: '#/components/parameters/components-parameters-start_last_updated_date'
        - $ref: '#/components/parameters/components-parameters-end_last_updated_date'
        - $ref: '#/components/parameters/start_quotation_date'
        - $ref: '#/components/parameters/end_quotation_date'
        - $ref: '#/components/parameters/charge_employee_ids'
        - $ref: '#/components/parameters/customer_ids'
        - name: business_ids[]
          description: 案件ID
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              minLength: 26
              maxLength: 26
              example: 01JPP4FD1CVQWCDSWA90VE1ZTM
        - $ref: '#/components/parameters/quotation_no'
        - $ref: '#/components/parameters/quotation_status'
        - $ref: '#/components/parameters/billing_status'
        - $ref: '#/components/parameters/canceled'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/QuotationIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    post:
      tags:
        - quotations
      summary: 見積登録
      description: |-
        <h2 id="">概要</h2>
        <p>新しい見積を登録します。
        顧客への見積情報を登録し、見積書の発行や受注への引き継ぎに利用できます。
        </p>
        <h2 id="_2">定義</h2>
        <h3>必須項目</h3>
        <ul>
        <li>
        <p>quotation_date : 見積日</p>
        </li>
        <li>
        <p>customer_id : 顧客の取引先ID</p>
        </li>
        <li>
        <p>lines : 明細リスト</p>
        </li>
        </ul>
        <h3>任意項目</h3>
        <ul>
        <li>
        <p>business_id : 案件ID</p>
        </li>
        <li>
        <p>internal_subject : 見積タイトル</p>
        </li>
        <li>
        <p>expires_on : 有効期限日</p>
        </li>
        <li>
        <p>delivery_deadline : 納品期限日</p>
        </li>
        <li>
        <p>delivery_location : 納品場所</p>
        </li>
        <li>
        <p>quotation_template_id : 見積書テンプレートID ※指定しない場合はデフォルトのテンプレートが適用されます。</p>
        </li>
        <li>
        <p>quotation_subject : 見積書件名</p>
        </li>
        <li>
        <p>quotation_note : 見積書の備考欄に記載する内容</p>
        </li>
        <li>
        <p>recipient_address : 宛先情報 ※Web画面とは異なり、顧客マスタからの自動補完は行われません。指定しない場合は全ての項目がnullとして登録されます。</p>
        </li>
        <li>
        <p>charge_employee_id : 社内担当者の従業員ID</p>
        </li>
        <li>
        <p>reporting_section_id : 担当部門ID</p>
        </li>
        <li>
        <p>internal_memo : 社内メモ</p>
        </li>
        </ul>
      operationId: create_quotation
      requestBody:
        $ref: '#/components/requestBodies/QuotationCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/QuotationCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /quotations/{id}:
    get:
      tags:
        - quotations
      summary: 見積詳細取得
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの見積の詳細情報を取得します。
        見積の基本情報に加えて、明細情報や各種ステータスなどの詳細な情報も取得できます。
        </p>
      operationId: get_quotation
      parameters:
        - $ref: '#/components/parameters/company_id'
        - name: id
          in: path
          required: true
          description: 見積ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      responses:
        '200':
          description: 見積詳細取得のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotationDetail'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    patch:
      tags:
        - quotations
      summary: 見積更新
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの見積を更新します。
        見積の基本情報を部分的に更新できます。
        送信したフィールドのみが更新され、送信しなかったフィールドは変更されません。
        </p>
        <h2 id="_2">定義</h2>
        <h3>更新可能項目</h3>
        <ul>
        <li>
        <p>business_id : 案件ID</p>
        </li>
        <li>
        <p>internal_subject : 見積タイトル</p>
        </li>
        <li>
        <p>quotation_date : 見積日</p>
        </li>
        <li>
        <p>customer_id : 顧客の取引先ID</p>
        </li>
        <li>
        <p>expires_on : 有効期限日</p>
        </li>
        <li>
        <p>delivery_deadline : 納品期限日</p>
        </li>
        <li>
        <p>delivery_location : 納品場所</p>
        </li>
        <li>
        <p>quotation_template_id : 見積書テンプレートID</p>
        </li>
        <li>
        <p>quotation_subject : 見積書件名</p>
        </li>
        <li>
        <p>quotation_note : 見積書の備考欄に記載する内容</p>
        </li>
        <li>
        <p>recipient_address : 宛先情報（指定した場合、既存の宛先情報は全て削除され、新しい宛先情報に置き換えられます）</p>
        </li>
        <li>
        <p>charge_employee_id : 社内担当者の従業員ID</p>
        </li>
        <li>
        <p>reporting_section_id : 担当部門ID</p>
        </li>
        <li>
        <p>internal_memo : 社内メモ</p>
        </li>
        <li>
        <p>branch_no : 枝番</p>
        </li>
        <li>
        <p>lines : 明細リスト（指定した場合、既存の明細は全て削除され、新しい明細に置き換えられます）</p>
        </li>
        </ul>
        <p>※全ての項目は任意です。更新したい項目のみを送信してください。</p>
        <p>※recipient_addressを指定した場合、リクエストに含まれない項目はnullとして扱われます。</p>
        <h2 id="_3">注意点</h2>
        <h3>明細行の金額再計算について</h3>
        <p>見積を更新する際、登録後に下記の設定変更が行われていた場合は、明細行の金額が再計算されます。</p>
        <ul>
        <li><p>事業所(自社)の設定が変更された場合：freee会計の「設定」で変更可能な"消費税の経理処理"、"消費税の端数処理"の設定値</p></li>
        <li><p>取引先の設定が変更された場合：freeeの「取引先」で変更可能な"内税/外税"の設定値</p></li>
        </ul>
        <h3>見積書への反映について</h3>
        <p>発行済みの見積書がある場合、見積情報を更新しても見積書の内容には自動で反映されません。見積書の内容を更新するには、再発行が必要です。</p>
      operationId: update_quotation
      parameters:
        - name: id
          in: path
          required: true
          description: 見積ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      requestBody:
        $ref: '#/components/requestBodies/QuotationUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/QuotationUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /quotations/{id}/quotation_status:
    put:
      tags:
        - quotations
      summary: 見積ステータス変更
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの見積のステータスを変更します。
        見積のステータス（未受注/失注）を更新できます。
        </p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>quotation_status : 見積ステータス (未受注: unanswered, 失注: order_lost)</p>
        </li>
        </ul>
        <p>※ステータス変更は取り消されていない見積に対してのみ可能です。</p>
        <p>※受注済（order_received）への変更は本APIでは行えません。受注登録APIで対象の見積を指定して受注登録することで、見積ステータスが自動的に受注済へ更新されます。</p>
      operationId: update_quotation_status
      parameters:
        - name: id
          in: path
          required: true
          description: 見積ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      requestBody:
        description: 見積ステータス変更リクエスト
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuotationStatusChangeRequest'
      responses:
        '200':
          description: 見積ステータス変更のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotationMinimalResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /quotations/{id}/cancellation:
    post:
      tags:
        - quotations
      summary: 見積取消
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの見積を取り消します。
        </p>
      operationId: cancel_quotation
      parameters:
        - name: id
          in: path
          required: true
          description: 見積ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      requestBody:
        $ref: '#/components/requestBodies/QuotationCancellationRequest'
      responses:
        '200':
          $ref: '#/components/responses/QuotationCancellationResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /sales_orders:
    get:
      tags:
        - sales_orders
      summary: 受注一覧
      description: |-
        <h2 id="">概要</h2>
        <p>受注の一覧を取得します。
        登録されている受注情報を一覧形式で取得できます。
        各種フィルタ条件を指定することで、特定の条件に合致する受注のみを取得することが可能です。
        </p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>start_last_updated_date : 更新日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_last_updated_date : 更新日(絞り込み終了)</p>
        </li>
        <li>
        <p>start_sales_order_date : 受注日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_sales_order_date : 受注日(絞り込み終了)</p>
        </li>
        <li>
        <p>charge_employee_ids : 社内担当者の従業員ID(複数指定可)</p>
        </li>
        <li>
        <p>customer_ids : 顧客の取引先ID(複数指定可)</p>
        </li>
        <li>
        <p>sales_order_no : 受注No.</p>
        </li>
        <li>
        <p>canceled : 取消状態(デフォルト:false)</p>
        </li>
        </ul>
        <p>
        `limit`と`offset`パラメータを使用してページネーションが可能です。
        デフォルトでは20件ずつ取得され、最大100件まで一度に取得できます。
        </p>
      operationId: get_sales_orders
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/parameters-start_last_updated_date'
        - $ref: '#/components/parameters/parameters-end_last_updated_date'
        - $ref: '#/components/parameters/start_sales_order_date'
        - $ref: '#/components/parameters/end_sales_order_date'
        - $ref: '#/components/parameters/charge_employee_ids'
        - $ref: '#/components/parameters/customer_ids'
        - $ref: '#/components/parameters/sales_order_no'
        - $ref: '#/components/parameters/canceled'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/SalesOrderIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    post:
      tags:
        - sales_orders
      summary: 受注登録
      description: |-
        <h2 id="">概要</h2>
        <p>新しい受注を登録します。
        顧客からの注文情報を登録し、納品・請求・入金の予定情報を管理できます。
        </p>
        <h2 id="_2">定義</h2>
        <h3>必須項目</h3>
        <ul>
        <li>
        <p>sales_order_date : 受注日</p>
        </li>
        <li>
        <p>customer_id : 顧客の取引先ID</p>
        </li>
        <li>
        <p>billing_partner_id : 請求先の取引先ID</p>
        </li>
        <li>
        <p>collecting_partner_id : 入金元の取引先ID</p>
        </li>
        <li>
        <p>lines : 明細リスト</p>
        </li>
        </ul>
        <h3>任意項目</h3>
        <ul>
        <li>
        <p>quotation_id : 見積ID（見積に紐づける場合）</p>
        </li>
        <li>
        <p>sales_order_subject : 受注タイトル</p>
        </li>
        <li>
        <p>customer_order_no : 顧客注文No.</p>
        </li>
        <li>
        <p>deliveries_on : 納品予定日</p>
        </li>
        <li>
        <p>accepts_on : 検収予定日</p>
        </li>
        <li>
        <p>bills_on : 請求予定日</p>
        </li>
        <li>
        <p>collects_on : 入金予定日</p>
        </li>
        <li>
        <p>business_id : 案件ID</p>
        </li>
        <li>
        <p>delivery_template_id : 納品書テンプレートID ※指定しない場合はデフォルトのテンプレートが適用されます。</p>
        </li>
        <li>
        <p>invoice_template_id : 請求書テンプレートID ※指定しない場合はデフォルトのテンプレートが適用されます。</p>
        </li>
        </ul>
      operationId: create_sales_order
      requestBody:
        $ref: '#/components/requestBodies/SalesOrderCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/SalesOrderCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /sales_orders/{id}:
    get:
      tags:
        - sales_orders
      summary: 受注詳細取得
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの受注の詳細情報を取得します。
        受注の基本情報に加えて、納品・請求・入金情報などの詳細な進捗情報も取得できます。
        </p>
      operationId: get_sales_order
      parameters:
        - $ref: '#/components/parameters/company_id'
        - name: id
          in: path
          required: true
          description: 受注ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      responses:
        '200':
          description: 受注詳細取得のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDetail'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    patch:
      tags:
        - sales_orders
      summary: 受注更新
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの受注を更新します。
        受注の基本情報、納品・請求・入金情報などを部分的に更新できます。
        送信したフィールドのみが更新され、送信しなかったフィールドは変更されません。
        </p>
        <h2 id="_2">定義</h2>
        <h3>更新可能項目</h3>
        <ul>
        <li>
        <p>sales_order_subject : 受注タイトル</p>
        </li>
        <li>
        <p>sales_order_date : 受注日</p>
        </li>
        <li>
        <p>customer_order_no : 顧客注文No.</p>
        </li>
        <li>
        <p>customer_id : 顧客の取引先ID</p>
        </li>
        <li>
        <p>sales_on : 売上予定日</p>
        </li>
        <li>
        <p>deliveries_on : 納品予定日</p>
        </li>
        <li>
        <p>accepts_on : 検収予定日</p>
        </li>
        <li>
        <p>delivery_template_id : 納品書テンプレートID</p>
        </li>
        <li>
        <p>delivery_subject : 納品書件名</p>
        </li>
        <li>
        <p>delivery_note : 納品書の備考欄に掲載する内容</p>
        </li>
        <li>
        <p>billing_creating_method_type : 請求の管理</p>
        </li>
        <li>
        <p>bills_on : 請求予定日</p>
        </li>
        <li>
        <p>billing_partner_id : 請求先の取引先ID</p>
        </li>
        <li>
        <p>invoice_template_id : 請求書テンプレートID</p>
        </li>
        <li>
        <p>invoice_subject : 請求書件名</p>
        </li>
        <li>
        <p>invoice_note : 請求書の備考欄に掲載する内容</p>
        </li>
        <li>
        <p>collects_on : 入金予定日</p>
        </li>
        <li>
        <p>collecting_partner_id : 入金元の取引先ID</p>
        </li>
        <li>
        <p>collection_method_type : 入金方法</p>
        </li>
        <li>
        <p>charge_employee_id : 社内担当者の従業員ID</p>
        </li>
        <li>
        <p>reporting_section_id : 担当部門ID</p>
        </li>
        <li>
        <p>internal_memo : 社内メモ</p>
        </li>
        <li>
        <p>business_id : 案件ID</p>
        </li>
        <li>
        <p>lines : 明細リスト ※指定した場合、既存の明細は全て削除され、新しい明細に置き換えられます。</p>
        </li>
        </ul>
        <p>※全ての項目は任意です。更新したい項目のみを送信してください。</p>
        <h2 id="_3">注意点</h2>
        <p>受注を更新する際、登録後に下記の設定変更が行われていた場合は、明細行の金額が再計算されます。</p>
        <ul>
        <li><p>事業所(自社)の設定が変更された場合：freee会計の「設定」で変更可能な"消費税の経理処理"、"消費税の端数処理"の設定値</p></li>
        <li><p>取引先の設定が変更された場合：freeeの「取引先」で変更可能な"内税/外税"の設定値</p></li>
        <li><p>明細取引タイプが変更された場合：freee販売の「明細取引タイプ」で変更可能な"税区分"、"軽減税率"の設定値</p></li>
        </ul>
      operationId: update_sales_order
      parameters:
        - name: id
          in: path
          required: true
          description: 受注ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      requestBody:
        $ref: '#/components/requestBodies/SalesOrderUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/SalesOrderUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /sales_orders/{id}/cancellation:
    post:
      tags:
        - sales_orders
      summary: 受注取消
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの受注を取消します。
        </p>
      operationId: cancel_sales_order
      parameters:
        - name: id
          in: path
          required: true
          description: 受注ID
          schema:
            type: string
            minLength: 26
            maxLength: 26
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
      requestBody:
        $ref: '#/components/requestBodies/SalesOrderCancelRequest'
      responses:
        '200':
          $ref: '#/components/responses/SalesOrderCancelResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /deliveries:
    get:
      tags:
        - deliveries
      summary: 納品一覧
      description: |-
        <h2 id="">概要</h2>
        <p>納品の一覧を取得します。
        登録されている納品情報を一覧形式で取得できます。
        各種フィルタ条件を指定することで、特定の条件に合致する納品のみを取得することが可能です。
        </p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>start_registered_date : 登録日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_registered_date : 登録日(絞り込み終了)</p>
        </li>
        <li>
        <p>start_last_updated_date : 更新日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_last_updated_date : 更新日(絞り込み終了)</p>
        </li>
        <li>
        <p>start_delivery_date : 納品日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_delivery_date : 納品日(絞り込み終了)</p>
        </li>
        <li>
        <p>start_acceptance_date : 検収日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_acceptance_date : 検収日(絞り込み終了)</p>
        </li>
        <li>
        <p>charge_employee_ids : 社内担当者の従業員ID(複数指定可)</p>
        </li>
        <li>
        <p>customer_ids : 顧客の取引先ID(複数指定可)</p>
        </li>
        <li>
        <p>delivery_no : 納品No.</p>
        </li>
        <li>
        <p>delivery_status : 納品ステータス</p>
        </li>
        <li>
        <p>canceled : 取消状態(デフォルト:false)</p>
        </li>
        </ul>
        <p>
        `limit`と`offset`パラメータを使用してページネーションが可能です。
        デフォルトでは20件ずつ取得され、最大100件まで一度に取得できます。
        </p>
      operationId: get_deliveries
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/parameters-start_registered_date'
        - $ref: '#/components/parameters/parameters-end_registered_date'
        - $ref: '#/components/parameters/parameters-start_last_updated_date'
        - $ref: '#/components/parameters/parameters-end_last_updated_date'
        - $ref: '#/components/parameters/start_delivery_date'
        - $ref: '#/components/parameters/end_delivery_date'
        - $ref: '#/components/parameters/start_acceptance_date'
        - $ref: '#/components/parameters/end_acceptance_date'
        - $ref: '#/components/parameters/charge_employee_ids'
        - $ref: '#/components/parameters/customer_ids'
        - $ref: '#/components/parameters/delivery_no'
        - $ref: '#/components/parameters/delivery_status'
        - $ref: '#/components/parameters/canceled'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/DeliveryIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    post:
      tags:
        - deliveries
      summary: 納品登録
      description: |-
        <h2 id="">概要</h2>
        <p>新しい納品を登録します。
        受注に紐づく納品、または独立した納品を登録できます。
        </p>
        <h2 id="_2">定義</h2>
        <h3>必須項目</h3>
        <ul>
        <li>
        <p>delivery_date : 納品日</p>
        </li>
        <li>
        <p>customer_id : 顧客の取引先ID</p>
        </li>
        <li>
        <p>billing_partner_id : 請求先の取引先ID</p>
        </li>
        <li>
        <p>billing_creating_method_type : 請求作成方法</p>
        </li>
        <li>
        <p>collecting_partner_id : 入金元の取引先ID</p>
        </li>
        <li>
        <p>collection_method_type : 入金方法</p>
        </li>
        <li>
        <p>lines : 明細リスト</p>
        </li>
        </ul>
        <h3>任意項目</h3>
        <ul>
        <li>
        <p>sales_order_id : 受注ID（受注に紐づける場合）</p>
        </li>
        <li>
        <p>business_id : 案件ID</p>
        </li>
        <li>
        <p>internal_subject : 納品タイトル</p>
        </li>
        <li>
        <p>customer_order_no : 顧客注文No.</p>
        </li>
        <li>
        <p>acceptance_date : 検収日</p>
        </li>
        <li>
        <p>delivery_note : 納品書の備考欄に記載する内容</p>
        </li>
        <li>
        <p>delivery_template_id : 納品書テンプレートID ※指定しない場合はデフォルトのテンプレートが適用されます。</p>
        </li>
        <li>
        <p>subject : 納品書件名</p>
        </li>
        <li>
        <p>recipient_address : 宛先情報 ※Web画面とは異なり、顧客マスタからの自動補完は行われません。指定しない場合は全ての項目がnullとして登録されます。</p>
        </li>
        <li>
        <p>bills_on : 請求予定日</p>
        </li>
        <li>
        <p>invoice_template_id : 請求書テンプレートID ※指定しない場合はデフォルトのテンプレートが適用されます。</p>
        </li>
        <li>
        <p>invoice_subject : 請求書件名</p>
        </li>
        <li>
        <p>invoice_note : 請求書の備考欄に掲載する内容</p>
        </li>
        <li>
        <p>collects_on : 入金予定日</p>
        </li>
        <li>
        <p>charge_employee_id : 社内担当者の従業員ID</p>
        </li>
        <li>
        <p>reporting_section_id : 担当部門ID</p>
        </li>
        <li>
        <p>internal_memo : 社内メモ</p>
        </li>
        </ul>
      operationId: create_delivery
      requestBody:
        $ref: '#/components/requestBodies/DeliveryCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/DeliveryCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /deliveries/{id}:
    get:
      tags:
        - deliveries
      summary: 納品詳細取得
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの納品の詳細情報を取得します。
        納品の基本情報に加えて、売上・請求情報などの詳細な進捗情報も取得できます。
        </p>
      operationId: get_delivery
      parameters:
        - $ref: '#/components/parameters/company_id'
        - name: id
          in: path
          required: true
          description: 納品ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      responses:
        '200':
          description: 納品詳細取得のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryDetail'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    patch:
      tags:
        - deliveries
      summary: 納品更新
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの納品を更新します。
        納品の基本情報、請求・入金情報などを部分的に更新できます。
        送信したフィールドのみが更新され、送信しなかったフィールドは変更されません。
        </p>
        <h2 id="_2">定義</h2>
        <h3>更新可能項目</h3>
        <ul>
        <li>
        <p>branch_no : 枝番</p>
        </li>
        <li>
        <p>internal_subject : 納品タイトル</p>
        </li>
        <li>
        <p>delivery_date : 納品日</p>
        </li>
        <li>
        <p>customer_order_no : 顧客注文No.</p>
        </li>
        <li>
        <p>acceptance_date : 検収日</p>
        </li>
        <li>
        <p>customer_id : 顧客の取引先ID</p>
        </li>
        <li>
        <p>delivery_note : 納品書の備考欄に記載する内容</p>
        </li>
        <li>
        <p>delivery_template_id : 納品書テンプレートID</p>
        </li>
        <li>
        <p>subject : 納品書件名</p>
        </li>
        <li>
        <p>recipient_address : 宛先情報（指定した場合、既存の宛先情報は全て削除され、新しい宛先情報に置き換えられます）</p>
        </li>
        <li>
        <p>billing_creating_method_type : 請求作成方法</p>
        </li>
        <li>
        <p>bills_on : 請求予定日</p>
        </li>
        <li>
        <p>invoice_template_id : 請求書テンプレートID</p>
        </li>
        <li>
        <p>billing_partner_id : 請求先の取引先ID</p>
        </li>
        <li>
        <p>invoice_subject : 請求書件名</p>
        </li>
        <li>
        <p>invoice_note : 請求書の備考欄に掲載する内容</p>
        </li>
        <li>
        <p>collects_on : 入金予定日</p>
        </li>
        <li>
        <p>collection_method_type : 入金方法</p>
        </li>
        <li>
        <p>collecting_partner_id : 入金元の取引先ID</p>
        </li>
        <li>
        <p>charge_employee_id : 社内担当者の従業員ID</p>
        </li>
        <li>
        <p>reporting_section_id : 担当部門ID</p>
        </li>
        <li>
        <p>internal_memo : 社内メモ</p>
        </li>
        <li>
        <p>business_id : 案件ID</p>
        </li>
        <li>
        <p>lines : 明細リスト（指定した場合、既存の明細は全て削除され、新しい明細に置き換えられます）</p>
        </li>
        </ul>
        <p>※全ての項目は任意です。更新したい項目のみを送信してください。</p>
        <p>※recipient_addressを指定した場合、リクエストに含まれない項目はnullとして扱われます。</p>
        <h2 id="_3">注意点</h2>
        <h3>明細行の金額再計算について</h3>
        <p>納品を更新する際、登録後に下記の設定変更が行われていた場合は、明細行の金額が再計算されます。</p>
        <ul>
        <li><p>事業所(自社)の設定が変更された場合：freee会計の「設定」で変更可能な"消費税の経理処理"、"消費税の端数処理"の設定値</p></li>
        <li><p>取引先の設定が変更された場合：freeeの「取引先」で変更可能な"内税/外税"の設定値</p></li>
        </ul>
        <h3>納品書への反映について</h3>
        <p>発行済みの納品書がある場合、納品情報を更新しても納品書の内容には自動で反映されません。納品書の内容を更新するには、再発行が必要です。</p>
      operationId: update_delivery
      parameters:
        - name: id
          in: path
          required: true
          description: 納品ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      requestBody:
        $ref: '#/components/requestBodies/DeliveryUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/DeliveryUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /deliveries/{id}/cancellation:
    post:
      tags:
        - deliveries
      summary: 納品取消
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの納品を取消します。
        </p>
      operationId: cancel_delivery
      parameters:
        - name: id
          in: path
          required: true
          description: 納品ID
          schema:
            type: string
            minLength: 26
            maxLength: 26
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
      requestBody:
        $ref: '#/components/requestBodies/DeliveryCancelRequest'
      responses:
        '200':
          $ref: '#/components/responses/DeliveryCancelResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /deliveries/{id}/delivery_status:
    put:
      tags:
        - deliveries
      summary: 納品ステータス変更
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの納品の納品ステータスを変更します。</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>status : 納品ステータス (未納品: not_delivered, 納品済: delivered)</p>
        </li>
        </ul>
      operationId: update_delivery_status
      parameters:
        - name: id
          in: path
          required: true
          description: 納品ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      requestBody:
        description: 納品ステータス変更リクエスト
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryStatusChangeRequest'
      responses:
        '200':
          $ref: '#/components/responses/DeliveryUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /deliveries/{id}/acceptance_status:
    put:
      tags:
        - deliveries
      summary: 検収ステータス変更
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの納品の検収ステータスを変更します。</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>status : 検収ステータス (未検収: not_accepted, 検収済: accepted)</p>
        </li>
        </ul>
      operationId: update_acceptance_status
      parameters:
        - name: id
          in: path
          required: true
          description: 納品ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      requestBody:
        description: 検収ステータス変更リクエスト
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptanceStatusChangeRequest'
      responses:
        '200':
          $ref: '#/components/responses/DeliveryUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /sales:
    get:
      tags:
        - sales
      summary: 売上一覧
      description: |-
        <h2 id="">概要</h2>
        <p>売上の一覧を取得します。
        登録されている売上情報を一覧形式で取得できます。
        各種フィルタ条件を指定することで、特定の条件に合致する売上のみを取得することが可能です。
        </p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>start_registered_date : 売上登録日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_registered_date : 売上登録日(絞り込み終了)</p>
        </li>
        <li>
        <p>start_last_updated_date : 売上更新日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_last_updated_date : 売上更新日(絞り込み終了)</p>
        </li>
        <li>
        <p>start_revenue_recognition_date : 売上日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_revenue_recognition_date : 売上日(絞り込み終了)</p>
        </li>
        <li>
        <p>charge_employee_ids : 社内担当者の従業員ID(複数指定可)</p>
        </li>
        <li>
        <p>customer_ids : 顧客の取引先ID(複数指定可)</p>
        </li>
        <li>
        <p>business_ids : 案件ID(複数指定可)</p>
        </li>
        <li>
        <p>sales_no : 売上No.</p>
        </li>
        <li>
        <p>billing_status : 請求書送付ステータス</p>
        </li>
        <li>
        <p>collection_status : 入金ステータス</p>
        </li>
        <li>
        <p>canceled : 取消状態(デフォルト:false)</p>
        </li>
        </ul>
        <p>
        `limit`と`offset`パラメータを使用してページネーションが可能です。
        デフォルトでは20件ずつ取得され、最大100件まで一度に取得できます。
        </p>
      operationId: get_sales
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/components-parameters-start_registered_date'
        - $ref: '#/components/parameters/components-parameters-end_registered_date'
        - $ref: '#/components/parameters/start_revenue_recognition_date'
        - $ref: '#/components/parameters/end_revenue_recognition_date'
        - $ref: '#/components/parameters/charge_employee_ids'
        - $ref: '#/components/parameters/customer_ids'
        - $ref: '#/components/parameters/parameters-billing_status'
        - $ref: '#/components/parameters/collection_status'
        - $ref: '#/components/parameters/canceled'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/SalesIndexResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    post:
      tags:
        - sales
      summary: 売上登録
      description: |-
        <h2 id="">概要</h2>
        <p>新しい売上を登録します。
        受注や納品に紐づく売上、または独立した売上を登録できます。
        </p>
        <h2 id="_2">定義</h2>
        <h3>必須項目</h3>
        <ul>
        <li>
        <p>revenue_recognition_date : 売上日</p>
        </li>
        <li>
        <p>customer_id : 顧客の取引先ID</p>
        </li>
        <li>
        <p>billing_partner_id : 請求先の取引先ID</p>
        </li>
        <li>
        <p>collecting_partner_id : 入金元の取引先ID</p>
        </li>
        <li>
        <p>collection_method_type : 入金方法</p>
        </li>
        <li>
        <p>billing_creating_method_type : 請求の管理</p>
        </li>
        <li>
        <p>lines : 明細リスト</p>
        </li>
        </ul>
        <h3>任意項目</h3>
        <ul>
        <li>
        <p>sales_order_id : 受注ID（受注に紐づける場合）</p>
        </li>
        <li>
        <p>delivery_id : 納品ID（納品に紐づける場合）</p>
        </li>
        <li>
        <p>business_id : 案件ID</p>
        </li>
        <li>
        <p>subject : 売上タイトル</p>
        </li>
        <li>
        <p>customer_order_no : 顧客注文No.</p>
        </li>
        <li>
        <p>bills_on : 請求日 ※billing_creating_method_typeがautomaticallyの場合は必須</p>
        </li>
        <li>
        <p>invoice_template_id : 請求書テンプレートID ※指定しない場合はデフォルトのテンプレートが適用されます。</p>
        </li>
        <li>
        <p>invoice_subject : 請求書件名</p>
        </li>
        <li>
        <p>invoice_note : 請求書の備考欄に掲載する内容</p>
        </li>
        <li>
        <p>collects_on : 入金期日 ※billing_creating_method_typeがautomaticallyの場合は必須</p>
        </li>
        <li>
        <p>charge_employee_id : 社内担当者の従業員ID</p>
        </li>
        <li>
        <p>reporting_section_id : 担当部門ID</p>
        </li>
        <li>
        <p>internal_memo : 社内メモ</p>
        </li>
        </ul>
      operationId: create_sale
      requestBody:
        $ref: '#/components/requestBodies/SaleCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/SaleCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /sales/{id}:
    get:
      tags:
        - sales
      summary: 売上詳細取得
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの売上の詳細情報を取得します。
        売上の基本情報に加えて、請求・入金情報などの詳細な進捗情報も取得できます。
        </p>
      operationId: get_sale
      parameters:
        - $ref: '#/components/parameters/company_id'
        - name: id
          in: path
          required: true
          description: 売上ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      responses:
        '200':
          description: 売上詳細取得のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleDetail'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
    patch:
      tags:
        - sales
      summary: 売上更新
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの売上を更新します。
        売上の基本情報、請求・入金情報などを部分的に更新できます。
        送信したフィールドのみが更新され、送信しなかったフィールドは変更されません。
        </p>
        <h2 id="_2">定義</h2>
        <h3>更新可能項目</h3>
        <ul>
        <li>
        <p>subject : 売上タイトル</p>
        </li>
        <li>
        <p>revenue_recognition_date : 売上日</p>
        </li>
        <li>
        <p>customer_order_no : 顧客注文No.</p>
        </li>
        <li>
        <p>customer_id : 顧客の取引先ID</p>
        </li>
        <li>
        <p>billing_partner_id : 請求先の取引先ID</p>
        </li>
        <li>
        <p>bills_on : 請求日</p>
        </li>
        <li>
        <p>invoice_template_id : 請求書テンプレートID</p>
        </li>
        <li>
        <p>invoice_subject : 請求書件名</p>
        </li>
        <li>
        <p>invoice_note : 請求書の備考欄に掲載する内容</p>
        </li>
        <li>
        <p>collecting_partner_id : 入金元の取引先ID</p>
        </li>
        <li>
        <p>collection_method_type : 入金方法</p>
        </li>
        <li>
        <p>collects_on : 入金期日</p>
        </li>
        <li>
        <p>charge_employee_id : 社内担当者の従業員ID</p>
        </li>
        <li>
        <p>reporting_section_id : 担当部門ID</p>
        </li>
        <li>
        <p>internal_memo : 社内メモ</p>
        </li>
        <li>
        <p>business_id : 案件ID</p>
        </li>
        <li>
        <p>lines : 明細リスト（指定した場合、既存の明細は全て削除され、新しい明細に置き換えられます）</p>
        </li>
        </ul>
        <p>※全ての項目は任意です。更新したい項目のみを送信してください。</p>
        <h2 id="_3">注意点</h2>
        <h3>明細行の金額再計算について</h3>
        <p>売上を更新する際、登録後に下記の設定変更が行われていた場合は、明細行の金額が再計算されます。</p>
        <ul>
        <li><p>事業所(自社)の設定が変更された場合：freee会計の「設定」で変更可能な"消費税の経理処理"、"消費税の端数処理"の設定値</p></li>
        <li><p>取引先の設定が変更された場合：freeeの「取引先」で変更可能な"内税/外税"の設定値</p></li>
        <li><p>明細取引タイプが変更された場合：freee販売の「明細取引タイプ」で変更可能な"税区分"、"軽減税率"の設定値</p></li>
        </ul>
        <h3>請求書への反映について</h3>
        <p>発行済みの請求書がある場合、売上情報を更新すると請求データは更新されますが、請求書の内容には自動で反映されません。請求書の内容を更新するには、再発行が必要です。</p>
      operationId: update_sale
      parameters:
        - name: id
          in: path
          required: true
          description: 売上ID
          schema:
            type: string
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
            maxLength: 26
            minLength: 26
      requestBody:
        $ref: '#/components/requestBodies/SaleUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/SaleUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /sales/{id}/cancellation:
    post:
      tags:
        - sales
      summary: 売上取消
      description: |-
        <h2 id="">概要</h2>
        <p>指定されたIDの売上を取消します。
        </p>
      operationId: cancel_sale
      parameters:
        - name: id
          in: path
          required: true
          description: 売上ID
          schema:
            type: string
            minLength: 26
            maxLength: 26
            example: 01JPP4FD1CVQWCDSWA90VE1ZTM
      requestBody:
        $ref: '#/components/requestBodies/SaleCancelRequest'
      responses:
        '200':
          $ref: '#/components/responses/SaleCancelResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
  /other_costs:
    get:
      tags:
        - other_costs
      summary: その他原価一覧
      description: |-
        <h2 id="">概要</h2>
        <p>その他原価の一覧を取得します。
        登録されているその他原価情報を一覧形式で取得できます。
        各種フィルタ条件を指定することで、特定の条件に合致するその他原価のみを取得することが可能です。
        </p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>start_amount_excluding_tax : 金額(税抜)の絞り込み下限</p>
        </li>
        <li>
        <p>end_amount_excluding_tax : 金額(税抜)の絞り込み上限</p>
        </li>
        <li>
        <p>business_ids : 案件ID(複数指定可)</p>
        </li>
        <li>
        <p>other_cost_no : その他原価No.</p>
        </li>
        <li>
        <p>start_last_updated_date : 更新日(絞り込み開始)</p>
        </li>
        <li>
        <p>end_last_updated_date : 更新日(絞り込み終了)</p>
        </li>
        <li>
        <p>start_incurred_date : 発生日の絞り込み開始日</p>
        </li>
        <li>
        <p>end_incurred_date : 発生日の絞り込み終了日</p>
        </li>
        <li>
        <p>canceled : 取消状態(デフォルト:false)</p>
        </li>
        </ul>
        <p>
        `limit`と`offset`パラメータを使用してページネーションが可能です。
        デフォルトでは20件ずつ取得され、最大100件まで一度に取得できます。
        </p>
      operationId: get_other_costs
      parameters:
        - $ref: '#/components/parameters/company_id'
        - name: start_amount_excluding_tax
          description: 金額(税抜)で絞込：下限
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 999999999999
            minimum: -999999999999
        - name: end_amount_excluding_tax
          description: 金額(税抜)で絞込：上限
          in: query
          required: false
          schema:
            type: integer
            format: int64
            maximum: 999999999999
            minimum: -999999999999
        - name: business_ids[]
          description: 案件ID
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              minLength: 26
              maxLength: 26
              example: 01JPP4FD1CVQWCDSWA90VE1ZTM
        - $ref: '#/components/parameters/other_cost_no'
        - $ref: '#/components/parameters/canceled'
[...]
