{
  "openapi": "3.0.1",
  "info": {
    "title": "freee API",
    "description": "",
    "version": "v1.0",
    "x-copyright": "&copy; Since 2013 freee K.K."
  },
  "servers": [
    {
      "url": "https://api.freee.co.jp"
    }
  ],
  "security": [
    {
      "oauth2": [
        "write",
        "read"
      ]
    }
  ],
  "tags": [
    {
      "name": "Partners",
      "description": "\n<p>取引先</p>\n"
    },
    {
      "name": "Selectables",
      "description": "\n<p>フォーム用選択項目情報</p>\n"
    },
    {
      "name": "Account items",
      "description": "\n<p>勘定科目</p>\n"
    },
    {
      "name": "Tags",
      "description": "\n<p>メモタグ</p>\n"
    },
    {
      "name": "Sections",
      "description": "\n<p>部門</p>\n"
    },
    {
      "name": "Invoices",
      "description": "\n<p>請求書</p>\n"
    },
    {
      "name": "Deals",
      "description": "\n<p>取引（収入・支出）</p>\n"
    },
    {
      "name": "Payments",
      "description": "\n<p>取引（収入・支出）の支払行</p>\n"
    },
    {
      "name": "Renews",
      "description": "\n<p>取引（収入・支出）の+更新</p>\n"
    },
    {
      "name": "ManualJournals",
      "description": "\n<p>振替伝票</p>\n"
    },
    {
      "name": "Users",
      "description": "\n<p>ユーザー</p>\n"
    },
    {
      "name": "Companies",
      "description": "\n<p>事業所</p>\n"
    },
    {
      "name": "Items",
      "description": "\n<p>品目</p>\n"
    },
    {
      "name": "Taxes",
      "description": "\n<p>税区分</p>\n"
    },
    {
      "name": "Walletables",
      "description": "\n<p>口座</p>\n"
    },
    {
      "name": "Banks",
      "description": "\n<p>連携サービス</p>\n"
    },
    {
      "name": "Transfers",
      "description": "\n<p>取引（振替）</p>\n"
    },
    {
      "name": "Wallet txns",
      "description": "\n<p>口座明細</p>\n"
    },
    {
      "name": "Journals",
      "description": "\n<p>仕訳帳</p>\n"
    },
    {
      "name": "Trial balance",
      "description": "\n<p>試算表</p>\n"
    },
    {
      "name": "Receipts",
      "description": "\n<p>ファイルボックス（証憑ファイル）</p>\n"
    },
    {
      "name": "Expense applications",
      "description": "\n<p>経費精算</p>\n"
    },
    {
      "name": "Expense application line templates",
      "description": "\n<p>経費科目</p>\n"
    },
    {
      "name": "Payment requests",
      "description": "\n<p>支払依頼</p>\n"
    },
    {
      "name": "Approval requests",
      "description": "\n<p>各種申請</p>\n"
    },
    {
      "name": "Approval flow routes",
      "description": "\n<p>申請経路</p>\n"
    },
    {
      "name": "Segment tags",
      "description": "\n<p>セグメントタグ</p>\n"
    },
    {
      "name": "Quotations",
      "description": "\n<p>見積書</p>\n"
    }
  ],
  "paths": {
    "/api/1/partners": {
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先一覧の取得",
        "description": "",
        "operationId": "get_partners",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "start_update_date",
            "in": "query",
            "description": "更新日で絞り込み：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_update_date",
            "in": "query",
            "description": "更新日で絞り込み：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854775807
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 3000)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3000
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "検索キーワード<br>\n取引先コード・取引先名・正式名称・カナ名称・ショートカットキー1・2のいずれかに対する部分一致。<br>\n以下のいずれかで区切って複数キーワードを指定した場合はAND検索となります。\n<ul>\n<li>半角スペース</li>\n<li>全角スペース</li>\n<li>タブ</li>\n</ul>\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnersResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の作成",
        "description": "",
        "operationId": "create_partner",
        "requestBody": {
          "description": "取引先の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partnerCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/partnerCreateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/partners/{id}": {
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の取得",
        "description": "",
        "operationId": "get_partner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引先ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の更新",
        "description": "",
        "operationId": "update_partner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引先ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "取引先の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の削除",
        "description": "",
        "operationId": "destroy_partner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引先ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/partners/code/{code}": {
      "put": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の更新",
        "description": "",
        "operationId": "update_partner_by_code",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "取引先コード",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "取引先の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/forms/selectables": {
      "get": {
        "tags": [
          "Selectables"
        ],
        "summary": "フォーム用選択項目情報の取得",
        "description": "",
        "operationId": "get_forms_selectables",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "取得する項目(項目: account_item)",
            "schema": {
              "type": "string",
              "enum": [
                "account_item"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/selectablesIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/account_items/{id}": {
      "get": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目の取得",
        "description": "",
        "operationId": "get_account_item",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "勘定科目ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目の更新",
        "description": "",
        "operationId": "update_account_item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "勘定科目の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountItemUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/accountItemUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serviceUnavailableError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目の削除",
        "description": "",
        "operationId": "destroy_account_item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/account_items": {
      "get": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目一覧の取得",
        "description": "",
        "operationId": "get_account_items",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "base_date",
            "in": "query",
            "description": "基準日:指定した場合、勘定科目に紐づく税区分(default_tax_code)が、基準日の税率に基づいて返ります。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目の作成",
        "description": "",
        "operationId": "create_account_item",
        "requestBody": {
          "description": "勘定科目の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountItemCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/accountItemCreateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "メモタグ一覧の取得",
        "description": "",
        "operationId": "get_tags",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "start_update_date",
            "in": "query",
            "description": "更新日で絞り込み：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_update_date",
            "in": "query",
            "description": "更新日で絞り込み：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 3000)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tags"
                  ],
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/tag"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "メモタグの作成",
        "description": "",
        "operationId": "create_tag",
        "requestBody": {
          "description": "メモタグの作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tagParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/tagParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tagResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/tags/{id}": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "メモタグの取得",
        "description": "",
        "operationId": "get_tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "タグID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tagResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Tags"
        ],
        "summary": "メモタグの更新",
        "description": "",
        "operationId": "update_tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "メモタグID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "メモタグの更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tagParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/tagParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tagResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "summary": "メモタグの削除",
        "description": "",
        "operationId": "destroy_tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "タグID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/sections": {
      "get": {
        "tags": [
          "Sections"
        ],
        "summary": "部門一覧の取得",
        "description": "",
        "operationId": "get_sections",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sections"
                  ],
                  "properties": {
                    "sections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/section"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sections"
        ],
        "summary": "部門の作成",
        "description": "",
        "operationId": "create_section",
        "requestBody": {
          "description": "部門の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/sections/{id}": {
      "get": {
        "tags": [
          "Sections"
        ],
        "summary": "部門の取得",
        "description": "",
        "operationId": "get_section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "部門ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Sections"
        ],
        "summary": "部門の更新",
        "description": "",
        "operationId": "update_section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "部門の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sections"
        ],
        "summary": "部門の削除",
        "description": "",
        "operationId": "destroy_section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "請求書一覧の取得",
        "description": "",
        "operationId": "get_invoices",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "description": "取引先IDで絞込",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "partner_code",
            "in": "query",
            "description": "取引先コードで絞込",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_issue_date",
            "in": "query",
            "description": "請求日の開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_issue_date",
            "in": "query",
            "description": "請求日の終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_due_date",
            "in": "query",
            "description": "期日の開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_due_date",
            "in": "query",
            "description": "期日の終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice_number",
            "in": "query",
            "description": "請求書番号",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "概要",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice_status",
            "in": "query",
            "description": "請求書ステータス  (draft: 下書き, applying: 申請中, remanded: 差し戻し, rejected: 却下, approved: 承認済み, unsubmitted: 送付待ち, submitted: 送付済み)",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "applying",
                "remanded",
                "rejected",
                "approved",
                "unsubmitted",
                "submitted"
              ]
            }
          },
          {
            "name": "payment_status",
            "in": "query",
            "description": "入金ステータス  (unsettled: 入金待ち, settled: 入金済み)",
            "schema": {
              "type": "string",
              "enum": [
                "unsettled",
                "settled"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854775807
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 20, 最大: 100) ",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoiceIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "請求書の作成",
        "description": "",
        "operationId": "create_invoice",
        "requestBody": {
          "description": "請求書の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/invoiceCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/invoiceCreateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/invoices/{id}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "請求書の取得",
        "description": "",
        "operationId": "get_invoice",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "請求書ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Invoices"
        ],
        "summary": "請求書の更新",
        "description": "",
        "operationId": "update_invoice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "請求書ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "請求書の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/invoiceUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/invoiceUpdateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Invoices"
        ],
        "summary": "請求書の削除",
        "description": "",
        "operationId": "destroy_invoice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/quotations": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "見積書一覧の取得",
        "description": "",
        "operationId": "get_quotations",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "maximum": 2147483647,
              "type": "integer"
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "description": "取引先IDで絞込",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "partner_code",
            "in": "query",
            "description": "取引先コードで絞込",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_issue_date",
            "in": "query",
            "description": "見積日の開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_issue_date",
            "in": "query",
            "description": "見積日の終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotation_number",
            "in": "query",
            "description": "見積書番号",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "概要",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotation_status",
            "in": "query",
            "description": "見積書ステータス  (unsubmitted: 送付待ち, submitted: 送付済み, all: 全て)",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "unsubmitted",
                "submitted"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854775807
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 20, 最大: 100) ",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quotationIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "見積書の作成",
        "description": "",
        "operationId": "create_quotation",
        "requestBody": {
          "description": "見積書の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/quotationCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/quotationCreateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quotationResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/quotations/{id}": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "見積書の取得",
        "description": "",
        "operationId": "get_quotation",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "見積書ID",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quotationResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Quotations"
        ],
        "summary": "見積書の更新",
        "description": "",
        "operationId": "update_quotation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "見積書ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "見積書の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/quotationUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/quotationUpdateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quotationResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Quotations"
        ],
        "summary": "見積書の削除",
        "description": "",
        "operationId": "destroy_quotation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/deals": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "取引（収入・支出）一覧の取得",
        "description": "",
        "operationId": "get_deals",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "description": "取引先IDで絞込",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "account_item_id",
            "in": "query",
            "description": "勘定科目IDで絞込",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "partner_code",
            "in": "query",
            "description": "取引先コードで絞込",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "決済状況で絞込 (未決済: unsettled, 完了: settled)",
            "schema": {
              "type": "string",
              "enum": [
                "unsettled",
                "settled"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "収支区分 (収入: income, 支出: expense)",
            "schema": {
              "type": "string",
              "enum": [
                "income",
                "expense"
              ]
            }
          },
          {
            "name": "start_issue_date",
            "in": "query",
            "description": "発生日で絞込：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_issue_date",
            "in": "query",
            "description": "発生日で絞込：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_due_date",
            "in": "query",
            "description": "支払期日で絞込：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_due_date",
            "in": "query",
            "description": "支払期日で絞込：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_renew_date",
            "in": "query",
            "description": "+更新日で絞込：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_renew_date",
            "in": "query",
            "description": "+更新日で絞込：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 9223372036854775807
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 20, 最大: 100) ",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "registered_from",
            "in": "query",
            "description": "取引登録元アプリで絞込（me: 本APIを叩くアプリ自身から登録した取引のみ）",
            "schema": {
              "type": "string",
              "enum": [
                "me"
              ]
            }
          },
          {
            "name": "accruals",
            "in": "query",
            "description": "取引の債権債務行の表示（without: 表示しない(デフォルト), with: 表示する）",
            "schema": {
              "type": "string",
              "enum": [
                "without",
                "with"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deals",
                    "meta"
                  ],
                  "properties": {
                    "deals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/deal"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "total_count"
                      ],
                      "properties": {
                        "total_count": {
                          "type": "integer",
                          "minimum": 0,
                          "description": "検索条件に合致する取引の総数",
                          "example": 100
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Deals"
        ],
        "summary": "取引（収入・支出）の作成",
        "description": "",
        "operationId": "create_deal",
        "requestBody": {
          "description": "取引（収入・支出）の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dealCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/dealCreateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/deals/{id}": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "取引（収入・支出）の取得",
        "description": "",
        "operationId": "get_deal",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "accruals",
            "in": "query",
            "description": "取引の債権債務行の表示（without: 表示しない(デフォルト), with: 表示する）",
            "schema": {
              "type": "string",
              "enum": [
                "without",
                "with"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Deals"
        ],
        "summary": "取引（収入・支出）の更新",
        "description": "",
        "operationId": "update_deal",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "description": "取引（収入・支出）の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dealUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/dealUpdateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Deals"
        ],
        "summary": "取引（収入・支出）の削除",
        "description": "",
        "operationId": "destroy_deal",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/deals/{id}/renews": {
      "post": {
        "tags": [
          "Renews"
        ],
        "summary": "取引（収入・支出）の+更新の作成",
        "description": "",
        "operationId": "create_deal_renew",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引ID",
[...]
