---
openapi: 3.0.1
info:
  description: |2-

    <h1 id="freee_api">freee API</h1>
    <hr />
    <h2 id="start_guide">スタートガイド</h2>

    <p>freee API開発がはじめての方は<a href="https://developer.freee.co.jp/getting-started">freee API スタートガイド</a>を参照してください。</p>

    <hr />
    <h2 id="specification">仕様</h2>

    <h3 id="api_endpoint">APIエンドポイント</h3>

    <p>https://api.freee.co.jp/ (httpsのみ)</p>

    <h3 id="about_authorize">認証について</h3>
    <p>OAuth2.0を利用します。詳細は<a href="https://developer.freee.co.jp/docs" target="_blank">ドキュメントの認証</a>パートを参照してください。</p>

    <h3 id="data_format">データフォーマット</h3>

    <p>リクエスト、レスポンスともにJSON形式をサポートしていますが、詳細は、API毎の説明欄（application/jsonなど）を確認してください。</p>

    <h3 id="compatibility">後方互換性ありの変更</h3>

    <p>freeeでは、APIを改善していくために以下のような変更は後方互換性ありとして通知なく変更を入れることがあります。アプリケーション実装者は以下を踏まえて開発を行ってください。</p>

    <ul>
    <li>新しいAPIリソース・エンドポイントの追加</li>
    <li>既存のAPIに対して必須ではない新しいリクエストパラメータの追加</li>
    <li>既存のAPIレスポンスに対する新しいプロパティの追加</li>
    <li>既存のAPIレスポンスに対するプロパティの順番の入れ変え</li>
    <li>keyとなっているidやcodeの長さの変更（長くする）</li>
    </ul>

    <h3 id="common_response_header">共通レスポンスヘッダー</h3>

    <p>すべてのAPIのレスポンスには以下のHTTPヘッダーが含まれます。</p>

    <ul>
    <li>
    <p>X-Freee-Request-ID</p>
    <ul>
    <li>各リクエスト毎に発行されるID</li>
    </ul>
    </li>
    </ul>

    <h3 id="common_error_response">共通エラーレスポンス</h3>

    <ul>
    <li>
    <p>ステータスコードはレスポンス内のJSONに含まれる他、HTTPヘッダにも含まれる</p>
    </li>
    <li>
    <p>一部のエラーレスポンスにはエラーコードが含まれます。<br>詳細は、<a href="https://developer.freee.co.jp/tips/faq/40x-checkpoint">HTTPステータスコード400台エラー時のチェックポイント</a>を参照してください</p>
    </li>
    <p>type</p>

    <ul>
    <li>status : HTTPステータスコードの説明</li>

    <li>validation : エラーの詳細の説明（開発者向け）</li>
    </ul>
    </li>
    </ul>

    <p>レスポンスの例</p>

    <pre><code>  {
        &quot;status_code&quot; : 400,
        &quot;errors&quot; : [
          {
            &quot;type&quot; : &quot;status&quot;,
            &quot;messages&quot; : [&quot;不正なリクエストです。&quot;]
          },
          {
            &quot;type&quot; : &quot;validation&quot;,
            &quot;messages&quot; : [&quot;Date は不正な日付フォーマットです。入力例：2019-12-17&quot;]
          }
        ]
      }</code></pre>

    </br>

    <h3 id="api_rate_limit">API使用制限</h3>

      <p>freeeは一定期間に過度のアクセスを検知した場合、APIアクセスをコントロールする場合があります。</p>
      <p>その際のhttp status codeは403となります。制限がかかってから10分程度が過ぎると再度使用することができるようになります。</p>

    <h4 id="reports_api_endpoint">/reportsと/receipts/{id}/downloadエンドポイント</h4>

    <p>freeeはエンドポイント毎に一定頻度以上のアクセスを検知した場合、APIアクセスをコントロールする場合があります。その際のhttp status codeは429（too many requests）となります。</p>

    <ul>
      <li>/reports:1秒に10回まで</li>
      <li>/receipts/{id}/download:1秒に3回まで</li>
    </ul>

    <p>レスポンスボディのmetaプロパティに以下を含めます。</p>

    <ul>
      <li>設定されている上限値</li>
      <li>上限に達するまでの使用可能回数</li>
      <li>（上限値に達した場合）使用回数がリセットされる時刻</li>
    </ul>

    <h3 id="plan_api_rate_limit">プラン別のAPI Rate Limit</h3>
      <table border="1">
        <tbody>
          <tr>
            <th style="padding: 10px"><strong>freee会計プラン名</strong></th>
            <th style="padding: 10px"><strong>事業所とアプリケーション毎に1日でのAPIコール数</strong></th>
          </tr>
          <tr>
            <td style="padding: 10px">エンタープライズ</td>
            <td style="padding: 10px">10,000</td>
          </tr>
          <tr>
            <td style="padding: 10px">プロフェッショナル</td>
            <td style="padding: 10px">5,000</td>
          </tr>
          <tr>
            <td style="padding: 10px">ベーシック</td>
            <td style="padding: 10px">3,000</td>
          </tr>
          <tr>
            <td style="padding: 10px">ミニマム</td>
            <td style="padding: 10px">3,000</td>
          </tr>
          <tr>
            <td style="padding: 10px">上記以外</td>
            <td style="padding: 10px">3,000</td>
          </tr>
        </tbody>
      </table>

    <h3 id="webhook">Webhookについて</h3>

    <p>詳細は<a href="https://developer.freee.co.jp/docs/accounting/webhook" target="_blank">会計Webhook概要</a>を参照してください。</p>

    <hr />
    <h2 id="contact">連絡先</h2>

    <p>ご不明点、ご要望等は <a href="https://support.freee.co.jp/hc/ja/requests/new">freee サポートデスクへのお問い合わせフォーム</a> からご連絡ください。</p>
    <hr />&copy; Since 2013 freee K.K.
  title: freee API
  version: v1.0
  x-copyright: "&copy; Since 2013 freee K.K."
servers:
- url: https://api.freee.co.jp
paths:
  "/api/1/account_items":
    get:
      parameters:
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 基準日:指定した場合、勘定科目に紐づく税区分(default_tax_code)が、基準日の税率に基づいて返ります。
        in: query
        name: base_date
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/accountItemsResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Account items
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の勘定科目一覧を取得する</p>

        <h2 id="_2">定義</h2>

        <ul>
        <li>default_tax_id : デフォルト設定がされている税区分ID</li>

        <li>default_tax_code : リクエストした日時を基準とした税区分コード</li>
        </ul>

        <h2 id="_3">注意点</h2>
        <p>default_tax_code は勘定科目作成・更新時に利用するものではありません</p>
      operationId: get_account_items
      summary: 勘定科目一覧の取得
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/accountItemResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Account items
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の勘定科目を作成する</p>

        <h2 id="_2">注意点</h2>
        <p>tax_nameは、api/1/taxes/companies/{company_id} で該当事業所の税区分の一覧を取得して、availableの値がtrue、かつ”name_ja”に”税率%”を含んでいない税区分を確認して、そのnameを指定して勘定科目の作成をしてください</p>
      operationId: create_account_item
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/accountItemParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/accountItemParams"
        description: 勘定科目の作成
        required: true
      summary: 勘定科目の作成
  "/api/1/account_items/{id}":
    delete:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '204':
          content: {}
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Account items
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した勘定科目を削除する</p>
        <h2 id="">注意点</h2>
        <ul>
        <li>削除できる勘定科目は、追加で作成したカスタム勘定項目のみです。</li>
        <li>デフォルトで存在する勘定科目や口座の勘定科目は削除できません。</li></ul>
      operationId: destroy_account_item
      summary: 勘定科目の削除
    get:
      parameters:
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 勘定科目ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/accountItemResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Account items
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した勘定科目の詳細を取得する</p>
      operationId: get_account_item
      summary: 勘定科目の詳細情報の取得
    put:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/accountItemResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
        '503':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/serviceUnavailableError"
          description: ''
      tags:
      - Account items
      description: |2-

        <h2 id="">概要</h2>

        <p>勘定科目を更新する</p>

        <h2 id="_2">注意点</h2>
        <p>tax_codeは、api/1/taxes/companies/{company_id} で該当事業所の税区分の一覧を取得して、availableの値がtrue、かつ”name_ja”に”税率%”を含んでいない税区分を確認して、そのcodeを指定して勘定科目の更新をしてください</p>
      operationId: update_account_item
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/accountItemParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/accountItemParams"
        description: 勘定科目の更新
        required: true
      summary: 勘定科目の更新
  "/api/1/approval_flow_routes":
    get:
      parameters:
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 経路に含まれるユーザーのユーザーID
        in: query
        name: included_user_id
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: |-
          申請種別（各申請種別が使用できる申請経路に絞り込めます。例えば、ApprovalRequest を指定すると、各種申請が使用できる申請経路に絞り込めます。）
          * `TxnApproval` - 仕訳承認
          * `ExpenseApplication` - 経費精算
          * `PaymentRequest` - 支払依頼
          * `ApprovalRequest` - 各種申請
          * `DocApproval` - 請求書等 (見積書・納品書・請求書・発注書)
        in: query
        name: usage
        schema:
          enum:
          - TxnApproval
          - ExpenseApplication
          - PaymentRequest
          - ApprovalRequest
          - DocApproval
          type: string
      - description: 申請フォームID request_form_id指定時はusage条件をApprovalRequestに指定してください。指定しない場合無効になります。
        in: query
        name: request_form_id
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/approvalFlowRoutesIndexResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Approval flow routes
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の申請経路一覧を取得する</p>

        <p>各種申請APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-approval-requests" target="_blank">freee会計の各種申請APIの使い方</a>をご参照ください</p>
        <p>経費精算APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-expense-applications" target="_blank">freee会計の経費精算APIの使い方</a>をご参照ください</p>

        <h2 id="">注意点</h2>

        <ul>
          <li>
            <p>申請経路、承認者の指定として部門役職データ連携を活用し、以下のいずれかを利用している申請と申請経路はAPI経由で参照は可能ですが、作成と更新、承認ステータスの変更ができません。</p>
            <ul>
              <li>役職指定（申請者の所属部門）</li>
              <li>役職指定（申請時に部門指定）</li>
              <li>部門および役職指定</li>
            </ul>
          </li>
          <li>個人アカウントの場合は、プレミアムプランでご利用できます。</li>
          <li>法人アカウントの場合は、ベーシックプラン、プロフェッショナルプラン、エンタープライズプランでご利用できます。</li>
        </ul>
      operationId: get_approval_flow_routes
      summary: 申請経路一覧の取得
  "/api/1/approval_flow_routes/{id}":
    get:
      parameters:
      - description: 経路申請ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/approvalFlowRouteResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Approval flow routes
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の申請経路を取得する</p>

        <p>各種申請APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-approval-requests" target="_blank">freee会計の各種申請APIの使い方</a>をご参照ください</p>
        <p>経費精算APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-expense-applications" target="_blank">freee会計の経費精算APIの使い方</a>をご参照ください</p>

        <h2 id="">注意点</h2>

        <ul>
          <li>
            <p>申請経路、承認者の指定として部門役職データ連携を活用し、以下のいずれかを利用している申請と申請経路はAPI経由で参照は可能ですが、作成と更新、承認ステータスの変更ができません。</p>
            <ul>
              <li>役職指定（申請者の所属部門）</li>
              <li>役職指定（申請時に部門指定）</li>
              <li>部門および役職指定</li>
            </ul>
          </li>
          <li>個人アカウントの場合は、プレミアムプランでご利用できます。</li>
          <li>法人アカウントの場合は、ベーシックプラン、プロフェッショナルプラン、エンタープライズプランでご利用できます。</li>
        </ul>
      operationId: get_approval_flow_route
      summary: 申請経路の取得
  "/api/1/approval_requests":
    get:
      parameters:
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 申請ステータス(draft:下書き, in_progress:申請中, approved:承認済, rejected:却下,
          feedback:差戻し)
        example: draft
        in: query
        name: status
        schema:
          enum:
          - draft
          - in_progress
          - approved
          - rejected
          - feedback
          type: string
      - description: 申請No.
        example: 2
        in: query
        name: application_number
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 申請タイトル
        example: 大阪出張
        in: query
        name: title
        schema:
          type: string
      - description: 申請フォームID
        in: query
        name: form_id
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 申請日で絞込：開始日(yyyy-mm-dd)
        in: query
        name: start_application_date
        schema:
          type: string
      - description: 申請日で絞込：終了日(yyyy-mm-dd)
        in: query
        name: end_application_date
        schema:
          type: string
      - description: 申請者のユーザーID
        in: query
        name: applicant_id
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 金額で絞込：以上
        in: query
        name: min_amount
        schema:
          format: int64
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          type: integer
      - description: 金額で絞込：以下
        in: query
        name: max_amount
        schema:
          format: int64
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          type: integer
      - description: 承認者のユーザーID
        example: 1
        in: query
        name: approver_id
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: '取得レコードのオフセット (デフォルト: 0)'
        in: query
        name: offset
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
      - description: '取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 500)'
        in: query
        name: limit
        schema:
          maximum: 500
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/approvalRequestsIndexResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Approval requests
      description: |2-

        <h2 id="_1">概要</h2>

        <p>指定した事業所の各種申請一覧を取得する</p>

        <p>各種申請APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-approval-requests" target="_blank">freee会計の各種申請APIの使い方</a>をご参照ください</p>

        <h2 id="_2">注意点</h2>
        <ul>
          <li>本APIでは、各種申請の一覧を取得することができます。</li>
          <li>
            申請経路、承認者の指定として部門役職データ連携を活用し、以下のいずれかを利用している各種申請と申請経路はAPI経由で参照は可能ですが、作成と更新、承認ステータスの変更ができません。
            <ul>
              <li>役職指定（申請者の所属部門）</li>
              <li>役職指定（申請時に部門指定）</li>
              <li>部門および役職指定</li>
            </ul>
          </li>
          <li>本APIはプロフェッショナルプラン、エンタープライズプランをご利用の事業所のみ利用可能です。</li>
        </ul>
      operationId: get_approval_requests
      summary: 各種申請の一覧
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/approvalRequestResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Approval requests
      description: |2-

        <h2 id="_1">概要</h2>

        <p>指定した事業所の各種申請を作成する</p>

        <p>各種申請APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-approval-requests" target="_blank">freee会計の各種申請APIの使い方</a>をご参照ください</p>

        <h2 id="_2">注意点</h2>
        <ul>
          <li>本APIでは、各種申請を作成することができます。</li>
          <li>
            申請項目(request_items)については、申請フォームで設定された項目のIDとそれに対応する値を入力してください。
            <ul>
              <li>タイトル(title)：文字列(改行なし) 例)予算申請</li>
              <li>1行コメント(single_line)：文字列(改行なし) 例)予算に関する申請</li>
              <li>複数行コメント(multi_line)：文字列(改行あり)
              <br>
              &nbsp;&nbsp;例)<br>
              &nbsp;&nbsp;予算に関する申請<br>
              &nbsp;&nbsp;申請日 2019-12-17<br>
              </li>
              <li>プルダウン(select)： プルダウンの選択肢の名前(改行なし) 例)開発部</li>
              <li>日付(date)： 日付形式 例)2019-12-17</li>
              <li>金額(amount)： 数値(申請フォームで設定した上限・下限金額内の値, 改行なし) 例)10000</li>
              <li>添付ファイル(receipt)： ファイルボックスAPIのID 例)1</li>
              <li>部門ID(section)： 部門APIのID 例)1</li>
              <li>取引先ID(partner)： 取引先APIのID 例)1</li>
            </ul>
          </li>
          <li>
            申請ステータス(下書き、申請中)の指定と変更、及び承認操作（承認する、却下する、申請者へ差し戻す、代理承認する、承認済み・却下済みを取り消す）は以下を参考にして行ってください。
            <ul>
              <li>
                承認操作は申請ステータスが申請中、承認済み、却下のものだけが対象です。
                <ul>
                  <li>
                    初回申請の場合
                    <ul><li>申請の作成（POST）</li></ul>
                  </li>
                  <li>
                    作成済みの申請の申請ステータス変更・更新する場合
                    <ul><li>申請の更新（PUT）</li></ul>
                  </li>
                  <li>
                    申請中、承認済み、却下の申請の承認操作を行う場合
                    <ul><li>承認操作の実行（POST）</li></ul>
                  </li>
                </ul>
              </li>
              <li>申請の削除（DELETE）が可能なのは申請ステータスが下書き、差戻しの場合のみです</li>
            </ul>
          </li>
          <li>
            申請経路、承認者の指定として部門役職データ連携を活用し、以下のいずれかを利用している各種申請は本API経由で作成ができません。
            <ul>
              <li>役職指定（申請者の所属部門）</li>
              <li>役職指定（申請時に部門指定）</li>
              <li>部門および役職指定</li>
            </ul>
          </li>
          <li>Web画面やAPIを通じて申請フォームが変更されると、本APIで使用する項目ID（request_itemsで指定するid）も変更されます。本API利用前に各種申請の取得APIを利用し、最新の申請フォームを取得することを推奨します。</li>
          <li>本APIはプロフェッショナルプラン、エンタープライズプランをご利用の事業所のみ利用可能です。</li>
        </ul>
      operationId: create_approval_request
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/approvalRequestCreateParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/approvalRequestCreateParams"
        description: 各種申請の作成
        required: false
      summary: 各種申請の作成
  "/api/1/approval_requests/forms":
    get:
      parameters:
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/approvalRequestFormIndexResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Approval requests
      description: |2-

        <h2 id="_1">概要</h2>

        <p>指定した事業所の各種申請の申請フォーム一覧を取得する</p>

        <p>各種申請APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-approval-requests" target="_blank">freee会計の各種申請APIの使い方</a>をご参照ください</p>

        <h2 id="_2">注意点</h2>
        <ul>
          <li>本APIはプロフェッショナルプラン、エンタープライズプランをご利用の事業所のみ利用可能です。</li>
        </ul>
      operationId: get_approval_request_forms
      summary: 各種申請の申請フォーム一覧の取得
  "/api/1/approval_requests/forms/{id}":
    get:
      parameters:
      - description: 申請フォームID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/approvalRequestFormResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Approval requests
      description: |2-

        <h2 id="_1">概要</h2>

        <p>指定した事業所の各種申請の申請フォームを取得する</p>

        <p>各種申請APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-approval-requests" target="_blank">freee会計の各種申請APIの使い方</a>をご参照ください</p>

        <h2 id="_2">注意点</h2>
        <ul>
          <li>本APIはプロフェッショナルプラン、エンタープライズプランをご利用の事業所のみ利用可能です。</li>
        </ul>
      operationId: get_approval_request_form
      summary: 各種申請の申請フォームの取得
  "/api/1/approval_requests/{id}":
    delete:
      parameters:
      - description: 各種申請ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '204':
          content: {}
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Approval requests
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の各種申請を削除する</p>

        <p>各種申請APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-approval-requests" target="_blank">freee会計の各種申請APIの使い方</a>をご参照ください</p>

        <h2 id="_2">注意点</h2>
        <ul>
          <li>
            申請ステータス(下書き、申請中)の指定と変更、及び承認操作（承認する、却下する、申請者へ差し戻す、代理承認する、承認済み・却下済みを取り消す）は以下を参考にして行ってください。
            <ul>
              <li>
                承認操作は申請ステータスが申請中、承認済み、却下のものだけが対象です。
                <ul>
                  <li>
                    初回申請の場合
                    <ul><li>申請の作成（POST）</li></ul>
                  </li>
                  <li>
                    作成済みの申請の申請ステータス変更・更新する場合
                    <ul><li>申請の更新（PUT）</li></ul>
                  </li>
                  <li>
                    申請中、承認済み、却下の申請の承認操作を行う場合
                    <ul><li>承認操作の実行（POST）</li></ul>
                  </li>
                </ul>
              </li>
              <li>申請の削除（DELETE）が可能なのは申請ステータスが下書き、差戻しの場合のみです</li>
            </ul>
          </li>
          <li>本APIはプロフェッショナルプラン、エンタープライズプランをご利用の事業所のみ利用可能です。</li>
        </ul>
      operationId: destroy_approval_request
      summary: 各種申請の削除
    get:
      parameters:
      - description: 各種申請ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/approvalRequestResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Approval requests
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の各種申請を取得する</p>

        <p>各種申請APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-approval-requests" target="_blank">freee会計の各種申請APIの使い方</a>をご参照ください</p>

        <h2 id="_2">注意点</h2>
        <ul>
          <li>
            申請経路、承認者の指定として部門役職データ連携を活用し、以下のいずれかを利用している各種申請と申請経路はAPI経由で参照は可能ですが、作成と更新、承認ステータスの変更ができません。
            <ul>
              <li>役職指定（申請者の所属部門）</li>
              <li>役職指定（申請時に部門指定）</li>
              <li>部門および役職指定</li>
            </ul>
          </li>
          <li>本APIはプロフェッショナルプラン、エンタープライズプランをご利用の事業所のみ利用可能です。</li>
        </ul>
      operationId: get_approval_request
      summary: 各種申請の取得
    put:
      parameters:
      - description: 各種申請ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/approvalRequestResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Approval requests
      description: |2-

        <h2 id="_1">概要</h2>

        <p>指定した事業所の各種申請を更新する</p>

        <p>各種申請APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-approval-requests" target="_blank">freee会計の各種申請APIの使い方</a>をご参照ください</p>

        <h2 id="_2">注意点</h2>
        <ul>
          <li>本APIでは、各種申請を更新することができます。</li>
          <li>
            申請項目(request_items)については、各種申請の取得APIで取得したrequest_items.idとそれに対応する値を入力してください。
            <ul>
              <li>タイトル(title)：文字列(改行なし) 例)予算申請</li>
              <li>1行コメント(single_line)：文字列(改行なし) 例)予算に関する申請</li>
              <li>複数行コメント(multi_line)：文字列(改行あり)
              <br>
              &nbsp;&nbsp;例)<br>
              &nbsp;&nbsp;予算に関する申請<br>
              &nbsp;&nbsp;申請日 2019-12-17<br>
              </li>
              <li>プルダウン(select)： プルダウンの選択肢の名前(改行なし) 例)開発部</li>
              <li>日付(date)： 日付形式 例)2019-12-17</li>
              <li>金額(amount)： 数値(申請フォームで設定した上限・下限金額内の値, 改行なし) 例)10000</li>
              <li>添付ファイル(receipt)： ファイルボックスAPIのID 例)1</li>
              <li>部門ID(section)： 部門APIのID 例)1</li>
              <li>取引先ID(partner)： 取引先APIのID 例)1</li>
            </ul>
          </li>
          <li>本APIでは、status(申請ステータス): draft:下書き, feedback:差戻しのみ更新可能です。</li>
          <li>
            申請ステータス(下書き、申請中)の指定と変更、及び承認操作（承認する、却下する、申請者へ差し戻す、代理承認する、承認済み・却下済みを取り消す）は以下を参考にして行ってください。
            <ul>
              <li>
                承認操作は申請ステータスが申請中、承認済み、却下のものだけが対象です。
                <ul>
                  <li>
                    初回申請の場合
                    <ul><li>申請の作成（POST）</li></ul>
                  </li>
                  <li>
                    作成済みの申請の申請ステータス変更・更新する場合
                    <ul><li>申請の更新（PUT）</li></ul>
                  </li>
                  <li>
                    申請中、承認済み、却下の申請の承認操作を行う場合
                    <ul><li>承認操作の実行（POST）</li></ul>
                  </li>
                </ul>
              </li>
              <li>申請の削除（DELETE）が可能なのは申請ステータスが下書き、差戻しの場合のみです</li>
            </ul>
          </li>
          <li>
            申請経路、承認者の指定として部門役職データ連携を活用し、以下のいずれかを利用している各種申請は本API経由で更新ができません。
            <ul>
              <li>役職指定（申請者の所属部門）</li>
              <li>役職指定（申請時に部門指定）</li>
              <li>部門および役職指定</li>
            </ul>
          </li>
          <li>Web画面やAPIを通じて申請フォームが変更されると、本APIで使用する項目ID（request_itemsで指定するid）も変更されます。本APIで使用する項目IDは申請作成時点の項目IDです。本API利用前に各種申請の取得APIを利用し、申請作成時点の項目IDを取得することを推奨します。</li>
          <li>本APIはプロフェッショナルプラン、エンタープライズプランをご利用の事業所のみ利用可能です。</li>
        </ul>
      operationId: update_approval_request
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/approvalRequestUpdateParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/approvalRequestUpdateParams"
        description: 各種申請の更新
        required: true
      summary: 各種申請の更新
  "/api/1/approval_requests/{id}/actions":
    post:
      parameters:
      - description: 各種申請ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '201':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/approvalRequestResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Approval requests
      description: |2-

        <h2 id="_1">概要</h2>

        <p>指定した事業所の各種申請の承認操作を行う</p>

        <p>各種申請APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-approval-requests" target="_blank">freee会計の各種申請APIの使い方</a>をご参照ください</p>

        <h2 id="_2">注意点</h2>
        <ul>
          <li>本APIでは、各種申請の承認操作（承認する、却下する、申請者へ差し戻す、代理承認する、承認済み・却下済みを取り消す）を行うことができます。</li>
          <li>
            申請ステータス(下書き、申請中)の指定と変更、及び承認操作（承認する、却下する、申請者へ差し戻す、代理承認する、承認済み・却下済みを取り消す）は以下を参考にして行ってください。
            <ul>
              <li>
                承認操作は申請ステータスが申請中、承認済み、却下のものだけが対象です。
                <ul>
                  <li>
                    初回申請の場合
                    <ul><li>申請の作成（POST）</li></ul>
                  </li>
                  <li>
                    作成済みの申請の申請ステータス変更・更新する場合
                    <ul><li>申請の更新（PUT）</li></ul>
                  </li>
                  <li>
                    申請中、承認済み、却下の申請の承認操作を行う場合
                    <ul><li>承認操作の実行（POST）</li></ul>
                  </li>
                </ul>
              </li>
              <li>申請の削除（DELETE）が可能なのは申請ステータスが下書き、差戻しの場合のみです</li>
            </ul>
          </li>
        　<li>
            申請経路、承認者の指定として部門役職データ連携を活用し、以下のいずれかを利用している各種申請はAPI経由で承認ステータスの変更ができません。
            <ul>
              <li>役職指定（申請者の所属部門）</li>
              <li>役職指定（申請時に部門指定）</li>
              <li>部門および役職指定</li>
            </ul>
          </li>
          <li>本APIはプロフェッショナルプラン、エンタープライズプランをご利用の事業所のみ利用可能です。</li>
        </ul>
      operationId: update_approval_request_action
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/approvalRequestActionCreateParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/approvalRequestActionCreateParams"
        description: 各種申請の承認操作
        required: true
      summary: 各種申請の承認操作
  "/api/1/banks":
    get:
      parameters:
      - description: '取得レコードのオフセット (デフォルト: 0)'
        in: query
        name: offset
        schema:
          format: int64
          maximum: 9223372036854775807
          minimum: 0
          type: integer
      - description: '取得レコードの件数 (デフォルト: 20, 最小: 1, 最大: 500)'
        in: query
        name: limit
        schema:
          maximum: 500
          minimum: 1
          type: integer
      - description: サービス種別
        in: query
        name: type
        schema:
          enum:
          - bank_account
          - credit_card
          - wallet
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  banks:
                    items:
                      "$ref": "#/components/schemas/bankResponse/properties/bank"
                    type: array
                required:
                - banks
                type: object
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Banks
      description: |2-

        <h2 id="">概要</h2>

        <p>連携しているサービス一覧を取得する</p>

        <h2 id="_2">定義</h2>

        <ul>
        <li>type
        <ul>
        <li>bank_account : 銀行口座</li>

        <li>credit_card : クレジットカード</li>

        <li>wallet : その他の決済口座</li>
        </ul>
        </li>
        </ul>
      operationId: get_banks
      summary: 連携サービス一覧の取得
  "/api/1/banks/{id}":
    get:
      parameters:
      - description: 連携サービスID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/bankResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Banks
      description: |2-

        <h2 id="">概要</h2>

        <p>連携しているサービスを取得する</p>

        <h2 id="_2">定義</h2>

        <ul>
        <li>type
        <ul>
        <li>bank_account : 銀行口座</li>

        <li>credit_card : クレジットカード</li>

        <li>wallet : その他の決済口座</li>
        </ul>
        </li>
        </ul>
      operationId: get_bank
      summary: 連携サービスの取得
  "/api/1/companies":
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/companyIndexResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Companies
      description: |2-

        <h2 id="">概要</h2>

        <p>ユーザーが所属する事業所の一覧を取得する</p>

        <h2 id="_2">定義</h2>

        <ul>
        <li>role
        <ul>
        <li>admin : 管理者</li>

        <li>simple_accounting : 一般</li>

        <li>self_only : 取引登録のみ</li>

        <li>read_only : 閲覧のみ</li>
        </ul>
        </li>
        </ul>
      operationId: get_companies
      summary: 事業所一覧の取得
  "/api/1/companies/{id}":
    get:
      parameters:
      - description: 事業所ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 取得情報に勘定科目・税区分コード・税区分・品目・取引先・部門・メモタグ・口座の一覧を含める
        in: query
        name: details
        schema:
          enum:
          - true
          type: boolean
      - description: 取得情報に勘定科目一覧を含める
        in: query
        name: account_items
        schema:
          enum:
          - true
          type: boolean
      - description: 取得情報に税区分コード・税区分一覧を含める
        in: query
        name: taxes
        schema:
          enum:
          - true
          type: boolean
      - description: 取得情報に品目一覧を含める
        in: query
        name: items
        schema:
          enum:
          - true
          type: boolean
      - description: 取得情報に取引先一覧を含める
        in: query
        name: partners
        schema:
          enum:
          - true
          type: boolean
      - description: 取得情報に部門一覧を含める
        in: query
        name: sections
        schema:
          enum:
          - true
          type: boolean
      - description: 取得情報にメモタグ一覧を含める
        in: query
        name: tags
        schema:
          enum:
          - true
          type: boolean
      - description: 取得情報に口座一覧を含める
        in: query
        name: walletables
        schema:
          enum:
          - true
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/companyResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Companies
      description: |2-

        <h2 id="">概要</h2>

        <p>ユーザーが所属する事業所の詳細を取得する</p>

        <h2 id="_2">定義</h2>

        <ul>
        <li>role
        <ul>
        <li>admin : 管理者</li>

        <li>simple_accounting : 一般</li>

        <li>self_only : 取引登録のみ</li>

        <li>read_only : 閲覧のみ</li>
        </ul>
        </li>
        </ul>

        <h2 id="_3">
      operationId: get_company
      summary: 事業所の詳細情報の取得
  "/api/1/deals":
    get:
      parameters:
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 取引先IDで絞込
        in: query
        name: partner_id
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 勘定科目IDで絞込
        in: query
        name: account_item_id
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 取引先コードで絞込
        in: query
        name: partner_code
        schema:
          type: string
      - description: '決済状況で絞込 (未決済: unsettled, 完了: settled)'
        in: query
        name: status
        schema:
          enum:
          - unsettled
          - settled
          type: string
      - description: '収支区分 (収入: income, 支出: expense)'
        in: query
        name: type
        schema:
          enum:
          - income
          - expense
          type: string
      - description: 発生日で絞込：開始日(yyyy-mm-dd)
        in: query
        name: start_issue_date
        schema:
          type: string
      - description: 発生日で絞込：終了日(yyyy-mm-dd)
        in: query
        name: end_issue_date
        schema:
          type: string
      - description: 支払期日で絞込：開始日(yyyy-mm-dd)
        in: query
        name: start_due_date
        schema:
          type: string
      - description: 支払期日で絞込：終了日(yyyy-mm-dd)
        in: query
        name: end_due_date
        schema:
          type: string
      - description: "+更新日で絞込：開始日(yyyy-mm-dd)"
        in: query
        name: start_renew_date
        schema:
          type: string
      - description: "+更新日で絞込：終了日(yyyy-mm-dd)"
        in: query
        name: end_renew_date
        schema:
          type: string
      - description: '取得レコードのオフセット (デフォルト: 0)'
        in: query
        name: offset
        schema:
          format: int64
          maximum: 9223372036854775807
          minimum: 0
          type: integer
      - description: '取得レコードの件数 (デフォルト: 20, 最大: 100) '
        in: query
        name: limit
        schema:
          maximum: 100
          minimum: 1
          type: integer
      - description: '取引登録元アプリで絞込（me: 本APIを叩くアプリ自身から登録した取引のみ）'
        in: query
        name: registered_from
        schema:
          enum:
          - me
          type: string
      - description: '取引の債権債務行の表示（without: 表示しない(デフォルト), with: 表示する）'
        in: query
        name: accruals
        schema:
          enum:
          - without
          - with
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  deals:
                    items:
                      "$ref": "#/components/schemas/dealResponse/properties/deal"
                    type: array
                  meta:
                    properties:
                      total_count:
                        description: 検索条件に合致する取引の総数
                        example: 100
                        minimum: 0
                        type: integer
                    required:
                    - total_count
                    type: object
                required:
                - deals
                - meta
                type: object
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Deals
      description: |-
        <h2 id="">概要</h2>
        <p>指定した事業所の取引一覧（収入／支出）を取得する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li>
        <p>details : 取引の明細行</p>
        </li>
        <li>
        <p>accruals : 取引の債権債務行</p>
        </li>
        <li>
        <p>renews : 取引の+更新行</p>
        </li>
        <li>
        <p>payments : 取引の支払行</p>
        </li>
        <li>
        <p>from_walletable_type</p>
        <ul>
        <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul>
        </li>
        <li>
        <p>registered_from</p>
        <ul>
        <li>all : すべての取引</li>
        <li>me : 自身が登録した取引</li>
        </ul>
        </li>
        </ul>
        <h2 id="_3">注意点</h2>
        <ul>
        <li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>
        <li>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</li>
        </ul>
      operationId: get_deals
      summary: 取引（収入／支出）一覧の取得
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/dealCreateResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Deals
      description: |
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）を作成する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li>
        <p>ref_number : 管理番号</p>
        </li>
        <li>
        <p>details : 取引の明細行(最大40行)</p>
        </li>
        <li>
        <p>payments : 取引の支払行</p>
        </li>
        <li>
        <p>receipt_ids : 証憑ファイルID（ファイルボックスのファイルID）</p>
        </li>
        <li>
        <p>from_walletable_type</p>
        <ul>
        <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul>
        </li>
        </ul>
        <h2 id="_3">注意点</h2>
        <ul>
            <li><p>本APIでは+更新行(renews)の操作ができません。+更新行の作成APIをご利用ください。</p></li>
            <li><p>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</p></li>
            <li>
                <p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</p></li>
            <li>
                <p>本APIでは取引の明細行(details)は、最大40行までになります。</p>
            </li>
        </ul>
      operationId: create_deal
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/dealCreateParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/dealCreateParams"
        description: 取引（収入／支出）の作成
        required: false
      summary: 取引（収入／支出）の作成
  "/api/1/deals/{id}":
    delete:
      parameters:
      - description: 取引ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '204':
          content: {}
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Deals
      operationId: destroy_deal
      summary: 取引（収入／支出）の削除
    get:
      parameters:
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: '取引の債権債務行の表示（without: 表示しない(デフォルト), with: 表示する）'
        in: query
        name: accruals
        schema:
          enum:
          - without
          - with
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/dealResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Deals
      description: |-
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）を取得する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li>
        <p>details : 取引の明細行</p>
        </li>
        <li>
        <p>accruals : 取引の債権債務行</p>
        </li>
        <li>
        <p>renews : 取引の+更新行</p>
        </li>
        <li>
        <p>payments : 取引の支払行</p>
        </li>
        <li>
        <p>from_walletable_type</p>
        <ul>
        <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul>
        </li>
        <li>
        <p>registered_from</p>
        <ul>
        <li>all : すべての取引</li>
        <li>me : 自身が登録した取引</li>
        </ul>
        </li>
        </ul>
        <h2 id="_3">注意点</h2>
        <ul>
        <li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>
        </ul>
      operationId: get_deal
      summary: 取引（収入／支出）の取得
    put:
      parameters:
      - description: 取引ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/dealResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Deals
      description: |-
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）を更新する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li>
        <p>details : 取引の明細行(最大40行)</p>
        </li>
        <li>
        <p>renews : 取引の+更新行</p>
        </li>
        <li>
        <p>payments : 取引の支払行</p>
        </li>
        <li>
        <p>from_walletable_type</p>
        <ul>
        <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul>
        </li>
        <li>
        <p>receipt_ids : 証憑ファイルID（ファイルボックスのファイルID）</p>
        </li>
        </ul>
        <h2 id="_3">注意点</h2>
        <ul>
            <li><p>本APIでは支払行(payments)の操作ができません。支払行の作成・更新・削除APIをご利用ください。</p></li>
            <li><p>本APIでは+更新行(renews)の操作ができません。+更新行の作成・更新・削除APIをご利用ください。</p></li>
            <li><p>本APIでは収入／支出の切替えができません。既存の取引を削除後、再度作成してください。</p></li>
            <li><p>本APIで取引を更新すると、消費税の計算方法は必ず内税方式が選択されます。</p></li>
            <li><p>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</p></li>
            <li><p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</p></li>
            <li>
                <p>本APIでは取引の明細行(details)は、最大40行までになります。</p>
            </li>
        </ul>
      operationId: update_deal
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/dealUpdateParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/dealUpdateParams"
        description: 取引（収入／支出）の更新
        required: false
      summary: 取引（収入／支出）の更新
  "/api/1/deals/{id}/payments":
    post:
      parameters:
      - description: 取引ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '201':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/dealResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Payments
      description: |-
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）の支払行を作成する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li> <p>details : 取引の明細行</p> </li>
        <li> <p>renews : 取引の+更新行</p> </li>
        <li> <p>payments : 取引の支払行</p> </li>
        <li>
        <p>from_walletable_type</p>
        <ul>
        <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul>
        </li>
        </ul>
      operationId: create_deal_payment
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/paymentParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/paymentParams"
        description: 取引（収入／支出）の支払行作成
        required: true
      summary: 取引（収入／支出）の支払行作成
  "/api/1/deals/{id}/payments/{payment_id}":
    delete:
      parameters:
      - description: 取引ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 決済ID
        in: path
        name: payment_id
        required: true
        schema:
          format: int64
          maximum: 9223372036854775807
          minimum: 1
          type: integer
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '204':
          content: {}
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Payments
      description: |-
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）の支払行を削除する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li>
        <p>details : 取引の明細行</p>
        </li>
        </ul>
      operationId: destroy_deal_payment
      summary: 取引（収入／支出）の支払行削除
    put:
      parameters:
      - description: 取引ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 決済ID
        in: path
        name: payment_id
        required: true
        schema:
          format: int64
          maximum: 9223372036854775807
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/dealResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Payments
      description: |-
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）の支払行を更新する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li>
        <p>details : 取引の明細行</p>
        </li>
        <li>
        <p>renews : 取引の+更新行</p>
        </li>
        <li>
        <p>payments : 取引の支払行</p>
        </li>
        <li>
        <p>from_walletable_type</p>
        <ul>
        <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul>
        </li>
        </ul>
      operationId: update_deal_payment
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/paymentParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/paymentParams"
        description: 取引（収入／支出）の支払行更新
        required: true
      summary: 取引（収入／支出）の支払行更新
  "/api/1/deals/{id}/renews":
    post:
      parameters:
      - description: 取引ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '201':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/dealResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Renews
      description: |
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）の+更新を作成する</p>
        <h2 id="_2">定義</h2>
        <ul> <li> <p>issue_date : 発生日</p> </li>
        <li> <p>due_date : 支払期日</p> </li>
        <li> <p>amount : 金額</p> </li>
        <li> <p>due_amount : 支払残額</p> </li>
        <li> <p>type</p>
        <ul> <li>income : 収入</li>
        <li>expense : 支出</li> </ul> </li>
        <li> <p>details : 取引の明細行</p> </li>
        <li> <p>accruals : 取引の債権債務行</p> </li>
        <li> <p>renews : 取引の+更新行</p> </li>
        <li> <p>payments : 取引の支払行</p> </li>
        <li> <p>from_walletable_type</p>
        <ul> <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul> </li> </ul>
        <h2 id="_3">注意点</h2>
        <ul> <li>本APIではdetails(取引の明細行)、accruals(債権債務行)、renewsのdetails(+更新の明細行)のみ操作可能です。</li>
        <li>本APIで取引を更新すると、消費税の計算方法は必ず内税方式が選択されます。</li> </ul>
      operationId: create_deal_renew
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/renewCreateParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/renewCreateParams"
        description: 取引（収入／支出）に対する+更新の情報
        required: true
      summary: 取引（収入／支出）に対する+更新の作成
  "/api/1/deals/{id}/renews/{renew_id}":
    delete:
      parameters:
      - description: 取引ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: "+更新ID"
        in: path
        name: renew_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/dealResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Renews
      description: |
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）の+更新を削除する</p>
        <h2 id="_3">注意点</h2>
        <ul> <li>本APIでは+更新の削除のみ可能です。取引や支払行に対する削除はできません。</li> <li>renew_idにはrenewsのid(+更新ID)を指定してください。renewsのdetailsのid(+更新の明細行ID)を指定できません。</li>
        <li>月締めされている仕訳に紐づく＋更新行の編集・削除はできません。</li> <li>承認済み仕訳に紐づく＋更新行の編集・削除は管理者権限のユーザーのみ可能です。</li>
        <li>本APIで取引を更新すると、消費税の計算方法は必ず内税方式が選択されます。</li> </ul>
      operationId: delete_deal_renew
      summary: 取引（収入／支出）の+更新の削除
    put:
      parameters:
      - description: 取引ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: "+更新ID"
        in: path
        name: renew_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/dealResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Renews
      description: |
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）の+更新を更新する</p>
        <h2 id="_2">定義</h2>
        <ul> <li> <p>issue_date : 発生日</p> </li>
        <li> <p>due_date : 支払期日</p> </li>
        <li> <p>amount : 金額</p> </li>
        <li> <p>due_amount : 支払残額</p> </li>
        <li> <p>type</p>
        <ul> <li>income : 収入</li>
        <li>expense : 支出</li> </ul> </li>
        <li> <p>details : 取引の明細行</p> </li>
        <li> <p>accruals : 取引の債権債務行</p> </li>
        <li> <p>renews : 取引の+更新行</p> </li>
        <li> <p>payments : 取引の支払行</p> </li>
        <li> <p>from_walletable_type</p>
        <ul> <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul> </li> </ul>
        <h2 id="_3">注意点</h2>
        <ul> <li>本APIでは+更新の更新のみ可能です。取引や支払行に対する更新はできません。</li> <li>renew_idにはrenewsのid(+更新ID)を指定してください。renewsのdetailsのid(+更新の明細行ID)を指定できません。</li> <li>月締めされている仕訳に紐づく＋更新行の編集・削除はできません。</li> <li>承認済み仕訳に紐づく＋更新行の編集・削除は管理者権限のユーザーのみ可能です。</li>
        <li>本APIで取引を更新すると、消費税の計算方法は必ず内税方式が選択されます。</li> </ul>
      operationId: update_deal_renew
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/renewUpdateParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/renewUpdateParams"
        description: "+更新の更新情報"
        required: true
      summary: 取引（収入／支出）の+更新の更新
  "/api/1/expense_application_line_templates":
    get:
      parameters:
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: '取得レコードのオフセット (デフォルト: 0)'
        in: query
        name: offset
        schema:
          format: int64
          maximum: 9223372036854775807
          minimum: 0
          type: integer
      - description: '取得レコードの件数 (デフォルト: 20, 最小: 1, 最大: 100)'
        in: query
        name: limit
        schema:
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  expense_application_line_templates:
                    items:
                      "$ref": "#/components/schemas/expenseApplicationLineTemplateResponse/properties/expense_application_line_template"
                    type: array
                required:
                - expense_application_line_templates
                type: object
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Expense application line templates
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の経費科目一覧を取得する</p>
      operationId: get_expense_application_line_templates
      summary: 経費科目一覧の取得
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/expenseApplicationLineTemplateResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Expense application line templates
      operationId: create_expense_application_line_template
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/expenseApplicationLineTemplateParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/expenseApplicationLineTemplateParams"
        description: 経費科目の作成
        required: true
      summary: 経費科目の作成
  "/api/1/expense_application_line_templates/{id}":
    delete:
      parameters:
      - description: 経費科目ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '204':
          content: {}
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Expense application line templates
      operationId: destroy_expense_application_line_template
      summary: 経費科目の削除
    get:
      parameters:
      - description: 経費科目ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/expenseApplicationLineTemplateResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Expense application line templates
      operationId: get_expense_application_line_template
      summary: 経費科目の取得
    put:
      parameters:
      - description: 経費科目ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/expenseApplicationLineTemplateResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '404':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestNotFoundError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Expense application line templates
      operationId: update_expense_application_line_template
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/expenseApplicationLineTemplateParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/expenseApplicationLineTemplateParams"
        description: 経費科目の更新
        required: true
      summary: 経費科目の更新
  "/api/1/expense_applications":
    get:
      parameters:
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 申請ステータス(draft:下書き, in_progress:申請中, approved:承認済, rejected:却下,
          feedback:差戻し)、 取引ステータス(unsettled:清算待ち, settled:精算済み)
        in: query
        name: status
        schema:
          enum:
          - draft
          - in_progress
          - approved
          - rejected
          - feedback
          - unsettled
          - settled
          type: string
      - description: true:給与連携あり、false:給与連携なし、未指定時:絞り込みなし
        example: true
        in: query
        name: payroll_attached
        schema:
          type: boolean
      - description: 発生日(経費申請項目の日付)で絞込：開始日(yyyy-mm-dd)
        example: '2019-12-17'
        in: query
        name: start_transaction_date
        schema:
          type: string
      - description: 発生日(経費申請項目の日付)で絞込：終了日(yyyy-mm-dd)
        example: '2019-12-17'
        in: query
        name: end_transaction_date
        schema:
          type: string
      - description: 申請No.
        example: 2
        in: query
        name: application_number
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 申請タイトル
        example: 大阪出張
        in: query
        name: title
        schema:
          maxLength: 250
          type: string
      - description: 申請日で絞込：開始日(yyyy-mm-dd)
        example: '2019-12-17'
        in: query
        name: start_issue_date
        schema:
          type: string
      - description: 申請日で絞込：終了日(yyyy-mm-dd)
        example: '2019-12-17'
        in: query
        name: end_issue_date
        schema:
          type: string
      - description: 申請者のユーザーID
        example: 1
        in: query
        name: applicant_id
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 承認者のユーザーID
        example: 1
        in: query
        name: approver_id
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 金額で絞込 (下限金額)
        example: 5000
        in: query
        name: min_amount
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
      - description: 金額で絞込 (上限金額)
        example: 10000
        in: query
        name: max_amount
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
      - description: '取得レコードのオフセット (デフォルト: 0)'
        in: query
        name: offset
        schema:
          format: int64
          maximum: 9223372036854775807
          minimum: 0
          type: integer
      - description: '取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 500)'
        in: query
        name: limit
        schema:
          maximum: 500
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/expenseApplicationsIndexResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Expense applications
      description: |2-

        <h2 id="_1">概要</h2>

        <p>指定した事業所の経費申請一覧を取得する</p>

        <p>経費申請APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-expense-applications" target="_blank">freee会計の経費申請APIの使い方</a>をご参照ください</p>

        <h2 id="_2">注意点</h2>
        <ul>
          <li>本APIでは、経費申請の一覧を取得することができます。</li>
          <li>
            申請経路、承認者の指定として部門役職データ連携を活用し、以下のいずれかを利用している経費申請と申請経路はAPI経由で参照は可能ですが、作成と更新、承認ステータスの変更ができません。
            <ul>
              <li>役職指定（申請者の所属部門）</li>
              <li>役職指定（申請時に部門指定）</li>
              <li>部門および役職指定</li>
            </ul>
          </li>
          <li>個人アカウントの場合は、プレミアムプランでご利用できます。</li>
          <li>法人アカウントの場合は、ベーシックプラン、プロフェッショナルプラン、エンタープライズプランでご利用できます。</li>
        </ul>
      operationId: get_expense_applications
      summary: 経費申請一覧の取得
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/expenseApplicationResponse"
          description: ''
        '400':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/badRequestError"
          description: ''
        '401':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/unauthorizedError"
          description: ''
        '403':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/forbiddenError"
          description: ''
        '500':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/internalServerError"
          description: ''
      tags:
      - Expense applications
      description: |2-

        <h2 id="_1">概要</h2>

        <p>指定した事業所の経費申請を作成する</p>

        <p>経費申請APIの使い方については、<a href="https://developer.freee.co.jp/tips/accounting-expense-applications" target="_blank">freee会計の経費申請APIの使い方</a>をご参照ください</p>

        <h2 id="_2">注意点</h2>
        <ul>
          <li>
            申請ステータス(下書き、申請中)の指定と変更、及び承認操作（承認する、却下する、申請者へ差し戻す、代理承認する、承認済み・却下済みを取り消す）は以下を参考にして行ってください。
            <ul>
              <li>
                承認操作は申請ステータスが申請中、承認済み、却下のものだけが対象です。
                <ul>
                  <li>
                    初回申請の場合
                    <ul><li>申請の作成（POST）</li></ul>
                  </li>
                  <li>
                    作成済みの申請の申請ステータス変更・更新する場合
                    <ul><li>申請の更新（PUT）</li></ul>
                  </li>
                  <li>
                    申請中、承認済み、却下の申請の承認操作を行う場合
                    <ul><li>承認操作の実行（POST）</li></ul>
                  </li>
                </ul>
              </li>
              <li>申請の削除（DELETE）が可能なのは申請ステータスが下書き、差戻しの場合のみです</li>
            </ul>
          </li>
          <li>
            申請経路、承認者の指定として部門役職データ連携を活用し、以下のいずれかを利用している経費申請は本API経由で作成ができません。
            <ul>
              <li>役職指定（申請者の所属部門）</li>
              <li>役職指定（申請時に部門指定）</li>
              <li>部門および役職指定</li>
            </ul>
          </li>
          <li>申請時には、申請タイトル(title)に加え、申請日(issue_date)、項目行については金額(amount)、日付(transaction_date)、内容(description)が必須項目となります。申請時の業務効率化のため、API入力をお勧めします。</li>
          <li>本APIは駅すぱあと連携 (出発駅と到着駅から金額を自動入力する機能)には非対応です。駅すぱあと連携を使用した経費申請は作成できません。</li>
          <li>個人アカウントの場合は、プレミアムプランでご利用できます。</li>
          <li>法人アカウントの場合は、ベーシックプラン、プロフェッショナルプラン、エンタープライズプランでご利用できます。</li>
        </ul>
      operationId: create_expense_application
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/expenseApplicationCreateParams"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/expenseApplicationCreateParams"
        description: 経費申請の作成
        required: false
      summary: 経費申請の作成
  "/api/1/expense_applications/{id}":
    delete:
      parameters:
      - description: 経費申請ID
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      - description: 事業所ID
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
      responses:
        '204':
          content: {}
          description: ''
        '400':
[...]
