{
  "openapi": "3.0.1",
  "info": {
    "title": "freee API",
    "description": "\n<h1 id=\"freee_api\">freee API</h1>\n<hr />\n<h2 id=\"\">はじめに</h2>\n\n<ol>\n<li><a href=\"https://secure.freee.co.jp/\">freee</a>にサインアップします。</li>\n\n<li><a href=\"https://accounts.secure.freee.co.jp/public_api/applications\">アプリケーション一覧</a>から「新しいアプリケーションを登録」します。</li>\n\n<li>アプリケーションの登録が完了すると、Client IDとSecretが取得できます。</li>\n\n<li>ローカルの開発環境でテストする際は、認証用URLを直接リクエストしてAuthorization Codeを取得できます。</li>\n</ol>\n\n<p>アプリケーションの登録方法や認証方法、またはAPIの活用方法でご不明な点がある場合は<a href=\"https://support.freee.co.jp/hc/ja/sections/115000030743\">ヘルプセンター</a>もご確認ください</p>\n<hr />\n<h2 id=\"_2\">仕様</h2>\n\n<h3 id=\"api\">APIエンドポイント</h3>\n\n<p>https://api.freee.co.jp/ (httpsのみ)</p>\n\n<h3 id=\"_3\">認証方式</h3>\n\n<p><a href=\"http://tools.ietf.org/html/rfc6749\">OAuth2</a>に対応</p>\n\n<ul>\n<li>Authorization Code Flow (Webアプリ向け)</li>\n\n<li>Implicit Flow (Mobileアプリ向け)</li>\n</ul>\n\n<h3 id=\"_4\">認証エンドポイント</h3>\n\n<p>https://accounts.secure.freee.co.jp/</p>\n\n<ul>\n<li>authorize : https://accounts.secure.freee.co.jp/public_api/authorize</li>\n\n<li>token : https://accounts.secure.freee.co.jp/public_api/token</li>\n</ul>\n\n<h3 id=\"_5\">アクセストークンのリフレッシュ</h3>\n\n<p>認証時に得たrefresh_token を使ってtoken の期限をリフレッシュして新規に発行することが出来ます。</p>\n\n<p>grant_type=refresh_token で https://accounts.secure.freee.co.jp/public_api/token にアクセスすればリフレッシュされます。</p>\n\n<p>e.g.)</p>\n\n<p>POST: https://accounts.secure.freee.co.jp/public_api/token</p>\n\n<p>params: grant_type=refresh_token&amp;client_id=UID&amp;client_secret=SECRET&amp;refresh_token=REFRESH_TOKEN</p>\n\n<p>詳細は<a href=\"https://github.com/applicake/doorkeeper/wiki/Enable-Refresh-Token-Credentials#flow\">refresh_token</a>を参照下さい。</p>\n\n<h3 id=\"_6\">アクセストークンの破棄</h3>\n\n<p>認証時に得たaccess_tokenまたはrefresh_tokenを使って、tokenを破棄することができます。 token=access_tokenまたはtoken=refresh_tokenでhttps://accounts.secure.freee.co.jp/public_api/revokeにアクセスすると破棄されます。token_type_hintでaccess_tokenまたはrefresh_tokenを陽に指定できます。</p>\n\n<p>e.g.)</p>\n\n<p>POST: https://accounts.secure.freee.co.jp/public_api/revoke</p>\n\n<p>params: token=ACCESS_TOKEN</p>\n\n<p>または</p>\n\n<p>params: token=REFRESH_TOKEN</p>\n\n<p>または</p>\n\n<p>params: token=ACCESS_TOKEN&amp;token_type_hint=access_token</p>\n\n<p>または</p>\n\n<p>params: token=REFRESH_TOKEN&amp;token_type_hint=refresh_token</p>\n\n<p>詳細は <a href=\"https://tools.ietf.org/html/rfc7009\">OAuth 2.0 Token revocation</a> をご参照ください。</p>\n\n<h3 id=\"_7\">データフォーマット</h3>\n\n<p>リクエスト、レスポンスともにJSON形式をサポート</p>\n\n<h3 id=\"_8\">共通レスポンスヘッダー</h3>\n\n<p>すべてのAPIのレスポンスには以下のHTTPヘッダーが含まれます。</p>\n\n<ul>\n<li>\n<p>X-Freee-Request-ID</p>\n<ul>\n<li>各リクエスト毎に発行されるID</li>\n</ul>\n</li>\n</ul>\n\n<h3 id=\"_9\">共通エラーレスポンス</h3>\n\n<ul>\n<li>\n<p>ステータスコードはレスポンス内のJSONに含まれる他、HTTPヘッダにも含まれる</p>\n</li>\n\n<li>\n<p>type</p>\n\n<ul>\n<li>status : HTTPステータスコードの説明</li>\n\n<li>validation : エラーの詳細の説明（開発者向け）</li>\n</ul>\n</li>\n</ul>\n\n<p>レスポンスの例</p>\n\n<pre><code>  {\n    &quot;status_code&quot; : 400,\n    &quot;errors&quot; : [\n      {\n        &quot;type&quot; : &quot;status&quot;,\n        &quot;messages&quot; : [&quot;不正なリクエストです。&quot;]\n      },\n      {\n        &quot;type&quot; : &quot;validation&quot;,\n        &quot;messages&quot; : [&quot;Date は不正な日付フォーマットです。入力例：2013-01-01&quot;]\n      }\n    ]\n  }</code></pre>\n<hr />\n<h2 id=\"_10\">連絡先</h2>\n\n<p>ご不明点、ご要望等は <a href=\"https://support.freee.co.jp/hc/ja/requests/new\">freee サポートデスクへのお問い合わせフォーム</a> からご連絡ください。</p>\n<hr />&copy; Since 2013 freee K.K.",
    "version": "v1.0",
    "x-copyright": "&copy; Since 2013 freee K.K."
  },
  "servers": [
    {
      "url": "https://api.freee.co.jp/api/1"
    }
  ],
  "security": [
    {
      "oauth2": [
        "write",
        "read"
      ]
    }
  ],
  "tags": [
    {
      "name": "Partners",
      "description": "\n<p>取引先</p>\n"
    },
    {
      "name": "Selectables",
      "description": "\n<p>フォーム用選択項目情報</p>\n"
    },
    {
      "name": "Account items",
      "description": "\n<p>勘定科目</p>\n"
    },
    {
      "name": "Tags",
      "description": "\n<p>メモタグ</p>\n"
    },
    {
      "name": "Sections",
      "description": "\n<p>部門</p>\n"
    },
    {
      "name": "Invoices",
      "description": "\n<p>請求書</p>\n"
    },
    {
      "name": "Deals",
      "description": "\n<p>取引（収入／支出）</p>\n"
    },
    {
      "name": "Payments",
      "description": "\n<p>取引の支払行</p>\n"
    },
    {
      "name": "Renews",
      "description": "\n<p>取引の+更新</p>\n"
    },
    {
      "name": "ManualJournals",
      "description": "\n<p>振替伝票</p>\n"
    },
    {
      "name": "Users",
      "description": "\n<p>ユーザ</p>\n"
    },
    {
      "name": "Companies",
      "description": "\n<p>事業所</p>\n"
    },
    {
      "name": "Items",
      "description": "\n<p>品目</p>\n"
    },
    {
      "name": "Taxes",
      "description": "\n<p>税区分</p>\n"
    },
    {
      "name": "Walletables",
      "description": "\n<p>口座</p>\n"
    },
    {
      "name": "Banks",
      "description": "\n<p>連携サービス</p>\n"
    },
    {
      "name": "Transfers",
      "description": "\n<p>取引（振替）</p>\n"
    },
    {
      "name": "Wallet txns",
      "description": "\n<p>明細</p>\n"
    },
    {
      "name": "Journals",
      "description": "\n<p>仕訳帳</p>\n"
    },
    {
      "name": "Trial balance",
      "description": "\n<p>試算表</p>\n"
    },
    {
      "name": "Receipts",
      "description": "\n<p>ファイルボックス</p>\n"
    },
    {
      "name": "Expense applications",
      "description": "\n<p>経費精算</p>\n"
    },
    {
      "name": "Expense application line templates",
      "description": "\n<p>経費科目</p>\n"
    },
    {
      "name": "Segment tags",
      "description": "\n<p>セグメントタグ</p>\n"
    }
  ],
  "paths": {
    "/partners": {
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引先一覧を取得する</p>",
        "operationId": "get_partners",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 50, 最大: 3000)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "検索キーワード：取引先名・正式名称・カナ名称に対するあいまい検索で一致、またはショートカットキー1・2のいずれかに完全一致",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnersIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "post": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引先を作成する</p>\n<ul>\n<li>codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</li>\n<li>取引先コードの利用を有効にしている場合は、codeの指定は必須です。</li></ul>",
        "operationId": "create_partner",
        "requestBody": {
          "description": "取引先の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partnerCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/partnerCreateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnersResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/partners/{id}": {
      "put": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した取引先の情報を更新する</p>\n<ul>\n<li>codeを指定、更新することはできません。</li></ul>",
        "operationId": "update_partner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引先ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "取引先の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/partnerUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnersResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/partners/code/{code}": {
      "put": {
        "tags": [
          "Partners"
        ],
        "summary": "取引先の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>取引先コードをキーに、指定した取引先の情報を更新する</p>\n<ul>\n<li>このAPIを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</li>\n<li>コードを日本語に設定している場合は、URLエンコードしてURLに含めるようにしてください。</li></ul>",
        "operationId": "update_partner_by_code",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "取引先コード",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "取引先の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partnerCodeParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/partnerCodeParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partnersResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/forms/selectables": {
      "get": {
        "tags": [
          "Selectables"
        ],
        "summary": "フォーム用選択項目情報の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のフォーム用選択項目情報を取得する</p>",
        "operationId": "get_forms_selectables",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "取得する項目(項目: account_item)",
            "schema": {
              "type": "string",
              "enum": [
                "account_item"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/selectablesIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/account_items/{id}": {
      "get": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目の詳細情報の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した勘定科目の詳細を取得する</p>",
        "operationId": "get_account_item",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "勘定科目ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemsShowResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "put": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>勘定科目を更新する</p>",
        "operationId": "update_account_item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "勘定科目の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountItemParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/accountItemParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemsUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/account_items": {
      "get": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の勘定科目一覧を取得する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>default_tax_id : デフォルト設定がされている税区分ID</li>\n\n<li>default_tax_code : リクエストした日時を基準とした税区分コード</li>\n</ul>",
        "operationId": "get_account_items",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "base_date",
            "in": "query",
            "description": "基準日:指定した場合、勘定科目に紐づく税区分(default_tax_code)が、基準日の税率に基づいて返ります。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemsIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account items"
        ],
        "summary": "勘定科目の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の勘定科目を作成する</p>",
        "operationId": "create_account_item",
        "requestBody": {
          "description": "勘定科目の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountItemParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/accountItemParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountItemsCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "メモタグ一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のメモタグ一覧を取得する</p>",
        "operationId": "get_tags",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tagsIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "メモタグの作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所のメモタグを作成する</p>",
        "operationId": "create_tag",
        "requestBody": {
          "description": "メモタグの作成",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "company_id",
                  "name"
                ],
                "type": "object",
                "properties": {
                  "company_id": {
                    "maximum": 999999999999,
                    "minimum": 1,
                    "type": "integer",
                    "description": "事業所ID",
                    "example": 1
                  },
                  "name": {
                    "type": "string",
                    "description": "メモタグ名 (30文字以内)",
                    "example": "メモタグ"
                  },
                  "shortcut1": {
                    "type": "string",
                    "description": "ショートカット１ (20文字以内)",
                    "example": "MEMOTAG"
                  },
                  "shortcut2": {
                    "type": "string",
                    "description": "ショートカット２ (20文字以内)",
                    "example": "123"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "company_id",
                  "name"
                ],
                "type": "object",
                "properties": {
                  "company_id": {
                    "maximum": 999999999999,
                    "minimum": 1,
                    "type": "integer",
                    "description": "事業所ID",
                    "example": 1
                  },
                  "name": {
                    "type": "string",
                    "description": "メモタグ名 (30文字以内)",
                    "example": "メモタグ"
                  },
                  "shortcut1": {
                    "type": "string",
                    "description": "ショートカット１ (20文字以内)",
                    "example": "MEMOTAG"
                  },
                  "shortcut2": {
                    "type": "string",
                    "description": "ショートカット２ (20文字以内)",
                    "example": "123"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tagsCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/sections": {
      "get": {
        "tags": [
          "Sections"
        ],
        "summary": "部門一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門一覧を取得する</p>\n\n<h2 id=\"_2\">レスポンスの例</h2>\n\n<blockquote>\n<p>GET https://api.freee.co.jp/api/1/sections?company_id=1</p>\n</blockquote>\n\n<pre><code>// プレミアムプラン（個人）、ビジネスプラン（法人）、エンタープライズプラン（法人）\n{\n  &quot;sections&quot; : [\n    {\n      &quot;id&quot; : 101,\n      &quot;company_id&quot; : 1,\n      &quot;name&quot; : &quot;開発部門&quot;,\n      &quot;long_name&quot;: &quot;開発部門&quot;,\n      &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n      &quot;shortcut2&quot; : &quot;123&quot;,\n      &quot;indent_count&quot;: 1,\n      &quot;parent_id&quot;: 11\n    },\n    ...\n  ]\n}\n// それ以外のプラン\n{\n  &quot;sections&quot; : [\n    {\n      &quot;id&quot; : 101,\n      &quot;company_id&quot; : 1,\n      &quot;name&quot; : &quot;開発部門&quot;,\n      &quot;long_name&quot;: &quot;開発部門&quot;,\n      &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n      &quot;shortcut2&quot; : &quot;123&quot;\n    },\n    ...\n  ]\n}</code></pre>\n",
        "operationId": "get_sections",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionsIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sections"
        ],
        "summary": "部門の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門を作成する</p>\n\n<h2 id=\"_2\">レスポンスの例</h2>\n\n<pre><code>// プレミアムプラン（個人）、ビジネスプラン（法人）、エンタープライズプラン（法人）\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;,\n    &quot;indent_count&quot;: 1,\n    &quot;parent_id&quot;: 101\n  }\n}\n// それ以外のプラン\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;\n  }\n}</code></pre>\n",
        "operationId": "create_section",
        "requestBody": {
          "description": "部門の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionsCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/sections/{id}": {
      "put": {
        "tags": [
          "Sections"
        ],
        "summary": "部門の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門を更新する</p><h2 id=\"_2\">レスポンスの例</h2>\n\n<pre><code>// プレミアムプラン（個人）、ビジネスプラン（法人）、エンタープライズプラン（法人）\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;long_name&quot;: &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;,\n    &quot;indent_count&quot;: 1,\n    &quot;parent_id&quot;: 101\n  }\n}\n// それ以外のプラン\n{\n  &quot;section&quot; : {\n    &quot;id&quot; : 102,\n    &quot;company_id&quot; : 1,\n    &quot;name&quot; : &quot;開発部門&quot;,\n    &quot;long_name&quot;: &quot;開発部門&quot;,\n    &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,\n    &quot;shortcut2&quot; : &quot;123&quot;\n  }\n}</code></pre>\n",
        "operationId": "update_section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "部門の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/sectionParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sectionsUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sections"
        ],
        "summary": "部門の削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の部門を削除する</p>",
        "operationId": "destroy_section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "請求書一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の請求書一覧を取得する</p>\n",
        "operationId": "get_invoices",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "description": "取引先IDで絞込",
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "partner_code",
            "in": "query",
            "description": "取引先コードで絞込",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issue_date_start",
            "in": "query",
            "description": "請求日の開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issue_date_end",
            "in": "query",
            "description": "請求日の終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "due_date_start",
            "in": "query",
            "description": "期日の開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "due_date_end",
            "in": "query",
            "description": "期日の終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice_number",
            "in": "query",
            "description": "請求書番号",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "概要",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice_status",
            "in": "query",
            "description": "請求書ステータス  (draft: 下書き, applying: 申請中, remanded: 差し戻し, rejected: 却下, approved: 承認済み, issued: 発行済み)",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "applying",
                "remanded",
                "rejected",
                "approved",
                "issued"
              ]
            }
          },
          {
            "name": "payment_status",
            "in": "query",
            "description": "入金ステータス  (unsettled: 入金待ち, settled: 入金済み)",
            "schema": {
              "type": "string",
              "enum": [
                "unsettled",
                "settled"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 20, 最大: 100) ",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoicesIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "請求書の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の請求書を作成する</p>\n\n<h2 id=\"_1\">注意点</h2>\n<ul>\n<li> <p>取引先ID（partner_id）と取引先の名称項目（partner_name, partner_long_name, partner_zipcode, partner_prefecture_code, partner_address1, partner_address2）を同時に指定することはできません。名称項目のみ指定した場合は新規取引先として登録されます。</p> </li>\n<li> <p>請求書ステータス(invoice_status)を発行(issue)で利用した場合、請求内容の合計金額が0円以上になる必要があります。</p> </li>\n<li><p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。また「partner_code、partner_id、partner_name」は同時に指定することはできません。</p></li></ul>",
        "operationId": "create_invoice",
        "requestBody": {
          "description": "請求書の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/invoicesCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/invoicesCreateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/invoices/{id}": {
      "put": {
        "tags": [
          "Invoices"
        ],
        "summary": "請求書の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の請求書を更新する</p>\n\n<h2 id=\"_1\">注意点</h2>\n<ul> <li> <p>取引先ID（partner_id）と取引先の名称項目（partner_name, partner_long_name, partner_zipcode, partner_prefecture_code, partner_address1, partner_address2）の更新はできません。名称項目を変更したい場合は取引先APIをご利用ください。</p> </li> <li> <p>入金済みの請求書に対する金額関連の変更はできません。</p> </li> <li> <p>請求書ステータスは確定(issue)のみ指定可能です。請求書ステータスを確定する時のみ指定してください。</p> </li> <li> <p>請求書WFを利用している場合、承認済み請求書は承認権限を持たないユーザーでは更新できません。</p> </li> <li> <p>更新後の請求書ステータス(invoice_status)が下書き以外の場合、請求内容の合計金額が0円以上になる必要があります。</p></li><li><p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。また「partner_code、partner_id、partner_name」は同時に指定することはできません。</p></li></ul>",
        "operationId": "update_invoice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "請求書ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "請求書の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/invoicesUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/invoicesUpdateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Invoices"
        ],
        "summary": "請求書の削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の請求書を削除する</p>",
        "operationId": "destroy_invoice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/deals": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "取引（収入／支出）一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引一覧（収入／支出）を取得する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>\n<p>issue_date : 発生日</p>\n</li>\n\n<li>\n<p>due_date : 支払期日</p>\n</li>\n\n<li>\n<p>amount : 金額</p>\n</li>\n\n<li>\n<p>due_amount : 支払残額</p>\n</li>\n\n<li>\n<p>type</p>\n\n<ul>\n<li>income : 収入</li>\n\n<li>expense : 支出</li>\n</ul>\n</li>\n\n<li>\n<p>details : 取引の明細行</p>\n</li>\n\n<li>\n<p>accruals : 取引の債権債務行</p>\n</li>\n\n<li>\n<p>renews : 取引の+更新行</p>\n</li>\n\n<li>\n<p>payments : 取引の支払行</p>\n</li>\n\n<li>\n<p>from_walletable_type</p>\n\n<ul>\n<li>bank_account : 銀行口座</li>\n\n<li>credit_card : クレジットカード</li>\n\n<li>wallet : 現金</li>\n\n<li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>\n</ul>\n</li>\n\n<li>\n<p>registered_from</p>\n\n<ul>\n<li>all : すべての取引</li>\n\n<li>me : 自身が登録した取引</li>\n</ul>\n</li>\n</ul>\n\n<h2 id=\"_3\">注意点</h2>\n\n<ul>\n<li>tax_idは廃止予定です。tax_codeをご利用ください。</li>\n\n<li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>\n<li>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</li>\n</ul>",
        "operationId": "get_deals",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "description": "取引先IDで絞込",
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "account_item_id",
            "in": "query",
            "description": "勘定科目IDで絞込",
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "partner_code",
            "in": "query",
            "description": "取引先コードで絞込",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "決済状況で絞込 (未決済: unsettled, 完了: settled)",
            "schema": {
              "type": "string",
              "enum": [
                "unsettled",
                "settled"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "収支区分 (収入: income, 支出: expense)",
            "schema": {
              "type": "string",
              "enum": [
                "income",
                "expense"
              ]
            }
          },
          {
            "name": "start_issue_date",
            "in": "query",
            "description": "発生日で絞込：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_issue_date",
            "in": "query",
            "description": "発生日で絞込：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_due_date",
            "in": "query",
            "description": "支払期日で絞込：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_due_date",
            "in": "query",
            "description": "支払期日で絞込：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_renew_date",
            "in": "query",
            "description": "+更新日で絞込：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_renew_date",
            "in": "query",
            "description": "+更新日で絞込：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 20, 最大: 100) ",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "registered_from",
            "in": "query",
            "description": "取引登録元アプリで絞込（me: 本APIを叩くアプリ自身から登録した取引のみ）",
            "schema": {
              "type": "string",
              "enum": [
                "me"
              ]
            }
          },
          {
            "name": "accruals",
            "in": "query",
            "description": "取引の債権債務行の表示（without: 表示しない(デフォルト), with: 表示する）",
            "schema": {
              "type": "string",
              "enum": [
                "without",
                "with"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealsIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "post": {
        "tags": [
          "Deals"
        ],
        "summary": "取引（収入／支出）の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引（収入／支出）を作成する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>\n<p>issue_date : 発生日</p>\n</li>\n\n<li>\n<p>due_date : 支払期日</p>\n</li>\n\n<li>\n<p>amount : 金額</p>\n</li>\n\n<li>\n<p>due_amount : 支払残額</p>\n</li>\n\n<li>\n<p>type</p>\n\n<ul>\n<li>income : 収入</li>\n\n<li>expense : 支出</li>\n</ul>\n</li>\n\n<li>\n<p>ref_number : 管理番号</p>\n</li>\n\n<li>\n<p>details : 取引の明細行</p>\n</li>\n\n<li>\n<p>payments : 取引の支払行</p>\n</li>\n\n<li>\n<p>from_walletable_type</p>\n\n<ul>\n<li>bank_account : 銀行口座</li>\n\n<li>credit_card : クレジットカード</li>\n\n<li>wallet : 現金</li>\n\n<li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>\n</ul>\n</li>\n</ul>\n\n<h2 id=\"_3\">注意点</h2>\n\n<ul>\n<li>\n<p>tax_idは廃止予定です。tax_codeをご利用ください。</p>\n</li>\n\n<li>\n<p>tax_code, tax_idはどちらかの指定が必須です。両方指定した場合はtax_codeが優先されます。</p>\n</li>\n<p><li>本APIでは+更新行(renews)の操作ができません。+更新行の作成APIをご利用ください。</p></li>\n\n<p><li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</p></li>\n\n<li>\n<p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</p></li>\n</ul>\n\n",
        "operationId": "create_deal",
        "requestBody": {
          "description": "取引（収入／支出）の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createDealParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/createDealParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealsCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/deals/{id}": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "取引（収入／支出）の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引（収入／支出）を取得する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>\n<p>issue_date : 発生日</p>\n</li>\n\n<li>\n<p>due_date : 支払期日</p>\n</li>\n\n<li>\n<p>amount : 金額</p>\n</li>\n\n<li>\n<p>due_amount : 支払残額</p>\n</li>\n\n<li>\n<p>type</p>\n\n<ul>\n<li>income : 収入</li>\n\n<li>expense : 支出</li>\n</ul>\n</li>\n\n<li>\n<p>details : 取引の明細行</p>\n</li>\n\n<li>\n<p>accruals : 取引の債権債務行</p>\n</li>\n\n<li>\n<p>renews : 取引の+更新行</p>\n</li>\n\n<li>\n<p>payments : 取引の支払行</p>\n</li>\n\n<li>\n<p>from_walletable_type</p>\n\n<ul>\n<li>bank_account : 銀行口座</li>\n\n<li>credit_card : クレジットカード</li>\n\n<li>wallet : 現金</li>\n\n<li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>\n</ul>\n</li>\n\n<li>\n<p>registered_from</p>\n\n<ul>\n<li>all : すべての取引</li>\n\n<li>me : 自身が登録した取引</li>\n</ul>\n</li>\n</ul>\n\n<h2 id=\"_3\">注意点</h2>\n\n<ul>\n<li>tax_idは廃止予定です。tax_codeをご利用ください。</li>\n\n<li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>\n</ul>",
        "operationId": "get_deal",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "accruals",
            "in": "query",
            "description": "取引の債権債務行の表示（without: 表示しない(デフォルト), with: 表示する）",
            "schema": {
              "type": "string",
              "enum": [
                "without",
                "with"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "put": {
        "tags": [
          "Deals"
        ],
        "summary": "取引（収入／支出）の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引（収入／支出）を更新する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>\n<p>issue_date : 発生日</p>\n</li>\n\n<li>\n<p>due_date : 支払期日</p>\n</li>\n\n<li>\n<p>amount : 金額</p>\n</li>\n\n<li>\n<p>due_amount : 支払残額</p>\n</li>\n\n<li>\n<p>type</p>\n\n<ul>\n<li>income : 収入</li>\n\n<li>expense : 支出</li>\n</ul>\n</li>\n\n<li>\n<p>details : 取引の明細行</p>\n</li>\n<li>\n<p>renews : 取引の+更新行</p>\n</li>\n<li>\n<p>payments : 取引の支払行</p>\n</li>\n<li>\n<p>from_walletable_type</p>\n<ul>\n<li>bank_account : 銀行口座</li>\n<li>credit_card : クレジットカード</li>\n<li>wallet : 現金</li>\n<li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>\n</ul>\n</li>\n</ul>\n\n<h2 id=\"_3\">注意点</h2>\n\n<ul>\n<li>本APIでは支払行(payments)の操作ができません。支払行の作成・更新・削除APIをご利用ください。</li>\n<li>本APIでは+更新行(renews)の操作ができません。+更新行の作成・更新・削除APIをご利用ください。</li>\n\n<li>本APIでは収入／支出の切替えができません。既存の取引を削除後、再度作成してください。</li>\n\n<li>本APIで取引を更新すると、消費税の計算方法は必ず内税方式が選択されます。</li>\n\n<li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>\n<li>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</ul>",
        "operationId": "update_deal",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "取引（収入／支出）の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateDealParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/updateDealParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/deals/{id}/renews": {
      "post": {
        "tags": [
          "Renews"
        ],
        "summary": "取引（収入／支出）に対する+更新の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引（収入／支出）の+更新を作成する</p>\n<h2 id=\"_2\">定義</h2>\n<ul> <li> <p>issue_date : 発生日</p> </li>\n<li> <p>due_date : 支払期日</p> </li>\n<li> <p>amount : 金額</p> </li>\n<li> <p>due_amount : 支払残額</p> </li>\n<li> <p>type</p>\n<ul> <li>income : 収入</li>\n<li>expense : 支出</li> </ul> </li>\n<li> <p>details : 取引の明細行</p> </li>\n<li> <p>accruals : 取引の債権債務行</p> </li>\n<li> <p>renews : 取引の+更新行</p> </li>\n<li> <p>payments : 取引の支払行</p> </li>\n<li> <p>from_walletable_type</p>\n<ul> <li>bank_account : 銀行口座</li>\n<li>credit_card : クレジットカード</li>\n<li>wallet : 現金</li>\n<li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>\n</ul> </li> </ul>\n<h2 id=\"_3\">注意点</h2>\n<ul> <li>本APIではdetails(取引の明細行)、accruals(債権債務行)、renewsのdetails(+更新の明細行)のみ操作可能です。</li>\n<li>本APIで取引を更新すると、消費税の計算方法は必ず内税方式が選択されます。</li> </ul>\n",
        "operationId": "create_deal_renew",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "取引（収入／支出）に対する+更新の情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/renewsCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/renewsCreateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/renewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/deals/{id}/renews/{renew_id}": {
      "put": {
        "tags": [
          "Renews"
        ],
        "summary": "取引（収入／支出）の+更新の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引（収入／支出）の+更新を更新する</p>\n<h2 id=\"_2\">定義</h2>\n<ul> <li> <p>issue_date : 発生日</p> </li>\n<li> <p>due_date : 支払期日</p> </li>\n<li> <p>amount : 金額</p> </li>\n<li> <p>due_amount : 支払残額</p> </li>\n<li> <p>type</p>\n<ul> <li>income : 収入</li>\n<li>expense : 支出</li> </ul> </li>\n<li> <p>details : 取引の明細行</p> </li>\n<li> <p>accruals : 取引の債権債務行</p> </li>\n<li> <p>renews : 取引の+更新行</p> </li>\n<li> <p>payments : 取引の支払行</p> </li>\n<li> <p>from_walletable_type</p>\n<ul> <li>bank_account : 銀行口座</li>\n<li>credit_card : クレジットカード</li>\n<li>wallet : 現金</li>\n<li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>\n</ul> </li> </ul>\n<h2 id=\"_3\">注意点</h2>\n<ul> <li>本APIでは+更新の更新のみ可能です。取引や支払行に対する更新はできません。</li> <li>renew_idにはrenewsのid(+更新ID)を指定してください。renewsのdetailsのid(+更新の明細行ID)を指定できません。</li> <li>月締めされている仕訳に紐づく＋更新行の編集・削除はできません。</li> <li>承認済み仕訳に紐づく＋更新行の編集・削除は管理者権限のユーザーのみ可能です。</li>\n<li>本APIで取引を更新すると、消費税の計算方法は必ず内税方式が選択されます。</li> </ul>\n",
        "operationId": "update_deal_renew",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "renew_id",
            "in": "path",
            "description": "+更新ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "+更新の更新情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/renewsUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/renewsUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/renewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Renews"
        ],
        "summary": "取引（収入／支出）の+更新の削除",
        "description": "\n<h2 id=\"\">概要</h2>\n<p>指定した事業所の取引（収入／支出）の+更新を削除する</p>\n<h2 id=\"_3\">注意点</h2>\n<ul> <li>本APIでは+更新の削除のみ可能です。取引や支払行に対する削除はできません。</li> <li>renew_idにはrenewsのid(+更新ID)を指定してください。renewsのdetailsのid(+更新の明細行ID)を指定できません。</li>\n<li>月締めされている仕訳に紐づく＋更新行の編集・削除はできません。</li> <li>承認済み仕訳に紐づく＋更新行の編集・削除は管理者権限のユーザーのみ可能です。</li>\n<li>本APIで取引を更新すると、消費税の計算方法は必ず内税方式が選択されます。</li> </ul>\n",
        "operationId": "delete_deal_renew",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "renew_id",
            "in": "path",
            "description": "+更新ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/renewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/deals/{id}/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "取引（収入／支出）の支払行作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引（収入／支出）の支払行を作成する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>\n<p>issue_date : 発生日</p>\n</li>\n\n<li>\n<p>due_date : 支払期日</p>\n</li>\n\n<li>\n<p>amount : 金額</p>\n</li>\n\n<li>\n<p>due_amount : 支払残額</p>\n</li>\n\n<li>\n<p>type</p>\n\n<ul>\n<li>income : 収入</li>\n\n<li>expense : 支出</li>\n</ul>\n</li>\n\n<li> <p>details : 取引の明細行</p> </li>\n\n<li> <p>renews : 取引の+更新行</p> </li>\n\n<li> <p>payments : 取引の支払行</p> </li>\n\n<li>\n<p>from_walletable_type</p>\n\n<ul>\n<li>bank_account : 銀行口座</li>\n\n<li>credit_card : クレジットカード</li>\n\n<li>wallet : 現金</li>\n\n<li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>\n</ul>\n</li>\n</ul>",
        "operationId": "create_deal_payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "取引（収入／支出）の支払行作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dealPaymentParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/dealPaymentParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/deals/{id}/payments/{payment_id}": {
      "put": {
        "tags": [
          "Payments"
        ],
        "summary": "取引（収入／支出）の支払行更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引（収入／支出）の支払行を更新する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>\n<p>issue_date : 発生日</p>\n</li>\n\n<li>\n<p>due_date : 支払期日</p>\n</li>\n\n<li>\n<p>amount : 金額</p>\n</li>\n\n<li>\n<p>due_amount : 支払残額</p>\n</li>\n\n<li>\n<p>type</p>\n\n<ul>\n<li>income : 収入</li>\n\n<li>expense : 支出</li>\n</ul>\n</li>\n\n<li>\n<p>details : 取引の明細行</p>\n</li>\n\n<li>\n<p>renews : 取引の+更新行</p>\n</li>\n\n<li>\n<p>payments : 取引の支払行</p>\n</li>\n\n<li>\n<p>from_walletable_type</p>\n\n<ul>\n<li>bank_account : 銀行口座</li>\n\n<li>credit_card : クレジットカード</li>\n\n<li>wallet : 現金</li>\n\n<li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>\n</ul>\n</li>\n</ul>",
        "operationId": "update_deal_payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "payment_id",
            "in": "path",
            "description": "決済ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "取引（収入／支出）の支払行更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dealPaymentParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/dealPaymentParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dealsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Payments"
        ],
        "summary": "取引（収入／支出）の支払行削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の取引（収入／支出）の支払行を削除する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>\n<p>issue_date : 発生日</p>\n</li>\n\n<li>\n<p>due_date : 支払期日</p>\n</li>\n\n<li>\n<p>amount : 金額</p>\n</li>\n\n<li>\n<p>due_amount : 支払残額</p>\n</li>\n\n<li>\n<p>type</p>\n\n<ul>\n<li>income : 収入</li>\n\n<li>expense : 支出</li>\n</ul>\n</li>\n\n<li>\n<p>details : 取引の明細行</p>\n</li>\n</ul>",
        "operationId": "destroy_deal_payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "取引ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "payment_id",
            "in": "path",
            "description": "決済ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/manual_journals": {
      "get": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "振替伝票一覧の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の振替伝票一覧を取得する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>\n<p>issue_date : 発生日</p>\n</li>\n\n<li>\n<p>adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）</p>\n</li>\n\n<li>\n<p>txn_number : 仕訳番号</p>\n</li>\n\n<li>\n<p>details : 振替伝票の貸借行</p>\n</li>\n\n<li>\n<p>entry_side : 貸借区分</p>\n\n<ul>\n<li>credit : 貸方</li>\n\n<li>debit : 借方</li>\n</ul>\n</li>\n\n<li>\n<p>amount : 金額</p>\n</li>\n</ul>\n\n<h2 id=\"_3\">注意点</h2>\n\n<ul>\n<li>振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。</li>\n<li>事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。</li>\n<li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>\n<li>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</li></ul>",
        "operationId": "get_manual_journals",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "start_issue_date",
            "in": "query",
            "description": "発生日で絞込：開始日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_issue_date",
            "in": "query",
            "description": "発生日で絞込：終了日(yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_side",
            "in": "query",
            "description": "貸借で絞込 (貸方: credit, 借方: debit)",
            "schema": {
              "type": "string",
              "enum": [
                "credit",
                "debit"
              ]
            }
          },
          {
            "name": "account_item_id",
            "in": "query",
            "description": "勘定科目IDで絞込",
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "min_amount",
            "in": "query",
            "description": "金額で絞込：下限",
            "schema": {
              "maximum": 999999999999,
              "minimum": -999999999999,
              "type": "integer"
            }
          },
          {
            "name": "max_amount",
            "in": "query",
            "description": "金額で絞込：上限",
            "schema": {
              "maximum": 999999999999,
              "minimum": -999999999999,
              "type": "integer"
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "description": "取引先IDで絞込（0を指定すると、取引先が未選択の貸借行を絞り込めます）",
            "schema": {
              "maximum": 999999999999,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "partner_code",
            "in": "query",
            "description": "取引先コードで絞込",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "query",
            "description": "品目IDで絞込（0を指定すると、品目が未選択の貸借行を絞り込めます）",
            "schema": {
              "maximum": 999999999999,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "section_id",
            "in": "query",
            "description": "部門IDで絞込（0を指定すると、部門が未選択の貸借行を絞り込めます）",
            "schema": {
              "maximum": 999999999999,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "segment_1_tag_id",
            "in": "query",
            "description": "セグメント１IDで絞り込み（0を指定すると、セグメント１が未選択の貸借行を絞り込めます）",
            "schema": {
              "maximum": 999999999999,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "segment_2_tag_id",
            "in": "query",
            "description": "セグメント２IDで絞り込み（0を指定すると、セグメント２が未選択の貸借行を絞り込めます）",
            "schema": {
              "maximum": 999999999999,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "segment_3_tag_id",
            "in": "query",
            "description": "セグメント３IDで絞り込み（0を指定すると、セグメント３が未選択の貸借行を絞り込めます）",
            "schema": {
              "maximum": 999999999999,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "comment_status",
            "in": "query",
            "description": "コメント状態で絞込（自分宛のコメント: posted_with_mention, 自分宛のコメント-未解決: raised_with_mention, 自分宛のコメント-解決済: resolved_with_mention, コメントあり: posted, 未解決: raised, 解決済: resolved, コメントなし: none）",
            "schema": {
              "type": "string",
              "enum": [
                "posted_with_mention",
                "raised_with_mention",
                "resolved_with_mention",
                "posted",
                "raised",
                "resolved",
                "none"
              ]
            }
          },
          {
            "name": "comment_important",
            "in": "query",
            "description": "重要コメント付きの振替伝票を絞込",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "adjustment",
            "in": "query",
            "description": "決算整理仕訳で絞込（決算整理仕訳のみ: only, 決算整理仕訳以外: without）",
            "schema": {
              "type": "string",
              "enum": [
                "only",
                "without"
              ]
            }
          },
          {
            "name": "txn_number",
            "in": "query",
            "description": "仕訳番号で絞込（事業所の仕訳番号形式が有効な場合のみ）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 20, 最大: 500) ",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/manualJournalsIndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "post": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "振替伝票の作成",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の振替伝票を作成する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>\n<p>issue_date : 発生日</p>\n</li>\n\n<li>\n<p>adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）</p>\n</li>\n\n<li>\n<p>txn_number : 仕訳番号</p>\n</li>\n\n<li>\n<p>details : 振替伝票の貸借行</p>\n</li>\n\n<li>\n<p>entry_side : 貸借区分</p>\n\n<ul>\n<li>credit : 貸方</li>\n\n<li>debit : 借方</li>\n</ul>\n</li>\n\n<li>\n<p>amount : 金額</p>\n</li>\n</ul>\n\n<h2 id=\"_3\">注意点</h2>\n\n<ul>\n<li>振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。</li>\n<li>事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。</li>\n<li>貸借合わせて100行まで仕訳行を登録できます。</li>\n<li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>\n<li>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</li></ul>\n\n",
        "operationId": "create_manual_journal",
        "requestBody": {
          "description": "振替伝票の作成",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/manualJournalsCreateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/manualJournalsCreateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/manualJournalsCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/manual_journals/{id}": {
      "get": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "振替伝票の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の振替伝票を取得する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul> <li> <p>issue_date : 発生日</p> </li>\n<li> <p>adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）</p> </li>\n<li> <p>txn_number : 仕訳番号</p> </li>\n<li> <p>details : 振替伝票の貸借行</p> </li>\n<li> <p>entry_side : 貸借区分</p>\n<ul> <li>credit : 貸方</li>\n<li>debit : 借方</li> </ul> </li>\n<li> <p>amount : 金額</p> </li> </ul>\n\n<h2 id=\"_3\">注意点</h2>\n\n<ul>\n<li>振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。</li>\n<li>事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。</li>\n<li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>\n</ul>",
        "operationId": "get_manual_journal",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/manualJournalsShowResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "put": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "振替伝票の更新",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の振替伝票を更新する</p>\n\n<h2 id=\"_2\">定義</h2>\n\n<ul>\n<li>\n<p>issue_date : 発生日</p>\n</li>\n\n<li>\n<p>adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）</p>\n</li>\n\n<li>\n<p>txn_number : 仕訳番号</p>\n</li>\n\n<li>\n<p>details : 振替伝票の貸借行</p>\n</li>\n\n<li>\n<p>entry_side : 貸借区分</p>\n\n<ul>\n<li>credit : 貸方</li>\n\n<li>debit : 借方</li>\n</ul>\n</li>\n\n<li>\n<p>amount : 金額</p>\n</li>\n</ul>\n\n<h2 id=\"_3\">注意点</h2>\n\n<ul>\n<li>振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。</li>\n\n<li>事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。</li>\n<li>貸借合わせて100行まで仕訳行を登録できます。</li>\n\n<li>detailsに含まれない既存の貸借行は削除されます。更新後も残したい行は、必ず貸借行IDを指定してdetailsに含めてください。</li>\n\n<li>detailsに含まれる貸借行IDの指定がある行は、更新行として扱われ更新されます。</li>\n\n<li>detailsに含まれる貸借行IDの指定がない行は、新規行として扱われ追加されます。</li>\n<li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>\n<li>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</li></ul>\n\n",
        "operationId": "update_manual_journal",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "振替伝票の更新",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/manualJournalsUpdateParams"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/manualJournalsUpdateParams"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/manualJournalsUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "振替伝票の削除",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>指定した事業所の振替伝票を削除する</p>",
        "operationId": "destroy_manual_journal",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "ログインユーザ情報の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>ユーザの情報を取得する</p>",
        "operationId": "get_users_me",
        "parameters": [
          {
            "name": "companies",
            "in": "query",
            "description": "取得情報にユーザが所属する事業所一覧を含める",
            "schema": {
              "type": "boolean",
              "enum": [
                true
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/usersMeResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
            }
          }
        }
      }
    },
    "/users/capabilities": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "ログインユーザの権限の取得",
        "description": "\n<h2 id=\"\">概要</h2>\n\n<p>ユーザの権限情報を取得する</p>",
        "operationId": "get_users_capabilities",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "maximum": 999999999999,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/usersCapabilitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/badRequestError"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
[...]
