{
  "openapi": "3.0.1",
  "info": {
    "title": "freee人事労務 API",
    "description": "freee人事労務のAPI仕様です。\n\n## [重要] freee人事労務 APIの新バージョンについて\n\nこのリファレンスはfreee人事労務 APIの新バージョンのリファレンスです。\n\n2022年7月まで[旧バージョン](https://developer.freee.co.jp/docs/hr/pre-reference)と合わせて2つのバージョンが利用できる状態です。\n\n新しいAPIを利用するにはリクエストヘッダーに以下を指定します。\n\n```\nFREEE-VERSION: 2022-02-01\n```\n\n指定がない場合には2022年7月に廃止予定のAPIを利用することになります。\n\n詳細な変更やスケジュールは[【重要】freee人事労務APIの仕様変更について](https://developer.freee.co.jp/news/5418)をご覧ください。\n\n## 認証について\n\nOAuth2.0を利用します。詳細は[ドキュメントの認証](https://developer.freee.co.jp/docs)パートを参照してください。\n\n## エンドポイント\n\nhttps://api.freee.co.jp/hr\n\n## 後方互換性ありの変更\n\nfreeeでは、APIを改善していくために以下のような変更は後方互換性ありとして通知なく変更を入れることがあります。アプリケーション実装者は以下を踏まえて開発を行ってください。\n\n- 新しいAPIリソース・エンドポイントの追加\n- 既存のAPIに対して必須ではない新しいリクエストパラメータの追加\n- 既存のAPIレスポンスに対する新しいプロパティの追加\n- 既存のAPIレスポンスに対するプロパティの順番の入れ変え\n- keyとなっているidやcodeの長さの変更（長くする）\n\n## エラーレスポンス\n\nAPIリクエストでエラーが発生した場合は、エラー原因に応じたステータスコードおよびメッセージを返します。\n\n|ステータスコード|原因|\n|---|---|\n|400|リクエストパラメータが不正|\n|401|アクセストークンが無効|\n|403|アクセス権限がない|\n|404|リソースが存在しない|\n|429|リクエスト回数制限を越えた|\n|503|システム内で予期しないエラーが発生|\n\nメッセージボディ内の `messages` にはエラー内容を説明する文字列が入ります。\n\n```\n{\n    \"status_code\": 400,\n    \"errors\": [\n        {\n            \"type\": \"bad_request\",\n            \"messages\": [\n                \"リクエストの形式が不正です。\"\n            ]\n        }\n    ]\n}\n```\n\n## API使用制限\n\nAPIリクエストは1時間で5000回を上限としています。API使用ステータスはレスポンスヘッダに付与されます。\n\n```\nX-Ratelimit-Limit:5000\nX-Ratelimit-Remaining:4998\nX-Ratelimit-Reset:2018-01-01T12:00:00.000000Z\n```\n\n各ヘッダの意味は次のとおりです。\n\n|ヘッダ名|説明|\n|---|---|\n|X-Ratelimit-Limit|使用回数の上限|\n|X-Ratelimit-Remaining|残り使用回数|\n|X-Ratelimit-Reset|使用回数がリセットされる時刻|\n\n上記に加え、freeeは一定期間に過度のアクセスを検知した場合、APIアクセスをコントロールする場合があります。\nその際のhttp status codeは403となります。制限がかかってから10分程度が過ぎると再度使用することができるようになります。\n\n",
    "termsOfService": "",
    "contact": {
      "name": "",
      "url": "https://support.freee.co.jp/hc/ja/requests/new"
    },
    "license": {
      "name": ""
    },
    "version": "v2022-02-01"
  },
  "servers": [
    {
      "url": "https://api.freee.co.jp/hr"
    }
  ],
  "security": [
    {
      "bearer": [

      ]
    }
  ],
  "tags": [
    {
      "name": "ログインユーザ",
      "description": "ログインユーザの取得"
    },
    {
      "name": "従業員",
      "description": "従業員の操作"
    },
    {
      "name": "従業員の姓名・住所など",
      "description": "従業員の姓名・住所などの操作"
    },
    {
      "name": "従業員の健康保険",
      "description": "従業員の健康保険の操作"
    },
    {
      "name": "従業員の厚生年金保険",
      "description": "従業員の厚生年金保険の操作"
    },
    {
      "name": "従業員の扶養親族",
      "description": "従業員の扶養親族の操作"
    },
    {
      "name": "従業員の銀行口座",
      "description": "従業員の銀行口座の操作"
    },
    {
      "name": "従業員の基本給",
      "description": "従業員の基本給の操作"
    },
    {
      "name": "勤怠",
      "description": "勤怠の操作"
    },
    {
      "name": "勤怠情報サマリ",
      "description": "勤怠情報の月次サマリの操作"
    },
    {
      "name": "タイムレコーダー(打刻)",
      "description": "タイムレコーダー(打刻)機能の操作"
    },
    {
      "name": "給与明細",
      "description": "給与明細の操作"
    },
    {
      "name": "賞与明細",
      "description": "賞与明細の操作"
    },
    {
      "name": "所属",
      "description": "所属の操作"
    }
  ],
  "paths": {
    "/api/v1/users/me": {
      "get": {
        "tags": [
          "ログインユーザ"
        ],
        "summary": "取得\n",
        "description": "\nこのリクエストの認可セッションにおけるログインユーザの情報を返します。\nfreee人事労務では一人のログインユーザを複数の事業所に関連付けられるため、このユーザと関連のあるすべての事業所の情報をリストで返します。\n他のAPIのパラメータとして `company_id` が求められる場合は、このAPIで取得した `company_id` を使用します。\n給与計算対象外の従業員の `employee_id` は取得できません。",
        "operationId": "get_users_me",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1UsersMeSerializer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_id}/employees": {
      "get": {
        "tags": [
          "従業員"
        ],
        "summary": "一覧の取得\n",
        "description": "\n指定した事業所に所属する従業員をリストで返します。\n- 管理者権限を持ったユーザのみ実行可能です。\n- 退職ユーザも含めて取得可能です。",
        "operationId": "get_company_employees",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647,
              "example": 0
            }
          },
          {
            "name": "company_id",
            "in": "path",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            },
            "example": 1
          },
          {
            "name": "with_no_payroll_calculation",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "trueを指定すると給与計算対象外の従業員情報をレスポンスに含めます。",
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiV1CompaniesEmployeeSerializer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/employees": {
      "get": {
        "tags": [
          "従業員"
        ],
        "summary": "一覧の取得\n",
        "description": "\n指定した対象年月に事業所に所属する従業員をリストで返します。\n- 管理者権限を持ったユーザのみ実行可能です。\n- 指定した年月に退職済みユーザは取得できません。",
        "operationId": "get_employees",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            },
            "description": "事業所ID",
            "example": 1
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            },
            "description": "対象年月（年）",
            "example": 2021
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            },
            "example": 1,
            "description": "対象年月（月）"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesIndexSerializer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "従業員"
        ],
        "summary": "作成\n",
        "description": "\n従業員を新規作成します。\n- 管理者権限を持ったユーザのみ実行可能です。",
        "operationId": "create_employee",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiV1EmployeesController.create_body"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesController.create_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/employees/{id}": {
      "get": {
        "tags": [
          "従業員"
        ],
        "summary": "取得\n",
        "description": "\n指定したIDの従業員を返します。\n- 管理者権限を持ったユーザのみ実行可能です。\n- 指定した対象年月に退職済みユーザは取得できません。",
        "operationId": "get_employee",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            },
            "description": "事業所ID",
            "example": 1
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            },
            "description": "対象年月（年）",
            "example": 2021
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            },
            "example": 1,
            "description": "対象年月（月）"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Scope response to id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesController.show_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/notfoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "従業員"
        ],
        "summary": "更新\n",
        "description": "\n指定した従業員の情報を更新します。\n- 管理者権限を持ったユーザのみ実行可能です。",
        "operationId": "update_employee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Scope response to id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiV1EmployeesController.update_body"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesController.update_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/notfoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "従業員"
        ],
        "summary": "削除\n",
        "description": "\n指定したIDの従業員を削除します。\n- 管理者権限を持ったユーザのみ実行可能です。",
        "operationId": "destroy_employee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Scope response to id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            },
            "example": 1
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/notfoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/employees/{employee_id}/profile_rule": {
      "get": {
        "tags": [
          "従業員の姓名・住所など"
        ],
        "summary": "取得\n",
        "description": "\n指定した従業員・日付の姓名などの情報を返します。",
        "operationId": "get_employee_profile_rule",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "対象年",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "対象月<br>\n締日支払日設定が翌月払いの従業員情報の場合は、\n指定したmonth + 1の値が検索結果として戻ります。",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesProfileRulesController.show_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "従業員の姓名・住所など"
        ],
        "summary": "更新\n",
        "description": "\n指定した従業員の姓名・住所などを更新します。",
        "operationId": "update_employee_profile_rule",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiV1EmployeesProfileRulesController.update_body"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesProfileRulesController.update_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/employees/{employee_id}/health_insurance_rule": {
      "get": {
        "tags": [
          "従業員の健康保険"
        ],
        "summary": "取得\n",
        "description": "\n指定した従業員・日付の健康保険情報を返します。\n- 管理者権限を持ったユーザのみ実行可能です。",
        "operationId": "get_employee_health_insurance_rule",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647,
              "example": 1
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "対象年",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100,
              "example": 2021
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "対象月",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12,
              "example": 1
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesHealthInsuranceRulesController.show_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "従業員の健康保険"
        ],
        "summary": "更新\n",
        "description": "\n指定した従業員の健康保険情報を更新します。\n- 管理者権限を持ったユーザのみ実行可能です。",
        "operationId": "update_employee_health_insurance_rule",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiV1EmployeesHealthInsuranceRulesController.update_body"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesHealthInsuranceRulesController.update_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/employees/{employee_id}/welfare_pension_insurance_rule": {
      "get": {
        "tags": [
          "従業員の厚生年金保険"
        ],
        "summary": "取得\n",
        "description": "\n指定した従業員・日付の厚生年金保険情報を返します。\n- 管理者権限を持ったユーザのみ実行可能です。",
        "operationId": "get_employee_welfare_pension_insurance_rule",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "対象年",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "対象月",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesWelfarePensionInsuranceRulesController.show_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "従業員の厚生年金保険"
        ],
        "summary": "更新\n",
        "description": "\n指定した従業員の厚生年金保険情報を更新します。",
        "operationId": "update_employee_welfare_pension_insurance_rule",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiV1EmployeesWelfarePensionInsuranceRulesController.update_body"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesWelfarePensionInsuranceRulesController.update_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/employees/{employee_id}/dependent_rules": {
      "get": {
        "tags": [
          "従業員の扶養親族"
        ],
        "summary": "取得\n",
        "description": "\n指定した従業員・日付の扶養親族情報を返します。",
        "operationId": "get_employee_dependent_rules",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "対象年",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "対象月",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesDependentRulesController.index_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/employees/{employee_id}/dependent_rules/bulk_update": {
      "put": {
        "tags": [
          "従業員の扶養親族"
        ],
        "summary": "更新\n",
        "description": "指定した従業員の扶養親族情報を更新します。\nidがない場合は新規作成、destroyがtrueの場合は削除になります。\n\nresidence_type=live_in: 同居の場合、以下のパラメータに指定した値はWebに反映されません。\n- zipcode1\n- zipcode2\n- prefecture_code\n- address\n- address_kana\n- annual_remittance_amount\n\nresidence_type=non_resident: 別居(国外)の場合、以下のパラメータに指定した値はWebに反映されません。\n- prefecture_code",
        "operationId": "bulk_update_employee_dependent_rules",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiV1EmployeesDependentRulesController.bulk_update_body"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesDependentRulesController.bulk_update_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/employees/{employee_id}/bank_account_rule": {
      "get": {
        "tags": [
          "従業員の銀行口座"
        ],
        "summary": "取得\n",
        "description": "\n指定した従業員・日付の銀行口座情報を返します。",
        "operationId": "get_employee_bank_account_rule",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "対象年",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "対象月",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesBankAccountRulesController.show_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "従業員の銀行口座"
        ],
        "summary": "更新\n",
        "description": "\n指定した従業員の銀行口座1の情報を更新します。",
        "operationId": "update_employee_bank_account_rule",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiV1EmployeesBankAccountRulesController.update_body"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesBankAccountRulesController.update_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/employees/{employee_id}/basic_pay_rule": {
      "get": {
        "tags": [
          "従業員の基本給"
        ],
        "summary": "取得\n",
        "description": "\n指定した従業員・日付の基本給情報を返します。\n- 管理者権限を持ったユーザのみ実行可能です。",
        "operationId": "get_employee_basic_pay_rule",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647,
              "example": 1
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "対象年",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100,
              "example": 2021
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "対象月",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12,
              "example": 1
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesBasicPayRulesController.show_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "従業員の基本給"
        ],
        "summary": "更新\n",
        "description": "\n指定した従業員の基本給情報を更新します。\n- 管理者権限を持ったユーザのみ実行可能です。",
        "operationId": "update_employee_basic_pay_rule",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiV1EmployeesBasicPayRulesController.update_body"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesBasicPayRulesController.update_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/employees/{employee_id}/work_records/{date}": {
      "get": {
        "tags": [
          "勤怠"
        ],
        "summary": "取得\n",
        "description": "\n指定した従業員・日付の勤怠情報を返します。",
        "operationId": "get_employee_work_record",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "対象日(YYYY-MM-DD)(例:2018-08-01)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesWorkRecordSerializer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "勤怠"
        ],
        "summary": "更新\n",
        "description": "\n指定した従業員の勤怠情報を更新します。\n※振替出勤・振替休日の登録はAPIでは行うことができません。\n\n# examples\n\n出勤日について出退勤時刻および休憩時間を更新する場合は以下のようなパラメータをリクエストします。\n\n```\n{\n  \"work_record\": {\n    \"company_id\": 1,\n    \"break_records\": [\n      {\n        \"clock_in_at\": \"2017-05-25 12:00:00\",\n        \"clock_out_at\": \"2017-05-25 13:00:00\"\n      }\n    ],\n    \"clock_in_at\": \"2017-05-25 09:10:00\",\n    \"clock_out_at\": \"2017-05-25 18:20:00\"\n  }\n}\n```\n\n勤務パターンや既定の所定労働時間を変更する場合は use_default_work_pattern に false を指定するとともに、各設定を上書きするパラメータをリクエストします。\n\n```\n{\n  \"work_record\": {\n    \"company_id\": 1,\n    \"break_records\": [\n      {\n        \"clock_in_at\": \"2017-05-25 12:00:00\",\n        \"clock_out_at\": \"2017-05-25 13:00:00\"\n      }\n    ],\n    \"clock_in_at\": \"2017-05-25 09:10:00\",\n    \"clock_out_at\": \"2017-05-25 18:20:00\",\n    \"day_pattern\": \"normal_day\",\n    \"normal_work_clock_in_at\": \"2017-05-25 11:00:00\",\n    \"normal_work_clock_out_at\": \"2017-12-20 20:00:00\",\n    \"normal_work_mins\": 0,\n    \"use_default_work_pattern\": false\n  }\n}\n```\n\n有給取得時の連携について\n半休の場合は通常勤務のように勤務開始・終了時間を指定しつつ、加えて以下の２つの要素を指定することで API での勤怠をつけることができます。\n    - paid_holiday (半休の場合は 0.5 とします)\n    - normal_work_mins_by_paid_holiday (半休により計上される所定労働時間を分で指定します)\n\n```\n{\n  \"work_record\": {\n    \"company_id\": 1,\n    \"break_records\": [\n      {\n        \"clock_in_at\": \"2017-05-25 12:00:00\",\n        \"clock_out_at\": \"2017-05-25 13:00:00\"\n      }\n    ],\n    \"clock_in_at\": \"2017-05-25 09:10:00\",\n    \"clock_out_at\": \"2017-05-25 18:20:00\",\n    \"paid_holiday\": 0.5,\n    \"normal_work_mins_by_paid_holiday\": 240\n  }\n}\n```\n\n欠勤を付ける場合は company_idとis_absence 以外のパラメータは必要ありません。\n\n```\n{\n  \"work_record\": {\n    \"company_id\": 1,\n    \"is_absence\": true\n  }\n}\n```",
        "operationId": "update_employee_work_record",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "対象日(YYYY-MM-DD)(例:2018-08-01)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiV1EmployeesWorkRecordsController.update_body"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesWorkRecordSerializer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "勤怠"
        ],
        "summary": "削除\n",
        "description": "\n指定した従業員の勤怠情報を削除します。",
        "operationId": "destroy_employee_work_record",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "対象日(YYYY-MM-DD)(例:2018-08-01)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "maximum": 2147483647,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/notfoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/employees/{employee_id}/work_record_summaries/{year}/{month}": {
      "get": {
        "tags": [
          "勤怠情報サマリ"
        ],
        "summary": "勤怠情報月次サマリの取得\n",
        "description": "\n指定した従業員、月の勤怠情報のサマリを返します。\nwork_recordsオプションにtrueを指定することで、明細となる日次の勤怠情報もあわせて返却します。",
        "operationId": "get_employee_work_record_summary",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "work_records",
            "in": "query",
            "description": "サマリ情報に日次の勤怠情報を含める(true/false)(デフォルト: false)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647,
              "example": 1
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "対象年",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100,
              "example": 2021
            }
          },
          {
            "name": "month",
            "in": "path",
            "description": "対象月",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesWorkRecordSummarySerializer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "勤怠情報サマリ"
        ],
        "summary": "勤怠情報月次サマリの更新\n",
        "description": "\n指定した従業員、月の勤怠情報のサマリを更新します。勤怠データが存在しない場合は新規作成、既に存在する場合は上書き更新されます。\n※日毎の勤怠の更新はこのAPIではできません。日毎の勤怠の操作には勤怠APIを使用して下さい。\n※管理者権限を持ったユーザのみ実行可能です。\n\n## 更新可能な項目\n※値が設定された項目のみ更新されます。値が設定されなかった場合は自動的に0が設定されます。\n- work_days：総勤務日数\n- work_days_on_weekdays：所定労働日の勤務日数\n- work_days_on_prescribed_holidays：所定休日の勤務日数\n- work_days_on_legal_holidays：法定休日の勤務日数\n- total_work_mins：労働時間（分）\n- total_normal_work_mins：所定労働時間（分）\n- total_excess_statutory_work_mins：給与計算に用いられる法定内残業時間（分）\n- total_holiday_work_mins：法定休日労働時間（分）\n- total_latenight_work_mins：深夜労働時間（分）\n- total_actual_excess_statutory_work_mins：実労働時間ベースの法定内残業時間（分）\n- total_overtime_work_mins：時間外労働時間（分）\n- num_absences：欠勤日数\n- num_absences_for_deduction：控除対象の欠勤日数\n- total_lateness_mins：遅刻時間（分）\n- total_lateness_mins_for_deduction：控除対象の遅刻時間（分）\n- total_early_leaving_mins：早退時間（分）\n- total_early_leaving_mins_for_deduction：控除対象の早退時間（分）\n- num_paid_holidays：有給取得日数\n- total_shortage_work_mins：不足時間（分）（フレックスタイム制でのみ使用）\n- total_deemed_paid_excess_statutory_work_mins：支給対象の法定内残業時間（分）（裁量労働制でのみ使用）\n- total_deemed_paid_overtime_except_normal_work_mins：支給対象の時間外労働時間（分）（裁量労働制でのみ使用）\n\n# examples\n\n勤怠情報を更新する場合は以下のようなパラメータをリクエストします。\n\n```\n{\n  \"work_days\": 20,\n  \"work_days_on_weekdays\": 20,\n  \"work_days_on_prescribed_holidays\": 0,\n  \"work_days_on_legal_holidays\": 0,\n  \"total_work_mins\": 9600,\n  \"total_normal_work_mins\": 9000,\n  \"total_excess_statutory_work_mins\": 600,\n  \"total_holiday_work_mins\": 0,\n  \"total_latenight_work_mins\": 0,\n  \"total_actual_excess_statutory_work_mins\": 0,\n  \"total_overtime_work_mins\": 600,\n  \"num_absences\": 0,\n  \"num_absences_for_deduction\": 0,\n  \"total_lateness_mins\": 60,\n  \"total_lateness_mins_for_deduction\": 60,\n  \"total_early_leaving_mins\": 60,\n  \"total_early_leaving_mins_for_deduction\": 60,\n  \"num_paid_holidays\": 2\n}\n```",
        "operationId": "update_employee_work_record_summary",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647,
              "example": 1
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "対象年",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100,
              "example": 2021
            }
          },
          {
            "name": "month",
            "in": "path",
            "description": "対象月",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiV1EmployeesWorkRecordSummaryController.update_body"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesWorkRecordSummarySerializer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/employees/{employee_id}/time_clocks": {
      "get": {
        "tags": [
          "タイムレコーダー(打刻)"
        ],
        "summary": "打刻情報の一覧取得\n",
        "description": "\n指定した従業員・期間の打刻情報を返します。\nデフォルトでは従業員の当月の打刻開始日から当日までの値が返ります。\n\n本APIはベーシックプラン以上で利用可能なAPIです。対象外のプランでは403エラーを返却します。",
        "operationId": "get_employee_time_clocks",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "取得する打刻期間の開始日(YYYY-MM-DD)(例:2018-08-01)(デフォルト: 当月の打刻開始日)",
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "取得する打刻期間の終了日(YYYY-MM-DD)(例:2018-08-31)(デフォルト: 当日)",
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesTimeClocksController.index_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "タイムレコーダー(打刻)"
        ],
        "summary": "打刻情報の登録\n",
        "description": "\n指定した従業員の打刻情報を登録します。\n休憩開始の連続や退勤のみなど、整合性の取れていない打刻は登録できません。\n退勤の打刻は、すでに登録されている退勤打刻よりも後の時刻であれば上書き登録することができます。\n打刻可能種別の取得APIを呼ぶことで、その従業員がその時点で登録可能な打刻種別が取得できます。\n打刻が日をまたぐ場合は、base_date(打刻日)に前日の日付を指定してください。\ndatetime(打刻日時)を指定できるのは管理者か事務担当者の権限を持ったユーザのみです。\n\n本APIはベーシックプラン以上で利用可能なAPIです。対象外のプランでは403エラーを返却します。\n\n## 操作可能な打刻種別\n- clock_in：出勤\n- break_begin：休憩開始\n- break_end：休憩終了\n- clock_out：退勤",
        "operationId": "create_employee_time_clock",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiV1EmployeesTimeClocksController.create_body"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesTimeClocksController.create_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/employees/{employee_id}/time_clocks/{id}": {
      "get": {
        "tags": [
          "タイムレコーダー(打刻)"
        ],
        "summary": "打刻情報の詳細取得\n",
        "description": "\n指定した従業員・指定した打刻の詳細情報を返します。\n打刻情報の一覧取得APIにて取得した打刻IDを利用することができます。\n\n本APIはベーシックプラン以上で利用可能なAPIです。対象外のプランでは403エラーを返却します。",
        "operationId": "get_employee_time_clock",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "打刻ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesTimeClocksController.show_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/notfoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/employees/{employee_id}/time_clocks/available_types": {
      "get": {
        "tags": [
          "タイムレコーダー(打刻)"
        ],
        "summary": "打刻可能種別の取得\n",
        "description": "\n指定した従業員・日付の打刻可能種別と打刻基準日を返します。\n例: すでに出勤した状態だと、休憩開始、退勤が配列で返ります。\n\n本APIはベーシックプラン以上で利用可能なAPIです。対象外のプランでは403エラーを返却します。\n\n## 返却される打刻種別\n- clock_in：出勤\n- break_begin：休憩開始\n- break_end：休憩終了\n- clock_out：退勤\n## 返却される日付\n- base_date：打刻基準日",
        "operationId": "get_employee_time_clocks_available_types",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "事業所ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "対象日(YYYY-MM-DD)(例:2018-08-01)(デフォルト：当日)",
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "従業員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1EmployeesTimeClocksController.available_types_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/salaries/employee_payroll_statements": {
      "get": {
        "tags": [
          "給与明細"
        ],
        "summary": "一覧の取得\n",
        "description": "\n指定した事業所に所属する従業員の給与明細をリストで返します。\n指定した年月に支払いのある給与明細が返されます。\n- 複数時給を設定している場合はpaymentsに内訳が返されます。\n- 管理者権限を持ったユーザのみ実行可能です。",
        "operationId": "get_salaries_employee_payroll_statements",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1SalariesEmployeePayrollStatementsController.index_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/salaries/employee_payroll_statements/{employee_id}": {
      "get": {
        "tags": [
          "給与明細"
        ],
        "summary": "取得\n",
        "description": "\n指定した従業員ID、年月の給与明細を返します。\n指定した年月に支払いのある給与明細が返されます。\n- 複数時給を設定している場合はpaymentsに内訳が返されます。\n- 管理者権限を持ったユーザのみ実行可能です。\n\n# examples\n```\n{\n \"employee_payroll_statement\": {\n   \"id\": 1,\n   \"company_id\": 1,\n   \"employee_id\": 1,\n   \"employee_name\": \"給与 太郎\",\n   \"employee_display_name\": \"給与 太郎\",\n   \"employee_num\": \"001\",\n   \"pay_date\": \"2018-02-25\",\n   \"start_date\": \"2018-02-01\",\n   \"closing_date\": \"2018-02-28\",\n   \"variable_pay_start_date\": \"2018-01-01\",\n   \"variable_pay_closing_date\": \"2018-01-31\",\n   \"fixed\": true,\n   \"calc_status\": \"calculated\",\n   \"calculated_at\": \"2018-09-27T05:06:45.315Z\",\n   \"pay_calc_type\": \"monthly\",\n   \"basic_pay_amount\": \"300000.0\",\n   \"work_days\": \"21.0\",\n   \"normal_work_time\": \"8.0\",\n   \"normal_work_days\": \"21.0\",\n   \"work_mins_by_paid_holiday\": \"480.0\",\n   \"num_paid_holidays\": \"1.0\",\n   \"is_board_member\": true,\n   \"total_attendance_deduction_amount\": \"0.0\",\n   \"total_allowance_amount\": \"0.0\",\n   \"total_deduction_amount\": \"23830.0\",\n   \"net_payment_amount\": \"277170.0\",\n   \"gross_payment_amount\": \"301000.0\",\n   \"total_worked_days_count\": \"21.0\",\n   \"total_taxable_payment_amount\": \"301000.0\",\n   \"total_expense_amount\": \"0.0\",\n   \"total_transfer_amount\": \"277170.0\",\n   \"total_annual_payment_amount\": \"600000.0\",\n   \"payments\": [{ \"name\": \"基本給\", \"amount\": \"300000.0\"},{ \"name\": \"残業代\", \"amount\": \"1000.0\"}],\n   \"deductions\": [{\"name\": \"所得税\", \"amount\": \"7000.0\"}, {\"name\": \"健康保険料\", \"amount\": \"16830.0\"}],\n   \"attendances\": [{\"name\": \"遅刻・早退\", \"time\": \"0.0\", \"amount\": \"0.0\"}],\n   \"overtime_pays\": [{ \"name\": \"時間外労働\", \"time\": \"60.0\", \"amount\": \"1000.0\", \"code\": null }, { \"name\": \"カスタム固定残業代\", \"time\": null, \"amount\": \"10000.0\", \"code\": \"a001\" }],\n   \"remark\": \"備考\"\n }\n}\n```",
        "operationId": "get_salaries_employee_payroll_statement",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "Scope response to employee_id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1SalariesEmployeePayrollStatementsController.show_response"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/notfoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonuses/employee_payroll_statements": {
      "get": {
        "tags": [
          "賞与明細"
        ],
        "summary": "一覧の取得\n",
        "description": "\n指定した事業所に所属する従業員の賞与明細をリストで返します。\n指定した年月に支払いのある賞与明細が返されます。\n- 管理者権限を持ったユーザのみ実行可能です。",
        "operationId": "get_bonuses_employee_payroll_statements",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "取得レコードのオフセット (デフォルト: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiV1BonusesEmployeePayrollStatementsIndexSerializer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/forbiddenError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accessDeniedError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/notfoundError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bonuses/employee_payroll_statements/{employee_id}": {
      "get": {
        "tags": [
          "賞与明細"
        ],
        "summary": "取得\n",
[...]
